<template>
    <div class="main-wrap">
        <section class="shop">
            <div class="shop-content">
                <header class="shop-content-header">
                    <router-link class="btn btn-icon btn-icon-left"
                                 :to="{ name: 'store.item.create' }"><i class="icon icon-stithy"></i>Создать вещь
                    </router-link>
                    <h1>{{ store.title }}</h1>
                </header>
                <div class="shop-content-subheader">
                    <store-filters
                            @store-filter-user-rank-change="onUserRankChange"
                            @store-filter-user-level-change="onUserLevelChange"></store-filters>
                    <store-category-badge v-model="category"></store-category-badge>
                    <store-items-list-buy v-if="storeLoaded"
                                          :items="itemsCollection"
                                          @item-buy="onItemBought"></store-items-list-buy>
                </div>

            </div>
            <aside class="shop-aside">
                <header class="character-skills-header">
                    <div class="character-skills-header-row">
                        <div class="character-note">
                            <div class="character-note-box">
                                <span class="character-note-label is-gold">Ваше золото</span>
                                <span class="coins">
                                <i class="icon icon-coins"></i> {{ user.dinars | numberThousand }}
                            </span>
                            </div>
                        </div>
                        <backpack-status :current="user.abilities.backpack_weight_current"
                                         :max="user.abilities.backpack_weight_max"></backpack-status>
                    </div>
                    <div class="character-skills-header-row">
                        <button type="button" class="btn btn-small" @click="goToSellStore">
                            Продать&nbsp;<strong>вещи</strong></button>
                        <button type="button" class="btn btn-small">Продать&nbsp;<strong>ресурсы</strong></button>
                    </div>
                </header>
                <store-categories :category="category" @store-category-change="onCategoryChange"></store-categories>
            </aside>
        </section>
    </div>
</template>

<script>
    import { STORE_BUY_ITEM } from './mutations';
    import { STORE_BY_SLUG } from './queries';

    import Store from './Store';
    import StoreItemsListBuy from './items/StoreItemsListBuy';

    export default {
        extends: Store,
        components: {
            StoreItemsListBuy,
        },
        methods: {
            goToSellStore() {
                this.$router.push({ name: 'store-sell', params: { slug: this.store.slug } });
            },
            onItemBought(id) {
                this.$apollo.mutate({
                    mutation: STORE_BUY_ITEM,
                    variables: {
                        storeId: this.store._id,
                        itemId: id,
                    },
                }).then(() => this.$auth.fetch());
            },
        },
        apollo: {
            store: {
                query: STORE_BY_SLUG,
                fetchPolicy: 'network-only',
                variables() {
                    return {
                        slug: this.slug,
                        itemsPage: this.page,
                        withItems: true,
                        itemsFilters: this.itemsFilters,
                    };
                },
            },
        },
    };
</script>
