<template>
    <div class="character-accordion">
        <collapse v-for="(category, indexC) in categories" :key="indexC" :selected="true">
            <div slot="collapse-header">
                <h6>{{ category.title }}</h6>
            </div>
            <div slot="collapse-body">
                <ul class="inventory-list">
                    <li class="inventory-item"
                        v-for="(subCategory, indexSC) in category.children" :key="indexSC">
                        <a class="inventory-item-box" @click.prevent="onCategoryClick(subCategory.slug)">
                            <span class="inventory-item-img">
                                <i class="icon" :class="subCategory.className"></i>
                            </span>
                            <span class="inventory-item-name">{{ subCategory.title }}</span>
                        </a>
                        <div class="separator"></div>
                    </li>
                </ul>
            </div>
        </collapse>
    </div>
    <!--<ul class="store-categories">-->
        <!--<li v-for="category in categories">-->
            <!--<router-link :to="{ name: 'storeCategory', params: { category: category.slug } }">{{ category.title }}</router-link>-->
            <!--<ul v-if="category.children && category.children.length > 0">-->
                <!--<li v-for="subCategory in category.children">-->
                    <!--<router-link :to="{ name: 'storeCategory', params: { category: category.slug + ':' + subCategory.slug } }">{{ subCategory.title }}</router-link>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
</template>

<script>
    import Collapse from '@/components/Collapse';

    export default {
        components: {
            Collapse,
        },
        props: {
            category: {
                type: String,
                default: '',
            },
        },
        data() {
            return {
                categories: [
                    {
                        title: 'Оружие',
                        slug: 'weapon',
                        children: [
                            {
                                title: 'Топоры, секиры',
                                slug: 'axes',
                                className: 'icon-axe',
                                children: [],
                            },
                            {
                                title: 'Кастеты, ножи',
                                slug: 'knives',
                                className: 'icon-knife',
                                children: [],
                            },
                            {
                                title: 'Дубины, булавы',
                                slug: 'bets',
                                className: 'icon-mace',
                                children: [],
                            },
                            {
                                title: 'Мечи',
                                slug: 'swords',
                                className: 'icon-sword-single',
                                children: [],
                            },
                        ],
                    },
                    {
                        title: 'Одежда',
                        slug: 'clothes',
                        children: [
                            {
                                title: 'Сапоги',
                                slug: 'boots',
                                className: 'icon-boots',
                                children: [],
                            },
                            {
                                title: 'Перчатки',
                                slug: 'gloves',
                                className: 'icon-gloves',
                                children: [],
                            },
                            {
                                title: 'Рубахи',
                                slug: 'shirts',
                                className: 'icon-shirt',
                                children: [],
                            },
                            {
                                title: 'Броня',
                                slug: 'armor',
                                className: 'icon-armor',
                                children: [],
                            },
                            {
                                title: 'Шлемы',
                                slug: 'helmets',
                                className: 'icon-helmet',
                                children: [],
                            },
                            {
                                title: 'Наручи',
                                slug: 'bracelets',
                                className: 'icon-handcuffs',
                                children: [],
                            },
                            {
                                title: 'Пояса',
                                slug: 'belts',
                                className: 'icon-belt',
                                children: [],
                            },
                            {
                                title: 'Поножи',
                                slug: 'leggings',
                                className: 'icon-legs',
                                children: [],
                            },
                            {
                                title: 'Щиты',
                                slug: 'shields',
                                className: 'icon-guard',
                                children: [],
                            },
                            {
                                title: 'Плащи',
                                slug: 'cloaks',
                                className: 'icon-cloak',
                                children: [],
                            },
                        ],
                    },
                    {
                        title: 'Ювелирные украшения',
                        slug: 'jewelry',
                        children: [
                            {
                                title: 'Серьги',
                                slug: 'earrings',
                                className: 'icon-earring',
                                children: [],
                            },
                            {
                                title: 'Ожерелья',
                                slug: 'amulets',
                                className: 'icon-necklace',
                                children: [],
                            },
                            {
                                title: 'Кольца',
                                slug: 'rings',
                                className: 'icon-ring',
                                children: [],
                            },
                        ],
                    },
                ],
            };
        },
        methods: {
            onCategoryClick(slug) {
                this.$emit('store-category-change', slug);
            },
        },
        name: 'store-categories',
    };
</script>

<style lang="scss">
    .store-categories {
        ul {
            margin-left: 10px;
        }
        .router-link-exact-active {
            text-decoration: none;
            color: black;
        }
    }
</style>
