<template>
</template>

<script>
    import * as _ from 'lodash';

    import BackpackStatus from '@/components/Inventory/BackpackStatus';

    import StoreCategories from './StoreCategories';
    import StoreCategoryBadge from './StoreCategoryBadge';
    import StoreFilters from './StoreFilters';
    import StoreItemsList from './items/StoreItemsList';

    export default {
        components: {
            BackpackStatus,
            StoreCategories,
            StoreCategoryBadge,
            StoreItemsList,
            StoreFilters,
        },
        data() {
            return {
                page: 1,
                slug: '',
                category: '',
                store: {
                    title: '',
                    slug: '',
                    tax: 0,
                    items: {
                        data: [],
                        pagination: {
                            totalItemsCount: 0,
                            totalPages: 0,
                            page: 1,
                            itemsPerPage: 0,
                        },
                    },
                },
                itemsFilters: {
                    min_user_rank: 0,
                    min_user_level: 0,
                    types: [],
                },
                categoryToTypeMapping: {
                    weapon: ['AXE', 'MACE', 'SWORD', 'KNIFE_LEFT', 'KNIFE'],
                    bets: ['MACE'],
                    swords: ['SWORD'],
                    axes: ['AXE'],
                    knives: ['KNIFE', 'KNIFE_LEFT'],
                    clothes: [
                        'BOOTS', 'GLOVES', 'CLOAK', 'SHIRT', 'ARMOR', 'HELMET', 'BRACELET', 'BELT',
                        'LEGGINGS', 'SHIELD',
                    ],
                    boots: ['BOOTS'],
                    gloves: ['GLOVES'],
                    cloaks: ['CLOAK'],
                    shirts: ['SHIRT'],
                    armor: ['ARMOR'],
                    helmets: ['HELMET'],
                    bracelets: ['BRACELET'],
                    belts: ['BELT'],
                    leggings: ['LEGGINGS'],
                    shields: ['SHIELD'],
                    jewelry: ['EARRINGS', 'AMULET', 'RING'],
                    earrings: ['EARRINGS'],
                    amulets: ['AMULET'],
                    rings: ['RING'],
                },
            };
        },
        computed: {
            storeLoaded() {
                return _.get(this.store, 'slug', '') !== '';
            },
            user() {
                return this.$auth.user();
            },
            itemIds() {
                return _.map(this.itemsCollection, item => item.item._id);
            },
            itemsCollection() {
                return _.get(this.store.items, 'data', []);
            },
            totalPages() {
                return _.get(this.store.items, 'pagination.totalPages', 0);
            },
        },
        mounted() {
            this.slug = _.get(this.$route.params, 'slug', '');
        },
        watch: {
            category(category) {
                const typesFilter = {
                    types: (category && category in this.categoryToTypeMapping) ?
                        this.categoryToTypeMapping[category] : [],
                };
                this.itemsFilters = Object.assign({}, this.itemsFilters, typesFilter);
            },
        },
        methods: {
            onCategoryChange(category) {
                this.category = category;
            },
            onUserRankChange(rank) {
                this.applyFilter('min_user_rank', rank);
            },
            onUserLevelChange(level) {
                this.applyFilter('min_user_level', level);
            },
            applyFilter(name, value) {
                this.$set(this.itemsFilters, name, value);
                this.$apollo.queries.store.refetch();
            },
        },
    };
</script>
