<template>
    <div class="filters">
        <div class="filter">
            <label for="filter-range">Фильтр по званию</label>
            <div class="select">
                <select v-model="userRank" name="filter-range" id="filter-range" @change="onUserRankChange">
                    <option v-for="rank in userRanks" :value="rank.position">{{ rank.title }}</option>
                </select>
            </div>
        </div>
        <div class="filter" v-if="false">
            <label for="filter-kit">Фильтр по комплекту</label>
            <div class="select">
                <select name="filter-kit" id="filter-kit">
                    <option value="1">Все комплекты</option>
                </select>
            </div>
        </div>
        <div class="filter">
            <label for="filter-level">Фильтр по уровню</label>
            <div class="select">
                <select v-model="userLevel" name="filter-level" id="filter-level" @change="onUserLevelChange">
                    <option value="0">-- Все уровни --</option>
                    <option v-for="level in userLevels" :value="level">{{ level }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>

    import * as _ from 'lodash';

    import { USER_RANKS_LIST } from './queries';

    export default {
        data() {
            return {
                userRank: 0,
                userLevel: 0,
                userRanks: [],
                userLevels: _.range(1, 101),
            };
        },
        methods: {
            onUserRankChange() {
                this.$emit('store-filter-user-rank-change', this.userRank);
            },
            onUserLevelChange() {
                this.$emit('store-filter-user-level-change', this.userLevel);
            },
        },
        name: 'store-filters',
        apollo: {
            userRanks: {
                query: USER_RANKS_LIST,
                fetchPolicy: 'cache-and-network',
            },
        },
    };
</script>
