<template>
    <div class="tags">
        <div class="tag" v-if="value !== ''">
            <i class="icon icon-armor is-small"></i>
            <span>{{ categoryTitle }}</span>
            <button class="btn-remove" @click.prevent="onCategoryResetClick"></button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
        },
        data() {
            return {};
        },
        computed: {
            categoryTitle() {
                return this.categories[this.value] || '';
            },
            categories() {
                return {
                    bets: 'Дубины, булавы',
                    swords: 'Мечи',
                    axes: 'Топоры, секиры',
                    knives: 'Кастеты, ножи',
                    boots: 'Сапоги',
                    gloves: 'Перчатки',
                    cloaks: 'Плащи',
                    shirts: 'Рубахи',
                    armor: 'Броня',
                    helmets: 'Шлемы',
                    bracelets: 'Наручи',
                    belts: 'Пояса',
                    leggings: 'Поножи',
                    shields: 'Щиты',
                    earrings: 'Серьги',
                    amulets: 'Ожерелья',
                    rings: 'Кольца',
                };
            },
        },
        methods: {
            onCategoryResetClick() {
                this.$emit('input', '');
            },
        },
        name: 'store-category-badge',
    };
</script>
