/* region #HELPERS */
.is-left {
  float: left;
}

.is-right {
  float: right;
}

.success {
  color: $color-green !important;
}

.danger {
  color: $color-red !important;
}

.warn {
  color: $color-burgundy !important;
}

.is-gold {
  color: $color-gold !important;
}

.coins {
  font: {
    family: $font-family-slabo-27px;
    size: 18px;
  }
  color: $color-gold;
}

.flex-column,
.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

/* endregion #HELPERS */