/* region #artifacts */
.artifacts {
  padding: 30px;
  border: 1px solid $color-white;
  box-shadow: inset 0 0 8px 0 rgba($color-grey, .25);
  background: $color-middle-grey;
  width: 100%;
}

.artifact {
  display: flex;
  flex-flow: row nowrap;

  .inventory-item-name {
    text-align: center;

    &.warn {
      color: $color-burgundy;

      span {
        color: inherit;
      }
    }
  }

  .artifact-add {
    color: $color-light-green;
    font: {
      family: $font-family-slabo-27px;
      size: 13px;
    }
    position: absolute;
    left: 100%;
    margin: 0 6px;
  }

  p {
    margin-top: 0;
  }

  &-info {
    background: url("#{$img-path}/bg/bg-stone.png") no-repeat top left;
    border: 1px solid #f2f3f4;
    box-shadow: inset 0 0 0 1px #d9dbdb;
    padding: 15px 11px;
    width: 120px;
    text-align: center;
    align-self: baseline;
  }

  &-figure {
    border: 1px solid #c3c5c6;
    display: inline-block;
    box-shadow: 0 0 16px 0 rgba(#b6b8b9, .7);
    margin: 0 0 13px;

    img {
      display: block;
      border: 1px solid #eef0f1;
    }
  }

  &-runes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 13px;

    span {
      color: #858585;
      font: {
        size: 9px;
      }
      text-shadow: 1px 1px 0 $color-white;
    }
  }

  &-rune {
    background: url("#{$img-path}/bg/bg-runes.png") no-repeat top left;
    height: 32px;
    width: 27px;
    padding: 5px 4px;
    margin: 0 auto;
    overflow: hidden;

    &-box {
      height: 23px;
      line-height: 23px;
      text-align: center;
      background: #c6c7c7;
      border: 1px solid #f3f4f5;
      box-shadow: inset 0 0 0 1px #999;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        left: 0;
        top: 0;
      }

      &.is-disabled {
        background: url("#{$img-path}/img-rune-disabled.png") no-repeat;
        box-shadow: none;
      }
    }

    &-wrap {
      &.is-active {
        span {
          color: $color-dark;
        }
      }
    }
  }

  .btn-small {
    width: 100%;

    & + .artifact-figure {
      margin-top: 14px;
    }
  }

  &-short-description {
    padding: 0 16px;

    h3 {
      font: {
        weight: normal;
      }
      margin: 0 0 13px;

      span {
        color: #858585;
        font: {
          size: 12px;
        }
      }
    }
  }

  &-description {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    color: #858585;
    font: {
      size: 11px;
    }
    line-height: 1.25;
    padding-left: 24px;

    &-content {
      flex-grow: 1;
    }

    p {
      margin: 0 0 16px;
    }

    ul {
      span {
        color: $color-dark;
      }
    }

    &-footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .character-note {
        padding-right: 25%;
      }
    }
  }

  h4 {
    color: #b0b3b4;
    font: {
      size: 11px;
    }
    margin: 0;
  }

  &-list {
    margin: 0 0 16px;

    &:last-child {
      margin: 0;
    }
  }

  &-item {
    color: #858585;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font: {
      size: 12px;
    }
    line-height: 1.15;
    max-width: 75%;
    position: relative;

    span {
      color: $color-dark;

      font: {
        family: $font-family-slabo-27px;
        size: 16px;
      }
    }
  }

  .character-note {
    &-box {
      align-items: center;
      padding: 0;
    }
  }
}

/* endregion #artifacts */