/* region #bars */
.bar {
  background: url("#{$img-path}/bg/bg-bar-empty.png") no-repeat;
  display: inline-block;
  margin-left: 6px;
  height: 30px;
  width: 239px;
  position: relative;
  vertical-align: middle;

  &-value {
    line-height: 14px;
    font-size: 9px;
    font-weight: bold;
    color: $color-light-grey;
    text-shadow: 1px 1px 1px $color-grey;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translatey(-50%);
  }

  &-progress {
    position: absolute;
    top: 7px;
    left: 10px;
    right: 10px;
    height: 16px;

    &-line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 100%;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -2px;
        width: 2px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 14px;
      }
    }
  }

  &.is-transform {
    margin-top: 5px;

    .bar-progress {
      top: -1px;
    }
  }

  &-default {
    .bar-progress-line {
      background: url("#{$img-path}/bars/bg-bar-default-center.png") no-repeat top right;

      &:before {
        background: url("#{$img-path}/bars/bg-bar-default-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bars/bg-bar-default-right.png") no-repeat;
      }
    }
  }

  &-green {
    .bar-progress-line {
      background: url("#{$img-path}/bars/bg-bar-green-center.png") no-repeat top right;

      &:before {
        background: url("#{$img-path}/bars/bg-bar-green-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bars/bg-bar-green-right.png") no-repeat;
      }
    }
  }

  &-yellow {
    .bar-progress-line {
      background: url("#{$img-path}/bars/bg-bar-yellow-center.png") no-repeat top right;

      &:before {
        background: url("#{$img-path}/bars/bg-bar-yellow-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bars/bg-bar-yellow-right.png") no-repeat;
      }
    }
  }

  &-red {
    .bar-progress-line {
      background: url("#{$img-path}/bars/bg-bar-red-center.png") no-repeat top right;

      &:before {
        background: url("#{$img-path}/bars/bg-bar-red-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bars/bg-bar-red-right.png") no-repeat;
      }
    }
  }

  &-blue {
    .bar-progress-line {
      background: url("#{$img-path}/bars/bg-bar-blue-center.png") no-repeat top right;

      &:before {
        background: url("#{$img-path}/bars/bg-bar-blue-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bars/bg-bar-blue-right.png") no-repeat;
      }
    }
  }
}

/* endregion #bars */