/* region #background pattern */
.bg-pattern-border {
  background: url("#{$img-path}/bg/bg-pattern-border.png") no-repeat 0 0;
  position: relative;
  padding: 32px 0;
  margin: 32px 0;
}

.bg-pattern {
  height: 44px;
  width: 100%;
  background: url("#{$img-path}/bg/bg-pattern.png") repeat-x;
  opacity: .75;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.box-pattern {
  background: $color-white;
  border-bottom: 1px solid #cbcbcb;
  border-radius: 2px;
  padding: 10px 12px;
  overflow: hidden;
  font: {
    size: 13px;
  }
  position: relative;
  line-height: 1.42857143;

  &:before {
    content: "";
    background: url("#{$img-path}/bg/bg-box-pattern.png") repeat-x 0 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: .5;
  }
}

/* endregion #background pattern */