/* region #button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-dark;
  cursor: pointer;
  background-color: $color-white;
  transition: background .4s, border-color .4s;
  border-radius: 2px;
  border: 0;
  border-bottom: 2px solid #dadada;
  box-shadow: 0 2px 2px 0 rgba(#b6b8b9, .7);
  padding: 8px 16px;
  position: relative;
  min-height: 35px;
  text-decoration: none !important;
  font: {
    size: 13px;
  }

  &-icon {
    padding: 0 16px;

    &-left {
      .icon,
      .fa {
        margin-right: 8px;
      }
    }

    &-right {
      .icon {
        margin-left: 8px;
      }
    }
  }

  &:before {
    content: "";
    background: url("#{$img-path}/bg/bg-box-pattern.png") repeat-x left center;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: .5;
  }

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: $color-light;
    border-color: rgba($color-grey, .5);
    color: $color-dark;
    outline: none;
  }

  &-clear {
    background: none;
  }

  &-large {
    padding: 12px 32px;
    min-width: 180px;
  }

  &-small {
    color: #6a6a6a;
    padding: 4px 10px;
    min-height: 24px;
    font: {
      size: 11px;
    }
  }

  &-black {
    background: #4b4c4c;
    border-color: #2b2b2b;
    color: $color-light;
    text-transform: uppercase;
    font: {
      size: 10px;
    }
    position: relative;
    padding-right: 40px;

    .fa-angle-right {
      background: #2f2f2f;
      border-radius: 4px;
      color: $color-light;
      box-shadow: 0 0 5px 0 rgba($color-white, .75);
      height: 16px;
      line-height: 16px;
      width: 16px;
      font: {
        size: 13px;
      }
      position: absolute;
      right: 16px;
      top: 9px;
    }
  }

  &-remove {
    cursor: pointer;
    height: 24px;
    width: 24px;
    background: url("#{$img-path}/icons/icon-remove.png") no-repeat center center;
    border: 0;
    padding: 0;
  }
}

.btn-edit,
.btn-delete {
  padding: 0;
  border: 0;
  box-shadow: none;
  background: none;
  font: {
    size: 0;
  }
  height: 24px;
  min-height: 24px;
  width: 24px;

  &:before {
    display: none;
  }
}

.btn-edit {
  background: url("#{$img-path}/icons/icon-pencil.png") no-repeat center center;
}

.btn-delete {
  background: url("#{$img-path}/icons/icon-x.png") no-repeat center center;
}
/* endregion #button */