/* region #character */
.character {
  height: 501px;
  width: 450px;
  padding: 37px 77px 79px 76px;
  overflow: hidden;
  background: url("#{$img-path}/bg/bg-character-main.png") no-repeat;
  position: relative;

  &-left {
    margin-left: -59px;
    margin-right: -48px;
  }

  &-right {
    margin-right: -59px;
    margin-left: -48px;
  }

  &-action {
    background: url("#{$img-path}/bg/bg-character-empty.png") no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    strong {
      display: block;
      font: {
        size: 14px;
      }
    }

    p {
      font: {
        size: 12px;
      }
      margin: 0;

      &:last-child {
        color: #a3a3a3;
      }
    }
  }

  &-bottom {
    padding: 16px 56px;
    margin: -56px 0 0;
    position: relative;

    .list {
      width: 200px;
      margin: 10px auto;

      &-item {
        padding: 16px 0 0;
        cursor: pointer;

        &:last-child {
          cursor: default;
          padding: 16px;
        }
      }
    }

    label {
      display: block;
      font: {
        size: 10px;
      }
      color: #aaa;
      position: absolute;
      top: -14px;
    }

    .kits-name {
      text-align: left;
      color: #515151;
      font: {
        size: 13px;
      }
      position: relative;
      flex: 1;
      margin: 0 8px;

      p {
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &-wrap {
    width: 450px;
    text-align: center;
    margin-left: -59px;
    margin-right: -48px;
    position: relative;
  }

  &-name {
    padding: 10px 64px 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 $color-white;
    font: {
      weight: bold;
    }
  }

  &-hp {
    background: url("#{$img-path}/bg/bg-character-bar.png") no-repeat;
    color: $color-white;
    height: 18px;
    line-height: 18px;
    position: relative;
    width: 151px;
    margin: 7px 0 0 76px;
    text-align: center;
    text-shadow: 1px 1px 0 $color-black;
    overflow: hidden;
    font: {
      weight: bold;
    }

    &-progress,
    &-value {
      position: absolute;
    }

    &-progress {
      background: linear-gradient(to right, rgba(#216300, .75) 60%, rgba(#41c500, .75) 100%);
      border: 1px solid #2c8400;
      box-shadow: inset 0 1px 3px rgba($color-black, .6);
      border-bottom: 0;
      height: 14px;
      width: 147px;
      top: 2px;
      left: 2px;

      &.is-blue {
        background: linear-gradient(to right, rgba(#0157a8, .75) 60%, rgba(#0283db, .75) 100%);
        border-color: #0474d2;
      }

      &.is-red {
        background: linear-gradient(to right, rgba(#740707, .75) 60%, rgba(#d00000, .75) 100%);
        border-color: #c00;
      }

      &.is-yellow {
        background: linear-gradient(to right, rgba(#fd0, .75) 60%, rgba(#fd0, .75) 100%);
        border-color: #fd0;
      }
    }

    &-value {
      font-size: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-armor {
    height: 300px;
    margin: 33px 0 0;
    overflow: hidden;
    position: relative;

    &-left,
    &-right,
    &-bottom {
      position: absolute;
    }

    &-left,
    &-right {
      height: 300px;
      width: 58px;
      top: 0;
    }

    &-left {
      left: 11px;
    }

    &-right {
      right: 12px;

      .character-armor-head {
        .character-armor-item {
          height: 14px;
        }
      }

      .character-armor-rings {
        height: 16px;
        margin: 0 -1px;

        .character-armor-item {
          float: left;
          width: 16px;
          height: 16px;
          margin-left: 6px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    &-bottom {
      bottom: 0;
      left: 85px;
      width: 126px;

      .character-armor-item {
        float: left;
        width: 44px;
      }
    }

    &-item {
      overflow: hidden;
      margin: 0 0 8px;

      img {
        display: block;
      }
    }

    &-head,
    &-weapon {
      height: 58px;
    }

    &-arms,
    &-foots,
    &-runes {
      height: 36px;
    }

    &-body {
      height: 80px;
    }

    &-necklaces {
      margin: 0 0 7px;
    }
  }

  &-lvl,
  &-info {
    height: 53px;
    line-height: 53px;
    width: 53px;
    position: absolute;
    top: 45px;
    text-align: center;
    text-shadow: 1px 1px 0 $color-white;
    font: {
      size: 18px;
    }
  }

  &-lvl {
    left: 84px;
    font: {
      weight: bold;
    }
  }

  &-info {
    right: 86px;
    font: {
      family: $font-family-kameron;
      size: 24px;
      style: italic;
    }

    a {
      display: block;
      color: inherit;
      transition: color .3s ease-in-out;

      &:hover {
        text-decoration: none;
        color: $color-blue;
      }
    }
  }
}

/* endregion #character */