/* region #chat */
.chat {
  display: block;
  min-height: 189px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9997;

  &-wrapper {
    width: 100%;
  }

  &-main,
  &-main-inner,
  &-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &-main,
  &-main-inner {
    overflow: hidden;
  }

  &-container {
    &-dragger,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 8px;
      width: 100%;
      z-index: 1;
    }

    &-dragger {
      background: url("#{$img-path}/bg/bg-chat-frame-top.png") repeat-x top left;
      cursor: row-resize;
      top: 0;
    }

    &:after {
      height: 5px;
      background: url("#{$img-path}/bg/bg-chat-frame-bottom.png") repeat-x top left;
      bottom: 0;
    }
  }

  &-main {
    background: url("#{$img-path}/bg/bg-chat-frame-left.png") repeat-y top left, url("#{$img-path}/bg/bg-chat-frame-right.png") repeat-y top right;
    padding: 8px 8px 41px;

    &-inner {
      background: #f8f8f9;
    }
  }

  &-box,
  &-box-inner {
    &:before,
    &:after {
      content: "";
      height: 6px;
      position: absolute;
      width: 6px;
      z-index: 2;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  &-box {
    background: url("#{$img-path}/bg/bg-chat-inner-frame-left.png") repeat-y top left, url("#{$img-path}/bg/bg-chat-inner-frame-right.png") repeat-y top right;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;

    &-left {
      left: 0;
      width: calc(100% - 353px);
    }

    &-right {
      right: 0;
      width: 339px;
    }

    &:before,
    &:after {
      left: 0;
    }

    &:before {
      background: url("#{$img-path}/bg/bg-chat-inner-corner-left-top.png") no-repeat;
    }

    &:after {
      background: url("#{$img-path}/bg/bg-chat-inner-corner-left-bottom.png") no-repeat;
    }
  }

  &-box-inner {
    background: url("#{$img-path}/bg/bg-chat-inner-frame-top.png") repeat-x top left, url("#{$img-path}/bg/bg-chat-inner-frame-bottom.png") repeat-x bottom left;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &:before,
    &:after {
      right: 0;
    }

    &:before {
      background: url("#{$img-path}/bg/bg-chat-inner-corner-right-top.png") no-repeat;
    }

    &:after {
      background: url("#{$img-path}/bg/bg-chat-inner-corner-right-bottom.png") no-repeat;
    }
  }

  &-messages,
  &-users {
    background: #f8f8f9;
    height: 100%;
    width: 100%;
  }

  &-message {
    display: block;
    color: #959ca2;
    overflow: hidden;
    line-height: 20px;
    margin: 2px 0;

    & > time {
      color: inherit;
      float: left;
      padding: 0 10px;

      & + span {
        padding-left: 65px;
        display: block;
      }
    }

    .username {
      color: #6a6f74;
    }

    .message-text {
      color: #79a2ca;
    }

    &-system {
      .message-text,
      time {
        color: red;
      }

      .message-text {
        font-style: italic;
      }
    }

    &-to {
      background: linear-gradient(to right, #dfdfdf 0, rgba(#dfdfdf, 0) 100%) no-repeat;
      background-size: 20% 100%;

      .message-text {
        color: #c57fa6;
      }
    }

    &-private {
      background: linear-gradient(to right, #cfddef 0, rgba(#cfddef, 0) 100%) no-repeat;
      background-size: 20% 100%;

      .message-text {
        color: #68a596;
      }

      .points {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        background: #fff;
        height: 5px;
        width: 5px;

        &:before,
        &:after {
          content: "";
          background: #6a6f74;
          height: 2px;
          width: 2px;
          position: absolute;
          top: 0;
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }

        .points {
          position: absolute;
          bottom: 0;
          height: 50%;
          width: 100%;

          &:before {
            top: auto;
            bottom: 0;
          }

          &:after {
            top: auto;
            bottom: 0;
          }
        }
      }
    }
  }

  &-time-separator,
  &-time-bg {
    position: absolute;
    top: 6px;
    bottom: 6px;
  }

  &-time-separator {
    left: 54px;
    background: #fff;
    box-shadow: 3px 0 10px rgba($color-black, .2);
    width: 2px;
  }

  &-time-bg {
    background: rgba($color-black, .02);
    left: 6px;
    width: 48px;
  }

  &-body {
    padding: 7px;
    height: 100%;
    width: 100%;
  }

  &-draggable {
    background: #161616 url("#{$img-path}/bg/bg-chat-draggable-light.jpg") no-repeat center center;
    cursor: col-resize;
    position: absolute;
    top: 0;
    left: calc(100% - 354px);
    bottom: 0;
    width: 16px;
    z-index: 10;

    &-inner {
      background: url("#{$img-path}/bg/bg-chat-draggable.png") no-repeat center center;
      height: 100%;
      width: 100%;
    }
  }

  &-users {
    &-hall {
      background: inherit;
      position: relative;
      margin: 0 0 13px;

      &:before,
      &:after {
        z-index: 0;
        position: absolute;
        content: "";
        bottom: 15px;
        width: 50%;
        top: 10px;
        box-shadow: 0 15px 10px rgba(#7f7f7f, .5);

      }

      &:before {
        transform: rotate(-3deg);
        left: 0;
      }

      &:after {
        transform: rotate(3deg);
        right: 0;
      }

      h3 {
        display: block;
        background: #f8f8f9;
        padding: 8px 10px;
        font-size: inherit;
        font-weight: bold;
        text-align: center;
        margin: 0;
        position: relative;
        text-transform: capitalize;
        z-index: 11;
      }
    }

    &-list {
      list-style: none;
      padding: 0 25px;
      margin: 0;
    }

    &-item {
      color: #6a6f74;
      font-weight: bold;
      line-height: 16px;
      overflow: hidden;

      & > span,
      & > .cu-info {
        float: left;
      }

      .info {
        margin-left: 4px;
      }
    }

    .tendency,
    .clan {
      margin-right: 3px;
      background: #e2e5e8;
      height: 15px;
      line-height: 15px;
      text-align: center;

      img {
        height: auto;
        width: 100%;
      }
    }

    .cu-info {
      background: url("#{$img-path}/icons/info-sprite.png") no-repeat 0 0;
      height: 12px;
      width: 12px;
      display: block;
      margin: 2px 5px;
      text-indent: -9999px;
    }

    .tendency {
      width: 14px;
    }

    .clan {
      width: 22px;
    }
  }

  .chat-btn {
    background: url("#{$img-path}/bg/bg-chat-bottom-btn.png") no-repeat center center !important;
    display: block;
    border: 0;
    padding: 0;
    height: 31px;
    text-align: center;
    min-width: 31px;
    width: 31px;

    &:before {
      content: none;
    }
  }

  &-bottom {
    height: 36px;
    width: 100%;
    padding: 0 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;

    &-inner {
      background: url("#{$img-path}/bg/bg-chat-bottom.jpg") repeat-x;
      height: 100%;
      padding: 3px;
      position: relative;
      z-index: 12;

      &:after {
        background: url("#{$img-path}/bg/bg-chat-bottom-right.png") no-repeat bottom right;
        height: 31px;
        width: 103px;
        content: "";
        position: absolute;
        right: 8px;
        bottom: 0;
        opacity: .35;
      }
    }

    &-buttons {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;
      float: left;

      li {
        float: left;

        & + li {
          margin-left: 1px;
        }
      }
    }

    time {
      display: inline-block;
      margin-left: 11px;
      color: $color-light;
      font-size: 18px;
      font-weight: bold;
      text-shadow: 0 0 5px $color-black;
      float: right;
    }

    &-left {
      float: left;
      width: calc(100% - 353px);
    }

    &-right {
      float: right;
      line-height: 28px;
      width: 345px;
      padding: 0 11px;
      position: relative;
      z-index: 2;
    }
  }

  &-form {
    height: 28px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
    padding: 1px;
    margin-top: 2px;

    &-item {
      background: url("#{$img-path}/bg/bg-chat-form.jpg") repeat-x;
      height: 24px;
      padding: 0 44px;
      border-radius: 1px;
      overflow: hidden;
      position: relative;
    }

    &-icon {
      height: 100%;
      width: 34px;
      line-height: 24px;
      text-align: center;
      position: absolute;
      top: 0;

      &-left {
        background: url("#{$img-path}/bg/bg-chat-form-icon-left.png") no-repeat top center;
        left: 0;
      }

      &-right {
        background: url("#{$img-path}/bg/bg-chat-form-icon-right.png") no-repeat top center;
        right: 0;
      }
    }

    &-input,
    .btn {
      display: block;
      border: 0;
      background: none;
      line-height: 24px;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      font-weight: bold;
      color: $color-dark;

      &::-webkit-input-placeholder {
        color: $color-dark;
      }

      &:-ms-input-placeholder {
        color: $color-dark;
      }

      &::-moz-placeholder {
        color: $color-dark;
        opacity: 1;
      }
    }

    .chat-form-submit {
      background: none !important;
    }
  }
}

/* endregion #chat */