/* region #character accordion */
.character-accordion {
  $characteraccordionitemh: 36px;
  margin: 0 0 24px;

  .character-accordion-actions {
    text-align: right;
  }

  .character-accordion-action {
    text-align: center;
  }

  .btn-minus,
  .btn-plus {
    height: 17px;
    min-height: 17px;
    width: 16px;
    position: static;
    background: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    min-width: 1px;
    text-indent: -9999px;

    &:before {
      display: none;
    }

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      outline: none;
    }
  }

  .btn-minus {
    background: url("#{$img-path}/bg/bg-accrodion-action-minus.png") no-repeat;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      background: url("#{$img-path}/bg/bg-accrodion-action-minus.png") no-repeat;
    }
  }

  .btn-plus {
    background: url("#{$img-path}/bg/bg-accrodion-action-plus.png") no-repeat;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      background: url("#{$img-path}/bg/bg-accrodion-action-plus.png") no-repeat;
    }
  }

  &-item {
    height: $characteraccordionitemh;
    overflow: hidden;
    margin: 0 0 2px;

    &.is-opened {
      height: auto;

      .character-accordion-header-caret {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-header {
    &-caret {
      background: url("#{$img-path}/bg/bg-accrodion-header-caret.png") no-repeat;
      height: 17px;
      width: 18px;
      position: absolute;
      top: 9px;
      right: -12px;
      text-indent: -9999px;
      z-index: 1;

      &:after {
        content: "";
        height: 5px;
        width: 9px;
        background: url("#{$img-path}/bg/bg-accrodion-header-caret-triangle.png") no-repeat;
        position: absolute;
        top: 6px;
        left: 5px;
        transition: opacity .3s;
      }
    }

    h6 {
      padding-right: 16px;
      display: flex;
      flex-flow: row nowrap;

      .plus {
        color: $color-light-green;
      }

      .minus {
        color: $color-red;
      }

      strong {
        padding-left: 4px;
      }
    }
  }

  &-body {
    margin: 0 0 14px;
  }
}

/* endregion #character accordion */