/* region #character note */
.character-note {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &-box {
    color: $color-black;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 8px;
    font: {
      size: 15px;
    }

    &.warn {
      .character-note-label {
        color: inherit;
      }
    }
  }

  &-label {
    color: #858585;
    font: {
      size: 11px;
    }
    white-space: nowrap;
  }

  &-value {
    font: {
      family: $font-family-slabo-27px;
    }
  }
}

/* endregion #character note */