/* region #character description */
.character-skills {
  width: 178px;

  & + .character-skills {
    margin-left: 40px;
  }

  &-header {
    &-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0 0 16px;
    }
  }

  &-profit {
    text-align: center;
    color: #8d8d8d;
    margin: 24px 0 0;

    span {
      display: block;
    }

    &-value {
      font: {
        family: $font-family-slabo-27px;
        size: 16px;
      }

      span {
        color: $color-dark;
        display: inline;
      }
    }
  }

  &-footer {
    .btn {
      width: 100%;
    }
  }
}

/* endregion #character description */