/* region #controls */
.control {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  color: $color-black;

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    left: -9999px;
    opacity: 0;

    & + label {
      position: relative;
      padding-left: 24px;
      min-height: 18px;
      min-width: 18px;
      line-height: 18px;

      &:empty {
        padding-left: 18px;
      }

      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
      }

      &:before {
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid $color-white;
        background: $color-middle-grey;
        box-shadow: inset 0 0 6px 0 rgba($color-grey, .25);
      }

      &:after {
        visibility: hidden;
        top: 5px;
        left: 5px;
        height: 8px;
        width: 8px;
        background: $color-grey;
        transform: scale(.5, .5);
        transition: transform .2s;
      }
    }

    &:checked {
      & + label {
        &:after {
          visibility: visible;
          transform: scale(1, 1);
          transition: transform .2s;
        }
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: 1px solid #fff;
    background: #e5e7e8;
    box-shadow: inset 0 0 6px 0 rgba(114,114,114,.25);
    padding: 8px;
    @include placeholder(#a3a3a3, inherit, inherit);
  }
}

/* endregion #controls */
