/* region #fight map actions */
.fight-map-actions {
  text-align: center;

  &-holder {
    margin: 0 0 24px;
  }

  &-row {
    margin: 0 0 8px;
  }

  &-box {
    display: inline-block;
    padding: 0 16px;

    &-body {
      text-align: left;
    }

    &-title {
      margin: 0 0 24px;

      .icon {
        margin-right: 16px;
      }
    }
  }

  .is-small {
    margin-right: 8px;
  }

  &-waiting {
    .icon-hourglass {
      animation-name: rotate-180;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin: 0 0 32px;
    }

    p {
      line-height: 1.25;

      strong {
        display: block;
        font: {
          size: 14px;
        }
      }

      &:last-child {
        color: #a3a3a3;
        margin: 0 0 32px;
      }
    }
  }

  &-finished {
    padding-top: 32px;

    &.is-win {
      h2,
      .fight-map-actions-damage {
        color: $color-green;
      }
    }

    &.is-lose {
      background: url("#{$img-path}/bg/bg-fight-lose.png") no-repeat center center/contain;

      .fight-map-actions-finished-header,
      .fight-map-actions-damage {
        color: $color-dark-red;
      }

      h2,
      p {
        color: inherit;
        margin: 0;
      }

      .separator {
        max-width: 260px;
        margin: 0 auto;
        background: linear-gradient(to right,#e5e7e8 0,$color-dark-red 50%,#e5e7e8 100%);
        box-shadow: 0 1px 1px 0 $color-dark-red;
      }
    }

    h2 {
      font: {
        weight: normal;
      }
      margin: 0 0 8px;

      strong {
        text-transform: uppercase;
      }
    }

    p {
      margin: 0;
    }

    .btn {
      margin: 16px 0 0;
    }
  }

  &-damage {
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font: {
        size: 15px;
        weight: bold;
      }
      text-shadow: 1px 1px 0 $color-white;
      text-transform: uppercase;
    }
  }
}

/* endregion #fight map actions */