/* region #fight map board */
.fight-map-board {
  margin: 32px 0 0;
  text-align: center;

  .username-wrap {
    .username {
      &.username-left {
        color: $color-red;
      }

      &.username-right {
        color: $color-dark-navy-blue;
      }
    }

    & + .username-wrap {
      &:before {
        content: ",";
      }
    }
  }

  &-hp {
    color: $color-text;
    margin: 8px 0;

    strong {
      color: $color-dark-red;
      text-transform: uppercase;
    }
  }

  &-row {
    color: #a3a3a3;
  }
}

/* endregion #fight map board */