/* region #fight */
.fight {
  &-info {
    overflow: hidden;

    & > * {
      margin: 0 5px;
    }

    &-request {
      text-align: center;
      line-height: 35px;
      margin: 0 0 24px;
    }

    &-wrap {
      padding: 0 0 10px;
      position: relative;

      &:last-child {
        padding: 0 0 25px;
      }

      .fight-info {
        color: #a3a3a3;
        position: relative;
        padding: 0 0 17px;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 6px;
          background: url("#{$img-path}/bg/bg-fight-info-separator.png") no-repeat;
          background-size: 100% auto;
        }

        .username {
          width: 170px;
          vertical-align: top;

          &.is-loose {
            strong {
              color: $color-grey;
            }
          }

          &-row {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .info {
              margin-left: 4px;
            }

            &-inner {
              display: flex;
              flex-direction: column;
              line-height: 1.25;
              margin-left: 4px;
            }

            .icon-flag {
              transform: translateY(2px);
            }
          }

          strong {
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &-time {
          padding: 0 5px;
          span {
            font-size: 11px;
          }
          strong {
            color: $color-grey;
          }
        }

        .fight-details {
          display: inline-block;
          width: 230px;
          vertical-align: top;
        }

        &-type {
          .icon {
            margin-right: 7px;
          }

          span {
            font-size: 11px;
          }
        }

        &.is-over {
          padding-top: 12px;

          .username {
            width: 180px;
          }

          .fight-details {
            padding-right: 20px;
          }
        }

        &-btn {
          float: right;
        }

        .btn {
          min-height: 28px;
          padding: 5px 12px;
          color: $color-grey;
          font-size: 12px;

          i {
            margin: -2px 5px 0 0;
          }

          &:before {
            content: none;
          }
        }
      }

      strong {
        color: $color-darken;
      }

      time {
        font-size: 13px;
      }
    }

    &-progress {
      height: 4px;
      width: 100%;
      overflow: hidden;
      margin: 0 0 3px;

      &-value {
        background: #ccc;
        border-bottom: 1px solid #b5b5b5;
        border-radius: 2px;
        height: 4px;
        width: 100%;
      }
    }

    &-result {
      font-size: 11px;
      line-height: 1;
    }
  }

  &-buttons {
    margin: 0 15px;
  }
}

/* endregion #fight */