/* region #fights apply */
.fights-apply {
  &-holder {
    background: url("#{$img-path}/bg/bg-pattern-border.png") no-repeat left bottom;
    padding: 0 0 48px;
    margin: 0 0 16px;
  }

  .fights-buttons {
    text-align: left;
  }

  &-chaotic {
    label {
      &:first-child {
        min-width: 100px;
      }
    }
  }
}

/* endregion #fights apply */