/* region #fights nav */
.fights {
  &-nav {
    list-style: none;
    margin: 32px 0 0;
    height: 16px;
    text-align: justify;
    max-width: 780px;

    &:after {
      content: "";
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0;
    }

    li {
      color: $color-grey;
      display: inline-block;
      height: 16px;
      line-height: 16px;
      position: relative;
      vertical-align: top;

      &.is-active {
        color: $color-dark;

        a {
          font-weight: bold;

          &:before {
            content: "";
            background: url("#{$img-path}/icons/icon-sword.png") no-repeat;
            height: 16px;
            width: 16px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }

      a {
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
        padding: 0 0 0 20px;
      }
    }

    .badge {
      background: $color-light-grey;
      color: $color-grey;
      border-radius: 2px;
      display: inline-block;
      height: 11px;
      line-height: 11px;
      text-align: center;
      padding: 0 3px;
      font-size: 9px;
      font-weight: normal;
      margin-left: 4px;
      position: absolute;
      top: 0;
    }
  }
}

/* endregion #fights nav */