/* region #fight map logs */
.fight-map {
  &-logs {
    margin: 56px 0 0;

    &-list {
      list-style: none;
      overflow: hidden;
    }

    &-item {
      border-top: 1px solid $color-white;
      box-shadow: inset 0 1px 1px 0 rgba($color-black, .05);
      padding: 8px 0;
      margin: 0 -2px;

      &:first-child {
        border-top: 0;
        box-shadow: none;
      }

      &:last-child {
        border-bottom: 1px solid $color-white;
      }

      &.is-red {
        background: #e7dddd;
      }

      &.is-grey {
        background: #dde0e1;
      }

      &.is-red,
      &.is-grey {
        .fight-map-log-description {
          color: #696969 !important;
        }
      }
    }

    &-footer {
      color: #a3a3a3;
      font-size: 12px;
      text-align: center;
      margin: 24px 0;

      p {
        margin: 0;
        line-height: 1.5;
      }

      span,
      a {
        color: $color-text;
      }
    }
  }

  &-log {
    display: flex;
    flex-flow: row nowrap;
    font: {
      size: 12px;
    }

    &-time {
      color: #696969;
      font: {
        size: 12px;
      }
      padding: 0 16px 0 8px;
      text-shadow: 0 0 1px rgba(#696969, .5);
    }

    &-description {
      flex: 3;
    }

    &-grid {
      padding: 4px 8px 0 16px;
      overflow: hidden;

      span {
        background: #e8e9e9;
        float: left;
        height: 9px;
        width: 9px;
        border: 1px solid #848585;
        box-shadow: 0 2px 4px 0 rgba($color-black, .15);
        position: relative;

        & + span {
          margin-left: 1px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 2px;
          height: 3px;
          width: 3px;
        }

        &.is-dark-dark {
          background: #b4b5b5;

          &:before {
            background: #7d7e7e;
          }
        }

        &.is-light-dark {
          background: #e8e9e9;

          &:before {
            background: #787979;
          }
        }

        &.is-dark-light {
          background: #a7a8a8;

          &:before {
            background: #e8e9e9;
          }
        }
      }

      &.is-empty {
        span {
          border-color: #bebfbf;
          background: #e0e0e1;
        }
      }
    }

    &-hp {
      color: #696969;
      font-size: 11px;

      span {
        font: {
          size: 13px;
          weight: bold;
          style: italic;
        }
      }

      strong {
        color: $color-text;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .username {
      &.username-left {
        color: #0c4f8c;
        font: {
          size: 13px;
        }
      }

      &.username-right {
        color: #282828;
        font: {
          size: 12px;
        }
      }
    }

    .avoid {
      color: #366037;
    }

    .block {
      color: #696969;
      text-decoration: underline;
    }

    .basic {
      color: #282828 !important;
    }
  }
}

/* endregion #fight map logs */