/* region #fight map rolls */
.fight-map {
  &-rolls {
    display: inline-block;
  }

  &-roll {
    display: inline-block;
    height: 48px;
    line-height: 21px;
    width: 59px;
    padding: 9px 0 14px 33px;
    background: url("#{$img-path}/bg/bg-roll.png") no-repeat 0 0;
    color: $color-white;
    text-shadow: 0 0 1px #000;
    text-align: left;
    font: {
      size: 9px;
    }
    letter-spacing: -1px;
  }
}

/* endregion #fight map rolls */