/* region #fight map */
.fight-map {
  font: {
    size: 13px;
  }

  &-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 4px 0 0;
    margin: 0 0 16px;

    &-box {
      &:nth-child(2) {
        flex: 2;
        max-width: 60%;
      }

      &-static {
        position: relative;
        text-align: center;

        span {
          display: inline-block;
          padding: 2px 16px;
          position: relative;
          transform: translatey(-1px);
          background: #eef0f1;
          z-index: 1;
          color: $color-black;
        }

        &:after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0;
          top: 50%;
          background: linear-gradient(to right, #eef0f1 0, $color-grey 50%, #eef0f1 100%);
        }
      }
    }
  }

  &-subheader {
    text-align: center;
    margin: 0 0 24px;

    h4 {
      color: #a3a3a3;
      margin: 0 0 5px;
    }
  }

  .radio {
    label {
      color: #a3a3a3;

      strong {
        color: $color-black;
      }
    }
  }

  &-full {
    margin: 0 auto;
    max-width: 780px;
    position: relative;

    .btn-black {
      position: absolute;
      right: 0;
      top: 0;
    }

    .fight-map-board {
      margin: 0;
      padding: 0 167px;
    }

    .fight-map-header {
      flex-direction: column;
      max-width: 75%;
      margin: 32px auto;

      &-box {
        flex: 1;
        margin: 0 0 16px;
      }
    }

    .form {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 -32px;
    }

    .control {
      align-self: baseline;
    }

    .icon-filter {
      margin-right: 8px;
    }
  }
}

/* endregion #fight map */