/* region #filters list */
.filters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
}

.filter {
  label {
    color: #858585;
    display: block;
    text-align: center;
    margin: 0 0 5px;
  }

  .select {
    width: 200px;

    select {
      color: #6a6a6a;
      font: {
        weight: bold;
      }
    }
  }
}

/* endregion #filters list */