/* region #form */
.form {
  label {
    display: inline-block;
    margin: 0 4px 0 0;
    font: {
      size: 12px;
      weight: normal;
    }
  }

  &-row {
    margin: 0 0 10px;
    line-height: 35px;

    & > * {
      vertical-align: middle;
    }
  }
}

/* endregion #form */