/* region #character inventory */
.holder {
  padding: 23px 0 0;
  margin: 0 auto;
  width: 860px;
  position: relative;

  &-content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
}

/* endregion #character inventory */