/* region #icons */
.icon {
  display: inline-block;
  vertical-align: middle;

  &-setting {
    background: url("#{$img-path}/icons/icon-setting.png") no-repeat;
    height: 20px;
    width: 20px;
  }

  &-protect {
    background: url("#{$img-path}/icons/icon-protect.png") no-repeat;
    height: 20px;
    width: 16px;
  }

  &-chat {
    background: url("#{$img-path}/icons/icon-chat.png") no-repeat;
    height: 12px;
    width: 14px;
  }

  &-enter {
    background: url("#{$img-path}/icons/icon-enter.png") no-repeat;
    height: 11px;
    width: 11px;
  }

  &-hourglass {
    background: url("#{$img-path}/icons/icon-hourglass.png") no-repeat;
    height: 38px;
    width: 29px;
  }

  &-sword {
    background: url("#{$img-path}/icons/icon-sword.png") no-repeat;
    height: 16px;
    width: 16px;
  }

  &-sword-shadow,
  &-sword-shadow-light {
    background: url("#{$img-path}/icons/icon-sword-shadow.png") no-repeat;
    height: 21px;
    width: 19px;

    &.is-small {
      background-size: 14px 16px;
      height: 16px;
      width: 14px;
    }
  }

  &-sword-shadow-light {
    background: url("#{$img-path}/icons/icon-sword-shadow-light.png") no-repeat;
  }

  &-shield-shadow,
  &-shield-shadow-light {
    background: url("#{$img-path}/icons/icon-shield-shadow.png") no-repeat;
    height: 21px;
    width: 17px;
  }

  &-shield-shadow-light {
    background: url("#{$img-path}/icons/icon-shield-shadow-light.png") no-repeat;
  }

  &-rank {
    background: url("#{$img-path}/icons/icon-rank.png") no-repeat;
    height: 26px;
    width: 24px;

    &-light {
      background: url("#{$img-path}/icons/icon-rank-light.png") no-repeat;
      height: 28px;
      width: 24px;
    }
  }

  &-coins {
    background: url("#{$img-path}/icons/icon-coins.png") no-repeat;
    height: 17px;
    width: 26px;
  }

  &-filter {
    background: url("#{$img-path}/icons/icon-filter.png") no-repeat;
    height: 24px;
    width: 22px;
  }

  &-lightning {
    background: url("#{$img-path}/icons/icon-lightning.png") no-repeat;
    height: 30px;
    width: 20px;
  }

  &-backpack {
    background: url("#{$img-path}/icons/icon-backpack.png") no-repeat;
    height: 30px;
    width: 27px;
  }

  &-armor {
    background: url("#{$img-path}/icons/icon-armor.png") no-repeat;
    height: 33px;
    width: 28px;

    &.is-small {
      background-size: 14px 16px;
      height: 16px;
      width: 14px;
    }
  }

  &-arms {
    background: url("#{$img-path}/icons/icon-arms.png") no-repeat;
    height: 33px;
    width: 30px;
  }

  &-belt {
    background: url("#{$img-path}/icons/icon-belt.png") no-repeat;
    height: 22px;
    width: 35px;
  }

  &-boots {
    background: url("#{$img-path}/icons/icon-boots.png") no-repeat;
    height: 33px;
    width: 30px;
  }

  &-gloves {
    background: url("#{$img-path}/icons/icon-gloves.png") no-repeat;
    height: 33px;
    width: 27px;
  }

  &-guard {
    background: url("#{$img-path}/icons/icon-guard.png") no-repeat;
    height: 33px;
    width: 26px;
  }

  &-handcuffs {
    background: url("#{$img-path}/icons/icon-handcuffs.png") no-repeat;
    height: 33px;
    width: 28px;
  }

  &-helmet {
    background: url("#{$img-path}/icons/icon-helmet.png") no-repeat;
    height: 33px;
    width: 21px;
  }

  &-jewelry {
    background: url("#{$img-path}/icons/icon-jewelry.png") no-repeat;
    height: 29px;
    width: 29px;
  }

  &-legs {
    background: url("#{$img-path}/icons/icon-legs.png") no-repeat;
    height: 34px;
    width: 25px;
  }

  &-state {
    background: url("#{$img-path}/icons/icon-state.png") no-repeat;
    height: 25px;
    width: 27px;
  }

  &-stithy {
    background: url("#{$img-path}/icons/icon-stithy.png") no-repeat;
    height: 25px;
    width: 28px;
  }

  &-fist {
    background: url("#{$img-path}/icons/icon-fist.png") no-repeat;
    height: 22px;
    width: 22px;
  }

  &-fist-fight {
    background: url("#{$img-path}/icons/icon-fist-fight.png") no-repeat;
    height: 22px;
    width: 26px;
  }

  &-fight {
    background: url("#{$img-path}/icons/icon-fight.png") no-repeat;
    height: 22px;
    width: 19px;
  }

  &-group {
    background: url("#{$img-path}/icons/icon-group.png") no-repeat;
    height: 25px;
    width: 21px;
  }

  &-group-fight {
    background: url("#{$img-path}/icons/icon-group-fight.png") no-repeat;
    height: 21px;
    width: 25px;
  }

  &-remove {
    background: url("#{$img-path}/icons/icon-remove.png") no-repeat;
    height: 9px;
    width: 9px;
  }

  &-flag {
    background: url("#{$img-path}/icons/icon-flag.png") no-repeat;
    height: 26px;
    width: 22px;
  }

  &-arrow-right {
    background: url("#{$img-path}/icons/icon-arrow-right.png") no-repeat;
    height: 21px;
    width: 33px;
  }

  &-axe {
    background: url("#{$img-path}/icons/icon-axe.png") no-repeat;
    height: 22px;
    width: 17px;
  }

  &-knuckles {
    background: url("#{$img-path}/icons/icon-knuckles.png") no-repeat;
    height: 22px;
    width: 18px;
  }

  &-knife {
    background: url("#{$img-path}/icons/icon-knife.png") no-repeat;
    height: 22px;
    width: 21px;
  }

  &-cudgel {
    background: url("#{$img-path}/icons/icon-cudgel.png") no-repeat;
    height: 22px;
    width: 23px;
  }

  &-mace {
    background: url("#{$img-path}/icons/icon-mace.png") no-repeat;
    height: 24px;
    width: 23px;
  }

  &-shirt {
    background: url("#{$img-path}/icons/icon-shirt.png") no-repeat;
    height: 22px;
    width: 22px;
  }

  &-cloak {
    background: url("#{$img-path}/icons/icon-cloak.png") no-repeat;
    height: 22px;
    width: 18px;
  }

  &-sword-single {
    background: url("#{$img-path}/icons/icon-sword-single.png") no-repeat;
    height: 22px;
    width: 21px;
  }

  &-earring {
    background: url("#{$img-path}/icons/icon-earring.png") no-repeat;
    height: 22px;
    width: 16px;
  }

  &-necklace {
    background: url("#{$img-path}/icons/icon-necklace.png") no-repeat;
    height: 22px;
    width: 22px;
  }

  &-ring {
    background: url("#{$img-path}/icons/icon-ring.png") no-repeat;
    height: 22px;
    width: 19px;
  }

  &-dots {
    background: url("#{$img-path}/icons/icon-dots.png") no-repeat;
    height: 15px;
    width: 32px;
  }


  &-state-sword {
    background: url("#{$img-path}/icons/icon-state-sword.png") no-repeat;
    height: 17px;
    width: 14px;
  }

  &-state-swords {
    background: url("#{$img-path}/icons/icon-state-swords.png") no-repeat;
    height: 17px;
    width: 14px;
  }

  &-state-drop-red {
    background: url("#{$img-path}/icons/icon-state-drop-red.png") no-repeat;
    height: 17px;
    width: 12px;
  }

  &-state-drop-grey {
    background: url("#{$img-path}/icons/icon-state-drop-grey.png") no-repeat;
    height: 17px;
    width: 12px;
  }

  &-state-drop-blue {
    background: url("#{$img-path}/icons/icon-state-drop-blue.png") no-repeat;
    height: 17px;
    width: 12px;
  }

  &-state-heart-red {
    background: url("#{$img-path}/icons/icon-state-heart-red.png") no-repeat;
    height: 17px;
    width: 15px;
  }

  &-state-shield {
    background: url("#{$img-path}/icons/icon-state-shield.png") no-repeat;
    height: 17px;
    width: 13px;
  }
}

.icon-wrap {
  padding: 0 0 5px;
  position: relative;
  width: 27px;
}

/* endregion #icons */