/* region #info */
.info {
  $size: 13px;
  display: inline-block;
  height: $size;
  line-height: $size - 1;
  width: $size;
  vertical-align: middle;
  background: $color-navy-blue;
  color: $color-white;
  border-bottom: 2px solid $color-dark-navy-blue;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba($color-black, .5);
  text-align: center;
  text-transform: lowercase;
  font: {
    family: $font-family-os-extra-bold;
    size: 9px;
  }

  a {
    display: block;
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}

/* endregion #info */