/* region #inventory */
.inventory {
  width: 682px;
  padding-left: 16px;

  &-header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0 0 10px;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .btn {
      margin: 0 2px;
      padding: 8px;
    }

    .progress-bar-small {
      position: absolute;
      left: 0;
    }
  }

  &-nav {
    background: #eef0f1;
    box-shadow: inset 0 0 32px 0 #e3e5e6;
    border: 1px solid #f2f3f4;
    border-radius: 4px;
    padding: 5px;

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-item {
      height: 36px;
      line-height: 30px;
      background: url("#{$img-path}/bg/bg-inventory-nav-item-center.png") repeat-x;
      text-align: center;
      color: #3c3c3c;
      position: relative;
      text-shadow: 1px 1px 0 $color-white;
      font: {
        size: 12px;
        weight: bold;
      }
      margin: 0 25px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 36px;
        width: 25px;
      }

      &:before {
        background: url("#{$img-path}/bg/bg-inventory-nav-item-left.png") no-repeat;
        left: -25px;
      }

      &:after {
        background: url("#{$img-path}/bg/bg-inventory-nav-item-right.png") no-repeat;
        right: -25px;
      }

      &.is-active {
        background: url("#{$img-path}/bg/bg-inventory-nav-item-center-dark.png") repeat-x;

        &:before {
          background: url("#{$img-path}/bg/bg-inventory-nav-item-left-dark.png") no-repeat;
        }

        &:after {
          background: url("#{$img-path}/bg/bg-inventory-nav-item-right-dark.png") no-repeat;
        }
      }

      a {
        display: block;
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 4px 8px;

    &-wrap {
      position: relative;
      overflow: hidden;

      .bg-pattern {
        height: 100%;

        &:before,
        &:after {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
        }

        &:after {
          border-bottom: 2px solid #ceccce;
          bottom: 0;
          z-index: -1;
        }

        &:before {
          top: 0;
          background: radial-gradient(circle farthest-corner at center, rgba(#eef0f1, 0) 0%, #eef0f1 110%);
        }
      }
    }
  }

  &-item {
    cursor: pointer;
    height: 68px;
    width: 68px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;

    &:first-child {
      width: 48px;
    }

    &-holder {
      background: none;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      padding: 4px;
    }

    &.is-active {
      border-color: #d0d5d6;

      .inventory-item-holder {
        background: radial-gradient(circle farthest-corner at center, rgba($color-white, .25) 35%, rgba(#c0c3c5, .25) 100%);
        border-color: #f0f2f3;
      }

      .inventory-item-box {
        color: #3c3c3c;
        text-shadow: 1px 1px 0 $color-white;
      }
    }

    &-img,
    &-box {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    &-img {
      justify-content: center;
      position: relative;
      height: 34px;
      width: 35px;
    }

    &-name {
      display: block;
      margin: 2px 0 4px;
    }

    &-box {
      justify-content: flex-end;
      height: 100%;
      position: relative;
      color: #858585;
      text-transform: uppercase;
      font: {
        size: 9px;
      }

      &:hover {
        text-decoration: none;
      }

      .badge {
        position: absolute;
        top: 0;
        right: -8px;
        padding: 0;
        background: none;
        color: #858585;
        font: {
          size: 9px;
          weight: normal;
        }
        text-shadow: none;
        min-width: 1px;
      }
    }
  }

  .artifacts {
    padding: 10px;

    .btn {
      color: #a6a6a6;
    }
  }
}

/* endregion #inventory */