/* region #list */
.list,
.character-accordion-list {
  &-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 24px;
    border-bottom: 1px solid #e6e7e7;
    border-top: 1px solid #f8f8f8;
    padding: 0 6px;
    color: #858585;
    font: {
      size: 12px;
    }

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    span {
      display: inline-block;
      min-width: 64px;
      text-align: center;

      span {
        color: $color-dark;
        font: {
          family: $font-family-slabo-27px;
          size: 16px;
        }
        padding: 0 4px;
        min-width: 24px;
      }
    }
  }
}

.list-header,
.character-accordion-header {
  margin: 0 25px 4px;
  height: 36px;
  line-height: 32px;
  position: relative;
  text-shadow: 1px 1px 0 #fff;
  cursor: pointer;
  background: url("#{$img-path}/bg/bg-inventory-nav-item-center-dark.png") repeat-x;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 36px;
    width: 25px;
  }

  &:before {
    background: url("#{$img-path}/bg/bg-inventory-nav-item-left-dark.png") no-repeat;
    left: -25px;
  }

  &:after {
    background: url("#{$img-path}/bg/bg-inventory-nav-item-right-dark.png") no-repeat;
    right: -25px;
  }

  h6 {
    margin: 0 -8px;
    line-height: inherit;
    position: relative;
  }
}

.list-header {
  max-width: 128px;
}

/* endregion #list */