/* region #location */
.location {
  width: 1247px;
  overflow-x: auto;

  &-holder {
    position: relative;
    overflow: hidden;
    height: 427px;
    width: 1247px;
  }

  &-building {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }

  &-club {
    height: 141px;
    width: 230px;
    top: 124px;
    left: 456px;
  }

  &-post {
    height: 70px;
    width: 121px;
    bottom: 66px;
    right: 369px;
  }

  &-board {
    height: 45px;
    width: 63px;
    bottom: 97px;
    left: 454px;
  }

  &-shop {
    height: 78px;
    width: 113px;
    bottom: 62px;
    left: 227px;
  }

  &-shop-2 {
    height: 54px;
    width: 97px;
    bottom: 155px;
    left: 250px;
  }

  &-forge {
    height: 74px;
    width: 91px;
    bottom: 140px;
    right: 355px;
  }

  &-sphere {
    height: 93px;
    width: 87px;
    bottom: 70px;
    right: 550px;
  }

  &-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 1040px;
    margin: 0 auto;
    padding: 0 14px 4px;
    position: relative;
    background: url("#{$img-path}/location/bg-location-nav.png") repeat-x;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 26px;
      width: 14px;
    }

    &:before {
      background: url("#{$img-path}/location/bg-location-nav-left.png") no-repeat;
      left: -14px;
    }

    &:after {
      background: url("#{$img-path}/location/bg-location-nav-right.png") no-repeat;
      right: -14px;
    }

    &-list {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-item {
        color: #292929;
        text-transform: capitalize;
        font: {
          size: 10px;
          weight: bold;
        }
        line-height: 1;

        a {
          color: inherit;
        }
      }

      & + .location-nav-list {
        border-left: 2px solid;
        padding-left: 8px;
        margin-left: 8px;
      }
    }

    .divider,
    .divider span {
      display: inline-block;
      height: 5px;
      width: 5px;
      overflow: hidden;
      position: relative;
      font: {
        size: 0;
      }

      &:before,
      &:after {
        background: #292929;
        content: "";
        height: 2px;
        width: 2px;
        position: absolute;
        left: 0;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    .divider {
      margin: 0 4px;

      span {
        height: 5px;
        width: 2px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .progress-bar {
    background: $color-darken;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;

    &-current {
      height: 2px;
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      width: 0;

      &:before,
      &:after {
        content: "";
        height: 50%;
        width: 100%;
        position: absolute;
        left: 0;
      }

      &:before {
        background: $color-white;
        top: 0;
      }

      &:after {
        background: #b1b2b2;
        bottom: 0;
      }
    }
  }
}

/* endregion #location */