/*  region #toastr */
.mini-toastr {
  position: fixed;
  right: 16px;
  top: 16px;
  z-index: 9999;

  &__notification {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 78px;
    width: 324px;
    font: {
      size: 12px;
    }
    color: #363636;
    padding: 33px 0 45px;
    line-height: 1.3;
    position: relative;

    .mini-toastr-notification__title,
    .mini-toastr-notification__message {
      padding: 0 67px;
    }

    &:before {
      content: "";
      height: 24px;
      width: 19px;
      position: absolute;
      left: 32px;
      top: 50%;
      transform: translateY(-65%);
    }

    &.-success {
      background: url("#{$img-path}/alerts/bg-alert-success-top.png") no-repeat top left, url("#{$img-path}/alerts/bg-alert-success-bottom.png") no-repeat bottom left;

      &:before {
        background: url("#{$img-path}/alerts/icon-alert-success.png") no-repeat center center;
      }

      .mini-toastr-notification__title,
      .mini-toastr-notification__message {
        background: url("#{$img-path}/alerts/bg-alert-success-center.png") repeat-y top left;
      }
    }

    &.-warn {
      background: url("#{$img-path}/alerts/bg-alert-warn-top.png") no-repeat top left, url("#{$img-path}/alerts/bg-alert-warn-bottom.png") no-repeat bottom left;

      &:before {
        background: url("#{$img-path}/alerts/icon-alert-warn.png") no-repeat center center;
      }

      .mini-toastr-notification__title,
      .mini-toastr-notification__message {
        background: url("#{$img-path}/alerts/bg-alert-warn-center.png") repeat-y top left;
      }
    }

    &.-error {
      color: #860000;
      background: url("#{$img-path}/alerts/bg-alert-error-top.png") no-repeat top left, url("#{$img-path}/alerts/bg-alert-error-bottom.png") no-repeat bottom left;

      &:before {
        background: url("#{$img-path}/alerts/icon-alert-error.png") no-repeat center center;
      }

      .mini-toastr-notification__title,
      .mini-toastr-notification__message {
        background: url("#{$img-path}/alerts/bg-alert-error-center.png") repeat-y top left;
      }
    }

    &.-info {
      background: url("#{$img-path}/alerts/bg-alert-info-top.png") no-repeat top left, url("#{$img-path}/alerts/bg-alert-info-bottom.png") no-repeat bottom left;

      &:before {
        display: none;
      }

      .mini-toastr-notification__title,
      .mini-toastr-notification__message {
        background: url("#{$img-path}/alerts/bg-alert-info-center.png") repeat-y top left;
        padding: 0 42px;
      }
    }
  }

  &-notification__title {
    font: {
      size: 13px;
      weight: bold;
    }
  }
}

/*  endregion #toastr */