/* region #modal */
.modal {
  background: url("#{$img-path}/bg/bg-modal-top.png") no-repeat top left, url("#{$img-path}/bg/bg-modal-bottom.png") no-repeat bottom left;
  min-height: 134px;
  width: 348px;
  padding: 43px 0 72px;
  margin: 0 auto;

  &-dialog {
    background: url("#{$img-path}/bg/bg-modal-middle.png") repeat-y;
    min-height: 19px;
    padding: 25px 37px;
  }

  &-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: -40px 0 16px;

    h3 {
      font: {
        weight: normal;
      }
      text-align: left;
      margin: 0;
    }
  }

  &-content {
    margin: 0 0 -34px;
  }

  &-close {
    background: url("#{$img-path}/icons/icon-close.png") no-repeat center center;
    border: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0 0 0 16px;
    padding: 0;
    font: {
      size: 0;
    }
  }
}

.kits-modal-wrap {
  form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    input {
      flex: 1;
      margin-right: 5px;
      padding: 0 10px;
      border-radius: 2px;
      border: 1px solid #bdbdbd;
      box-shadow: inset 0 3px 3px 0 rgba(#2b2b2b, .08) !important;
      @include placeholder(#cbcbcb, 12px, normal);
    }
  }
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
/* endregion #modal */