/* region #progress bar */
.progress-bar-small {
  display: block;
  border: 1px solid #a1a1a1;
  background: #bfbfbf;
  height: 5px;
  width: 27px;
  padding: 0 !important;
  box-shadow: 0 1px 1px 0 rgba($color-black, .25);

  .progress-bar-current {
    display: block;
    background: #f4f5f5;
    height: 100%;
    padding: 0 !important;
    margin: 0;
  }
}

/* endregion #progress bar */