/* region #radio */
.radio {
  & + .radio {
    margin-top: 0;
  }

  input[type="radio"] {
    & + label {
      &:after,
      &:before {
        border-radius: 50%;
      }
    }
  }
}

/* endregion #radio */