/* region #select */
.select {
  display: inline-block;
  height: 28px;
  min-width: 100px;
  margin-right: 4px;
  border: 1px solid $color-white;
  background: $color-middle-grey;
  box-shadow: inset 0 0 6px 0 rgba($color-grey, .25);
  color: $color-black;

  select {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    border: 0;
    background: transparent;
  }

  &.is-large {
    width: 261px;
  }
}

/* endregion #select */