/* region #separator */
.separator {
  position: relative;
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  background: linear-gradient(to right,#e5e7e8 0,#c8c7ca 50%,#e5e7e8 100%);
  box-shadow: 0 1px 1px 0 #c8c7ca;
  margin: 20px 0;
}

/* endregion #separator */