/* region #states list */
.states-list {
  &-item {
    margin: 0 8px;
  }
}

.states-list,
.skills-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &-item {
    margin-bottom: 16px;
  }
}

/* endregion #states list */