/* region #tags */
.tags {
  padding: 10px 0 0;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $color-white;
  font: {
    size: 13px;
    weight: bold;
  }
  color: #6a6a6a;
  border: 1px solid #cfd0d2;
  border-radius: 2px;
  overflow: hidden;
  padding: 4px 8px;
  box-shadow: 0 0 16px 0 rgba(#b6b8b9, .25);

  .icon {
    margin-right: 8px;
  }

  .btn-remove {
    margin-left: 8px;
  }
}

/* endregion #tags */