/* region #username */
.username-wrap {
  display: inline-block;

  .username {
    vertical-align: baseline !important;

    .info {
      margin-left: 6px;
    }

    &.username-left {
      color: $color-red;
    }

    &.username-right {
      color: $color-dark-navy-blue;
    }

    .username-hp {
      color: #a3a3a3;
      font: {
        size: 11px;
      }

      strong {
        color: $color-black;
        font: {
          size: 13px;
        }
      }
    }
  }

  .is-small {
    transform: translatey(2px);
  }
}

/* endregion #username */