<template>
    <div class="chat-message"
         :class="{
            'chat-message-to': !message.is_private && message.receivers.indexOf($auth.user().login) !== -1,
            'chat-message-private': message.is_private && message.receivers.indexOf($auth.user().login) !== -1
        }">
        <time class="date-private" :datetime="message.created_at | date">{{ message.created_at | date('HH:mm') }}</time>
        <span>
            <span class="username" @click="clickOnUserName(message.sender, true)"><strong><span>&#8250;</span> {{ message.sender }}</strong></span>
            <span class="username" v-if="message.receivers.length > 0">
                <strong>
                    <span>&raquo;</span>
                    <span v-if="message.is_private">private</span>
                    <span v-else>to</span>
                    [<span v-for="(receiver, index) in message.receivers">{{ receiver }}<span v-if="index !== message.receivers.length - 1">, </span></span>]
                </strong>
            </span>
            <span class="message-text">{{ message.message }}</span>
        </span>
    </div>

</template>

<script>
    export default {
        props: ['message'],
        name: 'chat-message',

        methods: {
            clickOnUserName(login, isPublic) {
                this.$emit('username-clicked', login, isPublic);
            },
        },
    };
</script>
