<template>
    <div class="chat-wrapper">
        <div class="chat" :style="{ height: chatHeight + 'px'}">
            <div class="chat-container" @mousedown.stop="dragChatStart">
                <div class="chat-container-dragger"></div>
                <div class="chat-main">
                    <div class="chat-main-inner">
                        <div class="chat-box chat-box-left" :style="{ width: chatWidth + '%' }">
                            <div class="chat-box-inner">
                                <div class="chat-body">
                                    <div class="chat-time-separator"></div>
                                    <div class="chat-time-bg"></div>
                                        <VuePerfectScrollbar class="scroll-area" :settings="settings" ref="scroll">
                                            <div class="chat-messages">
                                                <chat-message v-for="message in filteredMessages" :key="message._id"
                                                              @username-clicked="addToReceivers"
                                                              :message="message"></chat-message>
                                            </div>
                                        </VuePerfectScrollbar>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box chat-box-right" :style="{ width: roomListWidth + '%' }">
                            <div class="chat-box-inner">
                                <div class="chat-body">
                                    <div class="chat-users">
                                        <div class="chat-users-hall">
                                            <h3>Комната для новчиков ({{ locationUsers.length }})</h3>
                                        </div>
                                        <ul class="chat-users-list">
                                            <li class="chat-users-item" v-for="user in locationUsers" :key="user.login">
                                                <!--<span class="tendency"></span>-->
                                                <!--<span class="clan"></span>-->
                                                <span class="cu-login pointer"
                                                      @contextmenu.prevent="$refs.ctxMenu.open"
                                                      @click="addToReceivers(user.login, true)">
                                                    {{ user.login }}
                                                    <span class="cu-level">[{{ user.level }}]</span>
                                                </span>
                                                <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                                                    <span class="info">i</span>
                                                </router-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-draggable" @mousedown.stop="dragRoomStart" :style="{ left: chatWidth + '%' }">
                            <div class="chat-draggable-inner"></div>
                        </div>
                    </div>
                </div>
                <div class="chat-bottom">
                    <div class="chat-bottom-inner">
                        <div class="chat-bottom-left">
                            <form class="chat-form" @submit.prevent>
                                <div class="chat-form-item">
                                    <span class="chat-form-icon chat-form-icon-left">
                                        <i class="icon icon-chat"></i>
                                    </span>
                                    <input class="chat-form-input" maxlength="230" type="text"
                                           placeholder="Пишем сюда свое сообщение..."
                                           v-model.trim="newMessage"
                                           @keyup.enter="addMessage"
                                           ref="chatInput">
                                    <button class="btn btn-default chat-submit" title="Send message"
                                            type="submit">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                    <span class="chat-form-icon chat-form-icon-right">
                                        <button class="btn chat-btn chat-form-submit" title="Send message" type="submit"
                                                @click="addMessage">
                                            <i class="fa fa-terminal"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="chat-bottom-right">
                            <popover name="smiles" :width="348" v-once>
                                <picker @click="addEmoji" title="Кликните на emoji"></picker>
                            </popover>
                            <ul class="chat-bottom-buttons">
                                <li>
                                    <button title="Смайлики" class="chat-btn" type="submit" v-popover:smiles.top>
                                        <i class="fa fa-smile-o"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="chat-btn" type="submit"
                                            title="Очистить строку ввода/чат"
                                            @click="cleanChat">
                                        <i class="fa fa-eraser"></i>
                                    </button>
                                </li>
                                <li>
                                    <button :class="{ 'is-active': privateFilter }"
                                            :title="'(' +(privateFilter ? 'Включено' : 'Выклюено') + ') Показывать в чате только сообщения адресованные мне'"
                                            class="chat-btn" type="submit"
                                            @click="togglePrivateFilter">
                                        <i class="fa fa-filter"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="chat-btn" type="submit"
                                            :class="{ 'is-active': translitTransform }"
                                            :title="'('+(translitTransform ? 'Включено' : 'Выклюено')+') Преобразовывать транслит в русский текст'"
                                            @click="toggleTranslitTransform">
                                        <i class="fa fa-exchange"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="chat-btn">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="chat-btn">
                                        <i class="icon icon-protect"></i>
                                    </button>
                                </li>
                            </ul>
                            <time>{{ date | date('HH:mm') }}</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <context-menu class="chat-context-menu" id="context-menu" ref="ctxMenu">
            <li @click="" class="ctx-item">Инфо</li>
            <li class="ctx-item">В друзья</li>
            <li class="ctx-item">Игнорировать</li>
            <li class="ctx-item">Копировать</li>
            <li class="ctx-item">Передать</li>
            <li class="ctx-item">Пожаловаться</li>
        </context-menu>
    </div><!-- .chat-wrapper -->
</template>

<style lang="scss">
    .scroll-area {
        height: 100%;
        position: relative;
    }
</style>

<script>
    import * as _ from 'lodash';
    import * as gql from 'graphql-tag';
    import contextMenu from 'vue-context-menu';
    import { Emoji, Picker } from 'emoji-mart-vue';

    import VuePerfectScrollbar from 'vue-perfect-scrollbar';
    import ChatMessage from './ChatMessage';

    const MESSAGE_REGEXP = /(private|to)\s\[(.*?)\]\s*/g;
    const TRANSLIT_RULES = {
        en: ['s`h', 'S`h', 'S`H', 's`Х', 'sh`', 'Sh`', 'SH`', "'o", 'yo', "'O", 'Yo', 'YO', 'zh', 'w', 'Zh', 'ZH', 'W',
            'ch', 'Ch', 'CH', 'sh', 'Sh', 'SH', 'e`', 'E`', "'u", 'yu', "'U", 'Yu', 'YU', "'a", 'ya', "'A", 'Ya', 'YA',
            'a', 'A', 'b', 'B', 'v', 'V', 'g', 'G', 'd', 'D', 'e', 'E', 'z', 'Z', 'i', 'I', 'j', 'J', 'k', 'K', 'l',
            'L', 'm', 'M', 'n', 'N', 'o', 'O', 'p', 'P', 'r', 'R', 's', 'S', 't', 'T', 'u', 'U', 'f', 'F', 'h', 'H',
            'c', 'C', '`', 'y', 'Y', "'",
        ],
        ru: ['сх', 'Сх', 'СХ', 'сХ', 'щ', 'Щ', 'Щ', 'ё', 'ё', 'Ё', 'Ё', 'Ё', 'ж', 'ж', 'Ж', 'Ж', 'Ж', 'ч', 'Ч', 'Ч',
            'ш', 'Ш', 'Ш', 'э', 'Э', 'ю', 'ю', 'Ю', 'Ю', 'Ю', 'я', 'я', 'Я', 'Я', 'Я', 'а', 'А', 'б', 'Б', 'в', 'В',
            'г', 'Г', 'д', 'Д', 'е', 'Е', 'з', 'З', 'и', 'И', 'й', 'Й', 'к', 'К', 'л', 'Л', 'м', 'М', 'н', 'Н', 'о',
            'О', 'п', 'П', 'р', 'Р', 'с', 'С', 'т', 'Т', 'у', 'У', 'ф', 'Ф', 'х', 'Х', 'ц', 'Ц', 'ъ', 'ы', 'Ы', 'ь',
        ],
    };

    export default {
        components: {
            ChatMessage,
            VuePerfectScrollbar,
            contextMenu,
            Emoji,
            Picker,
        },
        data() {
            return {
                winWidth: null,
                winHeight: null,
                chatWidth: null,
                chatHeight: 180,
                chatMinHeight: 180,
                chatMaxHeight: 60, // in percent
                chatMinWidth: 30,
                roomListWidth: null,
                roomListMinWidth: 20,
                translitTransform: false,
                privateFilter: false,
                newMessage: '',
                messages: [],
                characters: [],
                locationUsers: [],
                date: new Date(),
                settings: {
                    suppressScrollX: true,
                },
            };
        },

        mounted() {
            setInterval(this.updateDateTime, 1000);

            this.$apollo.queries.locationUsers.subscribeToMore({
                document: gql`subscription userLocationJoined($location: String!) {
                  userLocationJoined(location: $location) {
                    login
                    level
                  }
                }`,
                variables: {
                    location: this.user.location._id,
                },
                updateQuery: (previousResult, { subscriptionData }) => ({
                    locationUsers: _.reject(
                        previousResult.locationUsers,
                        { login: subscriptionData.data.userLocationJoined.login },
                    ).concat(subscriptionData.data.userLocationJoined),
                }),
                skip() {
                    return _.get(this.user, 'location._id', null) === null;
                },
            });

            this.$apollo.queries.locationUsers.subscribeToMore({
                document: gql`subscription userLocationLeaved($location: String!) {
                  userLocationLeaved(location: $location) {
                    login
                    level
                  }
                }`,
                variables: {
                    location: this.user.location._id,
                },
                updateQuery: (previousResult, { subscriptionData }) => ({
                    locationUsers: _.reject(
                        previousResult.locationUsers,
                        { login: subscriptionData.data.userLocationLeaved.login },
                    ),
                }),
                skip() {
                    return _.get(this.user, 'location._id', null) === null;
                },
            });
        },

        apollo: {
            locationUsers: {
                query: gql`query($location: String!) {
                  locationUsers(location: $location) {
                    login
                    level
                  }
                }`,
                fetchPolicy: 'network-only',
                variables() {
                    return {
                        location: this.user.location._id,
                    };
                },
            },
            $subscribe: {
                chatMessageAdded: {
                    query: gql`subscription chatMessageAdded($receiver: String!) {
                      chatMessageAdded(receiver: $receiver) {
                        _id
                        sender
                        message
                        receivers
                        is_private
                        created_at
                      }
                    }`,
                    variables() {
                        return {
                            receiver: this.user.login,
                        };
                    },
                    result({ chatMessageAdded }) {
                        const message = {
                            ...chatMessageAdded,
                        };

                        if (!Array.isArray(message.receivers)) {
                            message.receivers = _.filter(message.receivers.split(','), receiver => !!receiver);
                        }

                        this.messages.push(message);
                        this.$refs.chatInput.focus();

                        this.$nextTick(() => {
                            this.$refs.scroll.$el.scrollTop = 9999999;
                        });
                    },
                },
            },
        },
        computed: {
            user() {
                return this.$auth.user();
            },
            filteredMessages() {
                const filter = {};
                if (this.privateFilter) {
                    filter.is_private = true;
                }
                return _.filter(this.messages, filter);
            },
        },
        methods: {
            addEmoji(emoji) {
                this.newMessage += `${emoji.colons} `;
                this.$refs.chatInput.click();
                this.$refs.chatInput.focus();
            },
            togglePrivateFilter() {
                this.privateFilter = !this.privateFilter;
            },
            addToReceivers(login, isPublic) {
                const partMessage = isPublic ? 'to' : 'private';
                const match = new RegExp(`${partMessage}\\s\\[(.*?)\\]`, 'g').exec(this.newMessage);
                let loginList = login;
                if (match && match[1] && match[1].indexOf(login) === -1) {
                    loginList = `${match[1]}, ${loginList}`;
                }

                this.newMessage = `${partMessage} [${loginList}] ${this.newMessage.replace(MESSAGE_REGEXP, '')}`;
                this.$refs.chatInput.focus();
            },
            addMessage() {
                const newMessage = {
                    message: this.newMessage.replace(MESSAGE_REGEXP, ''),
                    receivers: [],
                    is_private: false,
                };

                if (!newMessage.message.length) {
                    return;
                }

                if (this.translitTransform) {
                    newMessage.message = this.transliterate(newMessage.message);
                }

                const match = MESSAGE_REGEXP.exec(this.newMessage);

                if (match !== null) {
                    newMessage.is_private = match[1] === 'private';
                    newMessage.receivers = _.uniq(
                        newMessage.receivers
                        .concat(match[2].split(/,\s*/).filter(receiver => !!receiver)),
                    );
                }
                this.newMessage = '';

                this.$apollo.mutate({
                    mutation: gql`mutation ($message: String!, $is_private: Boolean, $receivers: [String]) {
                      addChatMessage(message: $message, is_private: $is_private, receivers: $receivers) {
                        _id
                        message
                        is_private
                        receivers
                      }
                    }`,
                    variables: newMessage,
                })
                .catch(() => {
                    this.newMessage = newMessage.message;
                });
            },

            updateDateTime() {
                this.date = new Date();
            },

            cleanChat() {
                this.messages = [];
            },

            toggleTranslitTransform() {
                this.translitTransform = !this.translitTransform;
            },

            transliterate(message) {
                return message.split(/\s+/).map((word) => {
                    if (/https?:\/\/|ftp:\/\/|www\.|@/ig.test(word) || /:(.*?):/g.test(word)) {
                        return word;
                    }
                    let result = word;
                    _.each(TRANSLIT_RULES.en, (key, i) => {
                        result = result.replace(new RegExp(TRANSLIT_RULES.en[i], 'g'), TRANSLIT_RULES.ru[i]);
                    });
                    return result;
                }).join(' ');
            },

            dragChatStart() {
                this.winHeight = window.innerHeight;
                document.addEventListener('mousemove', this.draggingChat);
                document.addEventListener('mouseup', this.dragChatEnd);
            },
            draggingChat($event) {
                const chatHeight = this.winHeight - $event.clientY;

                if (chatHeight > this.chatMinHeight && (chatHeight / (this.winHeight * 0.01) <= this.chatMaxHeight)) {
                    this.chatHeight = chatHeight;
                    this.$emit('chat-resize', chatHeight);
                }
            },
            dragChatEnd() {
                document.removeEventListener('mousemove', this.draggingChat);
                document.removeEventListener('mouseup', this.dragChatEnd);
            },

            dragRoomStart() {
                this.winWidth = window.innerWidth;
                document.addEventListener('mousemove', this.draggingRoom);
                document.addEventListener('mouseup', this.dragRoomEnd);
            },
            draggingRoom($event) {
                const chatWidth = $event.clientX / (this.winWidth * 0.01);
                const roomListWidth = 100 - chatWidth;

                if (chatWidth > this.chatMinWidth && roomListWidth > this.roomListMinWidth) {
                    const gap = 16 / (this.winWidth * 0.01);
                    this.chatWidth = chatWidth - (gap / 2);
                    this.roomListWidth = roomListWidth - (gap / 2);
                }
            },
            dragRoomEnd() {
                document.removeEventListener('mousemove', this.draggingRoom);
                document.removeEventListener('mouseup', this.dragRoomEnd);
            },
        },

        name: 'chat',
    };
</script>
