/* region #mixins */
@mixin placeholder($color, $font-size, $font-weight) {
  &::-webkit-input-placeholder {
    color: $color;
    font: {
      weight: $font-weight;
      size: $font-size;
      style: italic;
    }
  }

  &:-ms-input-placeholder {
    color: $color;
    font: {
      weight: $font-weight;
      size: $font-size;
      style: italic;
    }
  }

  &::-moz-placeholder {
    color: $color;
    opacity: 1;
    font: {
      weight: $font-weight;
      size: $font-size;
      style: italic;
    }
  }
}

/* endregion #mixins */