<template>
    <div class="character-note">
        <div class="icon-wrap">
            <i class="icon icon-backpack"></i>
            <span class="progress-bar-small"><span class="progress-bar-current"
                                                   :style="{ width: width + '%' }"></span></span>
        </div>
        <div class="character-note-box">
            <span class="character-note-label">Масса рюкзака</span>
            <span class="character-note-value">{{ current | numberThousand }}/{{ max | numberThousand }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            current: {
                type: Number,
                required: false,
                default: 0,
            },
            max: {
                type: Number,
                required: true,
            },
        },
        data() {
            return {};
        },
        computed: {
            width() {
                return (this.current * 100) / this.max;
            },
        },
        name: 'backpack-status',
    };
</script>
