<template>
    <li class="character-accordion-list-item">
        <slot>&nbsp;</slot>
        <span class="character-accordion-actions"><span
              class="character-accordion-action">{{ value | numberThousand }}</span></span>
    </li>
</template>

<script>
    export default {
        props: {
            value: {
                type: Number,
                required: true,
                default: 0,
            },
        },
        data() {
            return {};
        },
        name: 'character-property',
    };
</script>
