<template>
    <li class="character-accordion-list-item">
        <slot></slot>
        <span class="character-accordion-actions"><button
                class="btn btn-pattern btn-minus"
                @click.prevent="dec()"
                v-if="canDecrease">-</button><span
                class="character-accordion-action">{{ min + currentValue | numberThousand }}</span><button
                class="btn btn-pattern btn-plus"
                @click.prevent="inc()"
                v-if="canIncrease">+</button></span>
    </li>
</template>

<script>
    export default {
        props: {
            value: {
                type: Number,
                required: true,
                default: 0,
            },
            min: {
                type: Number,
                required: false,
                default: 0,
            },
            available: {
                type: Number,
                required: true,
                default: 0,
            },
            increment: {
                type: Number,
                required: false,
                default: 1,
            },
        },
        data() {
            return {
                currentValue: 0,
                currentAvailable: 0,
            };
        },
        watch: {
            value(newVal) {
                if (newVal !== this.currentValue) {
                    this.currentValue = newVal;
                }
            },
            available(newVal) {
                if (newVal !== this.currentAvailable) {
                    this.currentAvailable = newVal;
                }
            },
        },
        mounted() {
            this.currentValue = this.value;
            this.currentAvailable = this.available;
        },
        methods: {
            notifyUpdate() {
                this.$emit('update:value', this.currentValue);
                this.$emit('update:available', this.currentAvailable);
            },
            inc() {
                this.currentValue += this.increment;
                this.currentAvailable -= this.increment;
                this.notifyUpdate();
            },
            dec() {
                this.currentValue -= this.increment;
                this.currentAvailable += this.increment;
                this.notifyUpdate();
            },
        },
        computed: {
            canDecrease() {
                return this.currentValue > 0;
            },
            canIncrease() {
                return this.currentAvailable > 0 && this.currentAvailable >= this.increment;
            },
        },
        name: 'character-property-plus-minus',
    };
</script>
