<template>
    <li class="character-accordion-list-item">
        <slot>&nbsp;</slot>
        <span class="character-accordion-actions"><span
              class="character-accordion-action">{{ min | numberThousand }} - {{ max | numberThousand }}</span></span>
    </li>
</template>

<script>
    export default {
        props: {
            min: {
                type: Number,
                required: true,
                default: 0,
            },
            max: {
                type: Number,
                required: true,
                default: 0,
            },
        },
        data() {
            return {};
        },
        name: 'character-property-range',
    };
</script>
