<template>
    <header class="character-skills-header">
        <div class="character-skills-header-row">
            <div class="character-note">
                <i class="icon icon-rank-light"></i>
                <div class="character-note-box">
                    <span class="character-note-label">Звание</span>
                    <span class="character-note-value">{{ user.rank }}</span>
                </div>
            </div>
            <div class="character-note">
                <div class="character-note-box">
                    <span class="character-note-label">Доблесть</span>
                    <span class="character-note-value">{{ user.valor | numberThousand }}</span>
                </div>
            </div>
        </div>
        <div class="character-skills-header-row">
            <div class="character-note">
                <div class="character-note-box">
                    <span class="character-note-label is-gold">Ваше золото</span>
                    <span class="coins"><i class="icon icon-coins"></i> {{ user.dinars | numberThousand }}</span>
                </div>
            </div>
            <div class="character-note">
                <i class="icon icon-lightning"></i>
                <div class="character-note-box">
                    <span class="character-note-label">Энергия</span>
                    <span class="character-note-value">{{ user.abilities.energy | numberThousand }}</span>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
                required: true,
                default: {
                    valor: 0,
                    rank: '',
                    dinars: 0,
                    abilities: {
                        energy: 0,
                    },
                },
            },
        },
        data() {
            return {};
        },
        name: 'character-summary',
    };
</script>
