<template>
    <div class="main-wrap">
        <div class="character-wrap">
            <character :user="user" @item-click="takeClothOff"></character>
            <div class="character-bottom">
                <ul class="fight-map-rolls" v-if="false">
                    <li class="fight-map-roll">5</li>
                    <li class="fight-map-roll">10</li>
                    <li class="fight-map-roll">1</li>
                    <li class="fight-map-roll">5</li>
                    <li class="fight-map-roll">10</li>
                    <li class="fight-map-roll">1</li>
                    <li class="fight-map-roll">5</li>
                    <li class="fight-map-roll">10</li>
                </ul>
                <item-set-list :sets="user.sets"
                               :isItemsWeared="canTakeClothesOff"
                               @undress-all="takeClothesOff"
                               @create-set="createSet"
                               @dress-set="takeSetOn"
                               @delete-set="deleteSet"></item-set-list>
            </div>
        </div>
        <div class="holder">
            <div class="holder-content">
                <user-stats-column :user="user"
                                   @save="saveUserStat"></user-stats-column>
                <div class="inventory">
                    <header class="inventory-header">
                        <div class="inventory-header-item">
                            <backpack-status :current="user.abilities.backpack_weight_current"
                                             :max="user.abilities.backpack_weight_max"></backpack-status>
                        </div>
                        <div class="inventory-header-item">
                            <button type="button" class="btn">Состояние</button>
                        </div>
                        <div class="inventory-header-item">
                            <button type="button" class="btn">Достижения</button>
                        </div>
                        <div class="inventory-header-item">
                            <button type="button" class="btn">Спутник</button>
                        </div>
                        <div class="inventory-header-item">
                            <button type="button" class="btn">Анкета</button>
                        </div>
                        <div class="inventory-header-item">
                            <button type="button" class="btn">Безопасность</button>
                        </div>
                        <div class="inventory-header-item">
                            <button type="button" class="btn">Образ</button>
                        </div>
                    </header>
                    <nav class="inventory-nav">
                        <ul class="inventory-nav-list">
                            <li class="inventory-nav-item is-active">
                                <a href="#">Обмундирование</a>
                            </li>
                            <li class="inventory-nav-item">
                                <a href="#">Заклятия</a>
                            </li>
                            <li class="inventory-nav-item">
                                <a href="#">Эликсиры</a>
                            </li>
                            <li class="inventory-nav-item">
                                <a href="#">Усиления</a>
                            </li>
                            <li class="inventory-nav-item">
                                <a href="#">Прочее</a>
                            </li>
                        </ul>
                    </nav>
                    <inventory-type-filter :items="filteredItems" @filter="filterItems"></inventory-type-filter>
                    <inventory-items-list
                            v-if="filteredItems.length > 0"
                            :items="filteredItems"
                            @item-wear="takeClothOn"></inventory-items-list>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';

    import Character from '@/components/Character';
    import Collapse from '@/components/Collapse';
    import BackpackStatus from '@/components/Inventory/BackpackStatus';
    import InventoryTypeFilter from '@/components/Inventory/InventoryTypeFilter';
    import ItemSetList from '@/components/Inventory/ItemSetList';
    import UserStatsColumn from '@/components/Inventory/UserStatsColumn';

    import { UPDATE_USER_STATS, TAKE_CLOTHES_OFF, TAKE_CLOTH_ON, TAKE_CLOTH_OFF,
        CREATE_SET, DELETE_SET, TAKE_SET_ON } from './mutations';

    import InventoryItemsList from '../Store/items/InventoryItemsList';

    export default {
        components: {
            InventoryItemsList,
            InventoryTypeFilter,
            BackpackStatus,
            Character,
            Collapse,
            ItemSetList,
            UserStatsColumn,
        },
        data() {
            return {
                itemsFilters: {
                    min_user_rank: 0,
                    min_user_level: 0,
                    types: [],
                },
                filter: '',
            };
        },
        computed: {
            user() {
                return this.$auth.user();
            },
            items() {
                return _.get(this.user, 'items.data', []);
            },
            canTakeClothesOff() {
                return this.dressedItemsIds.length > 0;
            },
            dressedItemsIds() {
                return _.map(this.dressedItems, item => item._id);
            },
            dressedItems() {
                return _.filter(this.items || [], { is_dressed_on: true });
            },
            undressedItems() {
                return _.filter(this.items || [], { is_dressed_on: false });
            },
            filteredItems() {
                return _.filter(this.undressedItems, item => !this.filter
                    || _.includes(this.filter.split(','), item.item.item_type));
            },
        },
        methods: {
            filterItems(type) {
                this.filter = type;
            },
            refetchUser() {
                this.$auth.fetch();
            },
            saveUserStat(data) {
                this.mutateUser(UPDATE_USER_STATS, data);
            },
            takeClothesOff() {
                this.mutateUser(TAKE_CLOTHES_OFF);
            },
            takeClothOn(itemId) {
                this.mutateUser(TAKE_CLOTH_ON, { item_id: itemId });
            },
            takeClothOff(itemId) {
                this.mutateUser(TAKE_CLOTH_OFF, { item_id: itemId });
            },
            createSet(id, name) {
                if (!name) {
                    return;
                }
                const items = this.dressedItemsIds;
                if (items.length > 0) {
                    this.mutateUser(CREATE_SET, { name, items, set_id: id });
                }
            },
            deleteSet(id) {
                this.mutateUser(DELETE_SET, { set_id: id });
            },
            takeSetOn(id) {
                this.mutateUser(TAKE_SET_ON, { set_id: id });
            },
            mutateUser(mutation, variables = {}) {
                this.$apollo.mutate({ mutation, variables })
                    .then(() => this.refetchUser())
                    .catch(window.console.error);
            },
        },
    };
</script>
