<template>
    <div class="inventory-list-wrap">
        <div class="bg-pattern"></div>
        <ul class="inventory-list">
            <li class="inventory-item"
                :class="{'is-active': filter === type.type }"
                @click="onTypeClick(type.type)"
                v-for="type in typesAggregation" :key="type.type">
                <div class="inventory-item-holder">
                    <div class="inventory-item-box">
                        <span class="inventory-item-img">
                            <span class="badge" v-if="type.type">{{ type.count || 0 }}</span>
                            <i class="icon" :class="type.className"></i>
                        </span>
                        <span class="inventory-item-name">{{ type.title }}</span>
                    </div>
                </div>
            </li>
        </ul><!-- .inventory-list -->
    </div>
</template>

<script>
    import * as _ from 'lodash';

    export default {
        props: {
            items: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                filter: '',
                types: {
                    '': {
                        className: 'icon-dots',
                        title: 'Все',
                    },
                    HELMET: {
                        className: 'icon-helmet',
                        title: 'Голова',
                    },
                    BRACELET: {
                        className: 'icon-handcuffs',
                        title: 'Наручи',
                    },
                    GLOVES: {
                        className: 'icon-gloves',
                        title: 'Перчатки',
                    },
                    'SWORD,AXE,KNIFE,MACE,KNIFE_LEFT': {
                        className: 'icon-arms',
                        title: 'Оружие',
                    },
                    'ARMOR,SHIRT,CLOAK': {
                        className: 'icon-armor',
                        title: 'Броня',
                    },
                    BELT: {
                        className: 'icon-belt',
                        title: 'Пояс',
                    },
                    SHIELD: {
                        className: 'icon-guard',
                        title: 'Щит',
                    },
                    LEGGINGS: {
                        className: 'icon-legs',
                        title: 'Ноги',
                    },
                    BOOTS: {
                        className: 'icon-boots',
                        title: 'Ботинки',
                    },
                    'AMULET,RING,EARRINGS': {
                        className: 'icon-jewelry',
                        title: 'Украшения',
                    },
                },
            };
        },
        computed: {
            typesAggregation() {
                // Get array of all existing types from array of items
                const types = _.map(this.items, item => item.item.item_type);
                // Group types by name to get count of each type
                const group = _.mapValues(_.groupBy(types), typesArray => typesArray.length);
                // Map initial types array to inject type name and count into it
                return _.map(this.types, (typeObject, type) => {
                    const typeArray = type.split(',');
                    const count = _.sum(_.map(typeArray, typeName => group[typeName] || 0));
                    return {
                        type,
                        ...typeObject,
                        count,
                    };
                });
            },
        },
        methods: {
            onTypeClick(type) {
                this.filter = type;
                this.$emit('filter', type);
            },
        },
        name: 'inventory-type-filter',
    };
</script>
