<template>
    <div class="kits">
        <template v-if="isItemsWeared">
            <p><button type="button" class="btn" @click.prevent="takeAllOff">Снять все</button></p>
            <p><button type="button" class="btn" @click.prevent="openModal">Запомнить комплект</button></p>
        </template>
        <ul class="list" v-if="sets.length > 0">
            <li class="list-item" v-for="set in sets" :key="set._id">
                <i class="icon icon-armor is-small" @click="takeSetOn(set._id)"></i>
                <div class="kits-name">
                    <label>Комплект</label>
                    <p @click="takeSetOn(set._id)">{{ set.name }}</p>
                </div>
                <div class="list-item-actions">
                    <button type="button" class="btn btn-edit" :title="`Редактировать ${set.name}`"
                            @click.prevent="openModal(set.name, set._id)">edit</button>
                    <button type="button" class="btn btn-delete" :title="`Удалить ${set.name}`"
                            @click.prevent="deleteSet(set._id)">delete</button>
                </div>
            </li>
            <li class="list-item">Нажмите на комплект, чтобы надеть его.</li>
        </ul>
        <inventory-modal :is-open="showSetModal" @close="closeModal">
            <template slot="body">
                <form @submit.prevent="createSet">
                    <input type="text" placeholder="Название комплекта..."
                           ref="setNameInput"
                           v-model.trim="setName">
                    <button type="submit" class="btn">Сохранить</button>
                </form>
            </template>
        </inventory-modal>
    </div>
</template>

<script>
    import InventoryModal from '@/components/Inventory/Modal';

    export default {
        components: {
            InventoryModal,
        },
        props: {
            sets: {
                type: Array,
                required: true,
            },
            isItemsWeared: {
                type: Boolean,
                required: false,
                default: false,
            },
        },
        data() {
            return {
                showSetModal: false,
                setName: '',
                setId: null,
            };
        },
        methods: {
            closeModal() {
                this.showSetModal = false;
                this.setName = '';
                this.setId = null;
            },
            openModal(setName = '', setId = null) {
                this.showSetModal = true;
                this.setName = setName;
                this.setId = setId;
                this.$nextTick(() => {
                    this.$refs.setNameInput.focus();
                });
            },
            createSet() {
                if (!this.setName) {
                    return;
                }
                this.$emit('create-set', this.setId, this.setName);
                this.closeModal();
            },
            deleteSet(setId) {
                this.$emit('delete-set', setId);
            },
            takeSetOn(setId) {
                this.$emit('dress-set', setId);
            },
            takeAllOff() {
                this.$emit('undress-all');
            },
        },
    };
</script>
