<template>
    <transition name="modal" v-if="isOpen">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="kits-modal-wrap">
                    <div class="modal">
                        <div class="modal-dialog">
                            <header class="modal-header">
                                <h3><slot name="header"><strong>Сохранить</strong> комплект</slot></h3>
                                <button type="button" class="modal-close" title="close" @click="$emit('close')">close</button>
                            </header>
                            <div class="modal-content">
                                <slot name="body"></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            isOpen: {
                type: Boolean,
                default: false,
            },
        },
        name: 'inventory-modal',
        watch: {
            isOpen(val) {
                document.body.style.overflow = val ? 'hidden' : '';
            },
        },
//        mounted() {
//            document.addEventListener('onkeydown', this.onEsc, false);
//            console.log('asd');
//        },
//        methods: {
//            onEsc(evt) {
//                console.log(evt);
//                // eslint-disable-next-line
//                evt = evt || window.event;
//                if (('key' in evt && (evt.key === 'Escape' || evt.key === 'Esc')) || evt.keyCode === 27) {
//                    this.$emit('close');
//                }
//            },
//        },
//        beforeDestroy() {
//            document.removeEventListener('onkeydown', this.onEsc, false);
//        },
    };
</script>
