<template>
    <div class="character-skills">
        <character-summary :user="user"></character-summary>
        <div class="character-accordion">
            <collapse :selected="true">
                <div slot="collapse-header">
                    <h6>
                        Характеристики
                        <strong class="plus" v-if="free_ability">+{{ free_ability }}</strong>
                    </h6>
                </div>
                <div slot="collapse-body">
                    <ul class="character-accordion-list">
                        <character-property-plus-minus v-for="(diff, propName) in diffs.abilities"
                                                       :key="'ability_' + propName"
                                                       :value.sync="diffs.abilities[propName]"
                                                       :min="user.abilities[propName]"
                                                       :available.sync="free_ability">{{ labels.abilities[propName] }}</character-property-plus-minus>
                    </ul>
                </div>
            </collapse>
            <collapse>
                <div slot="collapse-header">
                    <h6>Модификаторы</h6>
                </div>
                <div slot="collapse-body">
                    <ul class="character-accordion-list">
                        <character-property-range
                                :min="user.abilities.damage_min"
                                :max="user.abilities.damage_max">Урон</character-property-range>
                        <character-property :value="user.modifiers.dodge">Уворот</character-property>
                        <character-property :value="user.modifiers.anti_dodge">Антиуворот</character-property>
                        <character-property :value="user.modifiers.critical">Крит</character-property>
                        <character-property :value="user.modifiers.anti_critical">Антикрит</character-property>
                        <character-property :value="user.abilities.mall">Mall</character-property>
                        <character-property :value="user.abilities.mall_type">Mall Type</character-property>
                    </ul>
                </div>
            </collapse>
            <collapse>
                <div slot="collapse-header">
                    <h6>
                        Владения
                        <strong class="plus" v-if="free_mastery">+{{ free_mastery }}</strong>
                    </h6>
                </div>
                <div slot="collapse-body">
                    <ul class="character-accordion-list">
                        <character-property-plus-minus v-for="(diff, propName) in diffs.mastery"
                                                       :key="'mastery_' + propName"
                                                       :value.sync="diffs.mastery[propName]"
                                                       :min="user.mastery[propName]"
                                                       :available.sync="free_mastery">{{ labels.mastery[propName] }}</character-property-plus-minus>
                    </ul>
                </div>
            </collapse>
            <collapse>
                <div slot="collapse-header">
                    <h6>Броня</h6>
                </div>
                <div slot="collapse-body">
                    <ul class="character-accordion-list">
                        <character-property :value="user.armor.head">Голова</character-property>
                        <character-property :value="user.armor.chest">Грудь</character-property>
                        <character-property :value="user.armor.abdomen">Живот</character-property>
                        <character-property :value="user.armor.girdle">Пояс (пах)</character-property>
                        <character-property :value="user.armor.legs">Ноги</character-property>
                    </ul>
                </div>
            </collapse>
            <collapse>
                <div slot="collapse-header">
                    <h6>Мощность</h6>
                </div>
                <div slot="collapse-body">
                    на стадии разработки
                </div>
            </collapse>
        </div>
        <footer class="character-skills-footer">
            <div v-if="canDisplayActionButtons">
                <p><button type="button" class="btn" @click="onApplyButtonClick">Применить</button></p>
                <p><button type="button" class="btn" @click="onResetStatsButtonClick">Сбросить статы</button></p>
            </div>
            <div class="character-skills-profit">
                <p>
                    <span class="inventory-item-name">Опыт:</span>
                    <span class="character-skills-profit-value"><span class="inventory-item-name">{{ user.exp | numberThousand }}</span> / {{ 20000 | numberThousand }}</span>
                </p>
                <p>
                    <span class="inventory-item-name">Побед/Поражений/Ничьих:</span>
                    <span class="character-skills-profit-value">
                                    <span class="inventory-item-name">
                                    {{ user.wins | numberThousand }} / {{ user.defeats | numberThousand }} / {{ user.draws | numberThousand }}
                                    </span>
                                </span>
                </p>
            </div>
        </footer>
    </div>
</template>

<script>

    import * as _ from 'lodash';

    import CharacterProperty from '@/components/Inventory/CharacterProperty';
    import CharacterPropertyPlusMinus from '@/components/Inventory/CharacterPropertyPlusMinus';
    import CharacterPropertyRange from '@/components/Inventory/CharacterPropertyRange';
    import CharacterSummary from '@/components/Inventory/CharacterSummary';
    import Collapse from '@/components/Collapse';

    export default {
        components: {
            CharacterProperty,
            CharacterPropertyPlusMinus,
            CharacterPropertyRange,
            CharacterSummary,
            Collapse,
        },
        props: {
            user: {
                type: Object,
                required: true,
            },
        },
        data() {
            return {
                free_ability: 0,
                free_mastery: 0,
                initialDiffs: {},
                diffs: {
                    abilities: {
                        strength: 0,
                        agility: 0,
                        intuition: 0,
                        endurance: 0,
                        intelligence: 0,
                        spirituality: 0,
                        sincerity: 0,
                    },
                    mastery: {
                        club: 0,
                        axe: 0,
                        knife: 0,
                        sword: 0,
                    },
                },
                labels: {
                    abilities: {
                        strength: 'Сила',
                        agility: 'Ловкость',
                        intuition: 'Интуиция',
                        endurance: 'Выносливость',
                        intelligence: 'Интелект',
                        spirituality: 'Духовность',
                        sincerity: 'Душевность',
                    },
                    mastery: {
                        club: 'Дубинами, булавами',
                        axe: 'Топорами, секирами',
                        knife: 'Ножами, кастетами',
                        sword: 'Мечами',
                    },
                },
            };
        },
        computed: {
            canDisplayActionButtons() {
                return (this.free_ability !== this.user.free_ability && this.user.free_ability > 0) ||
                    (this.free_mastery !== this.user.free_mastery && this.user.free_mastery > 0);
            },
        },
        mounted() {
            this.initialDiffs = _.cloneDeep(this.diffs);
            this.free_ability = this.user.free_ability;
            this.free_mastery = this.user.free_mastery;
        },
        methods: {
            onResetStatsButtonClick() {
                this.diffs = _.cloneDeep(this.initialDiffs);
            },
            onApplyButtonClick() {
                this.$emit('save', this.diffs);
            },
        },
        name: 'user-stats-column',
    };
</script>
