/* region #base */
@import "../vendor/normalize";

* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

a,
button,
input,
textarea,
select {
  outline: none;

  &:focus,
  &:active:focus {
    box-shadow: none;
    outline: none;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 18px;
}
/* endregion #base */