/* region #typography */
body {
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

strong {
  font: {
    weight: bold;
  }
}

i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 32px;
}

h1,
h2 {
  font: {
    weight: bold;
  }
}

h1 {
  font: {
    size: 24px;
  }
}

h2 {
  font: {
    size: 18px;
  }
}

h3 {
  font: {
    size: 14px;
  }
}

h4 {
  font: {
    size: 13px;
    weight: bold;
  }
}

h6 {
  font: {
    size: 12px;
    weight: normal;
  }
}

/* endregion #typography */