/* region #page-character */
.page-character {
  .bg-pattern {
    opacity: .25;
  }

  .bg-corner {
    position: absolute;
    left: 0;
    right: 0;
    height: 16px;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      height: 16px;
      position: absolute;
    }

    &:before {
      left: 0;
      width: 15px;
    }

    &:after {
      right: 0;
      width: 16px;
    }

    &-top {
      top: 0;

      &:before,
      &:after {
        top: 0;
      }

      &:before {
        background: url("#{$img-path}/bg/bg-page-character-corner-top-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bg/bg-page-character-corner-top-right.png") no-repeat;
      }
    }

    &-bottom {
      bottom: 0;

      &:before,
      &:after {
        bottom: 0;
      }

      &:before {
        background: url("#{$img-path}/bg/bg-page-character-corner-bottom-left.png") no-repeat;
      }

      &:after {
        background: url("#{$img-path}/bg/bg-page-character-corner-bottom-right.png") no-repeat;
      }
    }
  }

  .content {
    padding: 48px 0;
  }

  .main {
    background-image: url("#{$img-path}/bg/bg-page-character-info.png");
    background-repeat: no-repeat;
    background-position: top right;
  }

  .wrapper {
    background: url("#{$img-path}/bg/bg-page-character-left.png") repeat-y top left, url("#{$img-path}/bg/bg-page-character-right.png") repeat-y top right, url("#{$img-path}/bg/bg-page-character-top.png") repeat-x top left, url("#{$img-path}/bg/bg-page-character-bottom.png") repeat-x bottom left;
    padding: 16px 16px 16px 15px;
    height: auto;
  }
}

/* endregion #page-character */