<template>
    <main class="main">
        <div class="content" :style="{ 'padding-bottom': chatHeight + 'px' }">
            <div class="bg-pattern"></div>
            <div class="container">
                <router-view></router-view>
            </div>
            <chat @chat-resize="onChatResize"
                  v-if="$auth.check() && ['battle-full-log', 'info'].indexOf($route.name) === -1"></chat>
        </div>
    </main>
</template>

<script>
    import { BATTLE_STARTED, FIGHT_REJECTED } from '../Fight/subscriptions';

    export default {
        components: {
            Chat: () => import('@/components/Chat/Chat'),
        },
        data() {
            return {
                chatHeight: null,
            };
        },
        methods: {
            onChatResize(chatHeight) {
                this.chatHeight = chatHeight + 10;
            },
        },
        apollo: {
            $subscribe: {
                battleStarted: {
                    query: BATTLE_STARTED,
                    variables() {
                        return {
                            login: this.$auth.user().login,
                        };
                    },
                    result({ battleStarted }) {
                        this.$router.push({ name: 'battle', params: { id: battleStarted.fight_id } });
                    },
                    skip() {
                        return !this.$auth.user().login;
                    },
                },
                fightRejected: {
                    query: FIGHT_REJECTED,
                    variables() {
                        return {
                            location: this.$auth.user().location._id,
                        };
                    },
                    skip() {
                        return !this.$auth.user().login;
                    },
                },
            },
        },
    };
</script>
