<template>
    <header class="header">
        <div class="container">
            <nav class="header-nav" role="navigation">
                <div class="header-holder">
                    <strong class="logo">
                        <router-link :to="{ name: 'inventory' }">
                            <img alt="Fight Club" src="~assets/logo.png">
                        </router-link>
                    </strong>
                    <ul class="header-menu">
                        <li class="is-active"><a href="#">Карта миров</a></li>
                    </ul>
                </div>
                <ul class="header-menu">
                    <router-link tag="li" :to="{ name: 'login' }" v-if="!$auth.check()">
                        <a>Login</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'inventory' }" v-if="$auth.check()">
                        <a>Инвентарь</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'store', params: { slug: 'main' } }" v-if="$auth.check()">
                        <a>Магазин</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'location' }" v-if="$auth.check()">
                        <a>Локации</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'fight' }" v-if="$auth.check()">
                        <a>Поединки</a>
                    </router-link>
                    <li v-if="$auth.check()">
                        <a @click.prevent="logout()">Выйти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header><!-- .header -->
</template>

<script>
    export default {
        methods: {
            logout() {
                this.$auth.logout({
                    makeRequest: true,
                    success() {
                        this.$store.commit('CLEAR_USER');
                        this.$store.commit('CLEAR_TOKEN');
                    },
                });
            },
        },
    };
</script>

