<template>
    <main class="main">
        <div class="content" :style="{ 'padding-bottom': chatHeight + 'px' }">
            <div class="bg-pattern"></div>
            <div class="container"><slot></slot></div>
        </div>
    </main>
</template>

<script>
    export default {
        name: 'wrapper',
    };
</script>