<template>
    <div class="artifacts">
        <template v-for="(item, i) in items" v-if="!isDressedOn(item)">
            <store-item :item="item.item" :key="item._id">
                <div slot="item-actions">
                    <button class="btn btn-small" @click.prevent="onItemWeared(item._id)">Надеть</button>
                </div>
            </store-item>
            <div class="separator" v-if="!isLastItem(i)"></div>
        </template>
    </div>
</template>

<script>
    import StoreItemsList from './StoreItemsList';

    export default {
        extends: StoreItemsList,
        methods: {
            isDressedOn(item) {
                return item.is_dressed_on;
            },
            onItemWeared(id) {
                this.$emit('item-wear', id);
            },
        },
        name: 'inventory-items-list',
    };
</script>
