<template>
    <div class="artifacts">
        <template v-for="(item, i) in items">
            <store-item :item="item.item" :key="item.item._id"></store-item>
            <div class="separator" v-if="!isLastItem(i)"></div>
        </template>
    </div>
</template>

<script>
    import StoreItem from './StoreItem';

    export default {
        components: {
            StoreItem,
        },
        props: {
            items: {
                type: Array,
                default: [],
            },
        },
        methods: {
            isLastItem(itemIndex) {
                return itemIndex === this.items.length - 1;
            },
        },
        name: 'store-items-list',
    };
</script>
