<template>
    <div class="artifacts">
        <template v-for="(item, i) in items">
            <store-item :item="item.item" :key="item._id">
                <div slot="item-actions">
                    <p class="coins"><i class="icon icon-coins"></i> {{ item.item.price | numberThousand }}</p>
                    <button class="btn btn-small btn-sell" @click.prevent="onItemSold(item._id)">Продать</button>
                </div>
            </store-item>
            <div class="separator" v-if="!isLastItem(i)"></div>
        </template>
    </div>
</template>

<script>
    import StoreItemsList from './StoreItemsList';

    export default {
        extends: StoreItemsList,
        methods: {
            isBought(item) {
                return item.item.is_bought;
            },
            onItemSold(id) {
                this.$emit('item-sell', id);
            },
        },
        name: 'store-items-list-sell',
    };
</script>
