<template>
    <div class="artifacts">
        <template v-for="(item, i) in items">
            <store-item :item="item.item" :key="item._id">
                <div slot="item-actions">
                    <p class="coins"><i class="icon icon-coins"></i> {{ item.item.price | numberThousand }}</p>
                    <button class="btn btn-small btn-buy" @click.prevent="onItemBought(item._id)">Купить</button>
                </div>
            </store-item>
            <div class="separator" v-if="!isLastItem(i)"></div>
        </template>
    </div>
</template>

<script>
    import StoreItemsList from './StoreItemsList';

    export default {
        extends: StoreItemsList,
        methods: {
            isBought(item) {
                return item.item.is_bought;
            },
            onItemBought(id) {
                this.$emit('item-buy', id);
            },
        },
        name: 'store-items-list-buy',
    };
</script>
