<template>
    <div class="store-create-item-container row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert" v-if="error">{{ error }}</div>
            <form class="form-horizontal" @submit.prevent="createItem">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-store">Магазин:</label>
                    <div class="col-sm-6">
                        <select class="form-control" v-model="storeToAdd" id="store-create-item-store">
                            <option v-for="store in stores" :value="store._id">{{ store.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-title">Название:</label>
                    <div class="col-sm-6">
                        <input class="form-control" v-model="item.title" id="store-create-item-title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-type">Тип:</label>
                    <div class="col-sm-6">
                        <select class="form-control" v-model="item.item_type" id="store-create-item-type">
                            <option v-for="type in itemTypes" :value="type.item_type">{{ type.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" v-if="false">
                    <label class="col-sm-2 control-label" for="store-create-item-configuration">Конфигурация:</label>
                    <div class="col-sm-6">
                        <select class="form-control" v-model="item.configuration" id="store-create-item-configuration">
                            <option v-for="configuration in configurations" :value="configuration.id">{{ configuration.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" v-if="false">
                    <label class="col-sm-2 control-label" for="store-create-item-class">Класс:</label>
                    <div class="col-sm-6">
                        <select class="form-control" v-model="item.itemClass" id="store-create-item-class">
                            <option v-for="itemClass in classes" :value="itemClass.id">{{ itemClass.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-price">Стоимость:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" v-model="item.price" id="store-create-item-price">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-weight">Масса:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" v-model="item.weight" id="store-create-item-weight">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-durability-current">Долговечность (текущая):</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" v-model="item.durability.current" id="store-create-item-durability-current">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-durability-max">Долговечность (максимальная):</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" v-model="item.durability.max" id="store-create-item-durability-max">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-craftable">Крафтовая:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="checkbox" v-model="item.can_craft" id="store-create-item-craftable">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-give">Можно передавать:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="checkbox" v-model="item.can_give" id="store-create-item-give">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-repair">Не понадлежит ремонту:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="checkbox" v-model="item.can_repair" id="store-create-item-repair">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-description">Описание:</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" v-model="item.description" id="store-create-item-description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="store-create-item-description">Картинка:</label>
                    <div class="col-sm-6">
                        <vue-core-image-upload
                                :class="['btn', 'btn-primary']"
                                :crop="false"
                                @imageuploaded="onImageUpload"
                                :headers="uploadHeaders"
                                :max-file-size="5242880"
                                inputOfFile="itemImage"
                                :url="uploadedImageDest" >
                        </vue-core-image-upload>
                        <img v-if="item.image" :src="uploadedImageSrc" :alt="item.title">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Характеристики</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-strength">Сила:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.strength" id="store-create-item-ability-strength">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-agility">Ловкость:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.agility" id="store-create-item-ability-agility">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-intelligence">Интеллект:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.intelligence" id="store-create-item-ability-intelligence">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-intuition">Интуиция:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.intuition" id="store-create-item-ability-intuition">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-armor">HP:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.hp" id="store-create-item-ability-hp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-damage-min">Урон min:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.damage_min" id="store-create-item-ability-damage-min">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-ability-damage-max">Урон max:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.abilities.damage_max" id="store-create-item-ability-damage-max">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Броня</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-armor-head">Голова:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.armor.head" id="store-create-item-armor-head">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-armor-chest">Корпус:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.armor.chest" id="store-create-item-armor-chest">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-armor-abdomen">Живот:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.armor.abdomen" id="store-create-item-armor-abdomen">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-armor-girdle">Пояс:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.armor.girdle" id="store-create-item-armor-girdle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-armor-legs">Ноги:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.armor.legs" id="store-create-item-armor-legs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Модификаторы</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-modifiers-dodge">Уворот:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.modifiers.dodge" id="store-create-item-modifiers-dodge">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-modifiers-anti-dodge">Антиуворот:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.modifiers.anti_dodge" id="store-create-item-modifiers-anti-dodge">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-modifiers-critical">Крит:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.modifiers.critical" id="store-create-item-modifiers-critical">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-modifiers-anti-critical">Антикрит:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.modifiers.anti_critical" id="store-create-item-modifiers-anti-critical">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Мастерство</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-mastery-axe">Топор:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.mastery.axe" id="store-create-item-mastery-axe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-mastery-club">Дубина:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.mastery.club" id="store-create-item-mastery-club">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-mastery-knife">Ножи:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.mastery.knife" id="store-create-item-mastery-knife">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-mastery-sword">Мечи:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" v-model="item.mastery.sword" id="store-create-item-mastery-sword">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Требование по характеристикам, чтобы одеть</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-restriction-level">Минимальный уровень:</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" type="number" v-model="item.restrictions.min_user_level" id="store-create-item-restriction-level">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-restriction-rank">Минимальное звание:</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="item.restrictions.min_user_rank" id="store-create-item-restriction-rank">
                                    <option v-for="rank in userRanks" :value="rank.position">{{ rank.title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-restriction-strength">Минимальная сила:</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" type="number" v-model="item.restrictions.min_strength" id="store-create-item-restriction-strength">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-restriction-agility">Минимальная ловкость:</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" type="number" v-model="item.restrictions.min_agility" id="store-create-item-restriction-agility">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-restriction-intuition">Минимальная интуиция:</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" type="number" v-model="item.restrictions.min_intuition" id="store-create-item-restriction-intuition">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="store-create-item-restriction-endurance">Минимальная выносливость:</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" type="number" v-model="item.restrictions.min_endurance" id="store-create-item-restriction-endurance">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default">Создать</button>
            </form>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';

    import VueCoreImageUpload from 'vue-core-image-upload';

    import { ITEM_TYPES_LIST, STORES_LIST, USER_RANKS_LIST } from '../queries';
    import { STORE_CREATE_ITEM, STORE_ADD_ITEM } from '../mutations';

    export default {
        components: {
            VueCoreImageUpload,
        },
        data() {
            return {
                item: {
                    item_type: '',
                    title: '',
                    description: '',
                    weight: 0,
                    durability: {
                        max: 100,
                        current: 100,
                    },
                    restrictions: {
                        min_user_level: 0,
                        min_user_rank: 0,
                        min_strength: 0,
                        min_agility: 0,
                        min_intuition: 0,
                        min_endurance: 0,
                    },
                    price: 0,
                    mastery: {
                        club: 0,
                        axe: 0,
                        knife: 0,
                        sword: 0,
                    },
                    modifiers: {
                        dodge: 0,
                        anti_dodge: 0,
                        critical: 0,
                        anti_critical: 0,
                    },
                    abilities: {
                        strength: 0,
                        agility: 0,
                        intuition: 0,
                        intelligence: 0,
                        hp: 0,
                        damage_min: 0,
                        damage_max: 0,
                    },
                    image: '',
                    can_craft: false,
                    can_repair: false,
                    can_give: false,
                    armor: {
                        head: 0,
                        chest: 0,
                        abdomen: 0,
                        girdle: 0,
                        legs: 0,
                    },
                },
                storeToAdd: '',
                storeQuantity: 1,
                stores: [],
                itemTypes: [],
                userRanks: [],
                error: '',
                uploadHeaders: {
                    Authorization: `Bearer ${this.$store.getters.token || localStorage.getItem('default_auth_token')}`,
                },
            };
        },
        computed: {
            uploadedImageSrc() {
                return `//${process.env.API_HOST}/preview/${this.item.image}`;
            },
            uploadedImageDest() {
                return `//${process.env.API_HOST}/items/upload/`;
            },
        },
        methods: {
            createItem(e) {
                const component = this;
                this.$apollo.mutate({
                    mutation: STORE_CREATE_ITEM,
                    variables: {
                        item: this.item,
                    },
                })
                .then((response) => {
                    const item = _.get(response, 'data.createItem');
                    if (!item) {
                        throw new Error('Unknown server error');
                    }
                    return item;
                })
                .then((item) => {
                    if (this.storeToAdd) {
                        return this.$apollo.mutate({
                            mutation: STORE_ADD_ITEM,
                            variables: {
                                itemId: item._id,
                                storeId: this.storeToAdd,
                                withItems: false,
                            },
                        });
                    }
                    return true;
                })
                .then(() => {
                    e.target.reset();
                    if (this.storeToAdd) {
                        const storeAdded = _.find(this.stores, { _id: this.storeToAdd });
                        if (storeAdded) {
                            this.$router.push({ name: 'store', params: { slug: storeAdded.slug } });
                        }
                    }
                })
                .catch((error) => {
                    component.error = error.message;
                });
            },
            onImageUpload(res) {
                if (res.code === 0) {
                    this.item.image = res.src;
                }
            },
        },
        apollo: {
            stores: {
                query: STORES_LIST,
                fetchPolicy: 'network-only',
                variables: {
                    withItems: false,
                },
            },
            itemTypes: {
                query: ITEM_TYPES_LIST,
                fetchPolicy: 'network-only',
            },
            userRanks: {
                query: USER_RANKS_LIST,
                fetchPolicy: 'network-only',
            },
        },
    };
</script>
