<template>
    <div class="artifact">
        <!--<div class="store-item-container row thumbnail">-->
        <!--<div class="store-item-image col-md-4">-->
        <!--<img :src="item.image" :alt="item.title">-->
        <!--<p v-if="!isBought"><button class="btn btn-success" @click.prevent="onBuyButtonClick">Купить</button></p>-->
        <!--<p v-if="isBought"><button class="btn btn-success" @click.prevent="onSellButtonClick">Продать</button></p>-->
        <!--</div>-->
        <!--<div class="store-item-body col-md-8">-->
        <!--<h3>{{ item.title }}</h3>-->
        <!--<p>Тип: {{ item.type }}</p>-->
        <!--<span class="weight">Масса: ({{ item.weight }})</span>-->
        <!--<p><strong>Цена {{ item.price }} дин.</strong></p>-->
        <!--<p>Долговечность: {{ item.durability.current }} / {{ item.durability.max }}</p>-->
        <!--<p><strong>Требуется минимальное:</strong></p>-->
        <!--<ul>-->
        <!--<li>Уровень: {{ item.restrictions.min_user_level }}</li>-->
        <!--<li>Ранг: {{ item.restrictions.min_user_rank }}</li>-->
        <!--</ul>-->
        <!--<p><strong>Свойства предмета:</strong></p>-->
        <!--<ul>-->
        <!--<li v-for="(value, ability) in item.abilities" v-if="ability in titles && value > 0">{{ titles[ability] }}: {{ value }}</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <div class="artifact-info">
            <figure class="artifact-figure">
                <img :src="item.image" :alt="item.title">
            </figure>
            <div class="artifact-runes">
                <div class="artifact-rune-wrap">
                    <div class="artifact-rune">
                        <div class="artifact-rune-box"></div>
                    </div>
                    <span>Руна</span>
                </div>
                <div class="artifact-rune-wrap">
                    <div class="artifact-rune">
                        <div class="artifact-rune-box"></div>
                    </div>
                    <span>Обелиск</span>
                </div>
                <div class="artifact-rune-wrap">
                    <div class="artifact-rune">
                        <div class="artifact-rune-box"></div>
                    </div>
                    <span>Масло</span>
                </div>
            </div>
            <slot name="item-actions"></slot>
        </div>
        <div class="artifact-short-description">
            <h3>{{ item.title }} <span>- Обычное</span></h3>
            <header class="inventory-header">
                <div class="inventory-header-item">
                    <div class="character-note">
                        <div class="character-note-box">
                            <span class="character-note-label">Долговечность&nbsp;</span>
                            <span class="character-note-value">{{ item.durability.current | numberThousand }}/{{ item.durability.max | numberThousand }}</span>
                        </div>
                    </div>
                </div>
                <div class="inventory-header-item">
                    <div class="character-note">
                        <div class="character-note-box">
                            <span class="character-note-label">Уровень&nbsp;</span>
                            <span class="character-note-value">{{ item.restrictions.min_user_level }}</span>
                        </div>
                    </div>
                </div>
                <div class="inventory-header-item">
                    <div class="character-note">
                        <div class="character-note-box">
                            <span class="character-note-label">Масса</span>
                            <span class="character-note-value">{{ item.weight }}</span>
                        </div>
                    </div>
                </div>
            </header>
            <h4 v-if="abilitiesExists">Доп. хар-ки:</h4>
            <ul class="artifact-list" v-if="abilitiesExists">
                <li class="artifact-item"
                    v-for="(value, ability) in item.abilities"
                    v-if="ability in titles && value !== 0">{{ titles[ability] }}: <span>{{ value | abilityPad }}</span></li>
            </ul>
            <h4 v-if="modifiersExists">Доп. модификаторы:</h4>
            <ul class="artifact-list" v-if="modifiersExists">
                <li class="artifact-item"
                    v-for="(value, modifier) in item.modifiers"
                    v-if="modifier in titles && value !== 0">{{ titles[modifier] }}: <span>{{ value | abilityPad }}</span></li>
            </ul>
        </div>
        <div class="artifact-description">
            <div class="artifact-description-content">
                <p v-if="item.description">{{ item.description }}</p>
                <ul>
                    <li>Класс: <span>Ловкач</span></li>
                    <li>Звание: <span>Ученик</span></li>
                </ul>
            </div>
            <footer class="artifact-description-footer">
                <ul class="warn">
                    <li v-if="!item.can_give"><i class="fa fa-times" aria-hidden="true"></i> Нельзя подарить</li>
                    <li v-if="!item.can_repair"><i class="fa fa-times" aria-hidden="true"></i> Не подлежит ремонту</li>
                </ul>
            </footer>
        </div>
</div>
</template>

<script>
    import * as _ from 'lodash';

    export default {
        props: {
            item: {
                type: Object,
                default() {
                    return {
                        _id: '',
                        type: '',
                        title: '',
                        weight: 0,
                        durability: {
                            current: 0,
                            max: 0,
                        },
                        restrictions: {
                            min_user_level: 0,
                            min_user_rank: 0,
                        },
                        price: 0,
                        abilities: {},
                        image: '',
                        is_bought: false,
                        is_dressed_on: false,
                        can_give: false,
                        can_repair: false,
                        serial_number: 0,
                        individual_id: 0,
                    };
                },
            },
        },
        data() {
            return {
                titles: {
                    strength: 'Сила',
                    agility: 'Ловкость',
                    intuition: 'Интуиция',
                    endurance: 'Выносливость',
                    critical: 'Крит',
                    anti_critical: 'Антикрит',
                    dodge: 'Уворот',
                    anti_dodge: 'Антиуворот',
                    armor: 'Броня',
                    hp: 'HP',
                    damage_min: 'Урон min',
                    damage_max: 'Урон max',
                },
            };
        },
        computed: {
            abilitiesExists() {
                return !_.isEmpty(this.item.abilities) && _.filter(_.values(this.item.abilities)).length > 0;
            },
            modifiersExists() {
                return !_.isEmpty(this.item.modifiers) && _.filter(_.values(this.item.modifiers)).length > 0;
            },
        },
        name: 'store-item',
    };
</script>
