/* region #HEADER */
.header {
  background: url("#{$img-path}/bg/bg-header.png") repeat-x;
  height: 53px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;

  &-holder {
    display: flex;

    .header-menu {
      display: inline-flex;
    }
  }

  .logo {
    display: block;
    margin-right: 16px;

    a {
      display: block;
    }
  }

  .header-menu li,
  .header-menu:hover .is-active {
    a {
      background: transparent;
      border: 1px solid transparent;
      box-shadow: none;
      border-radius: 2px;
      color: #9fa2a4;
      display: block;
      padding: 4px 16px;
      font-size: 13px;
      transition: background .3s;
      text-decoration: none;
    }
  }

  .header-menu li.is-active,
  .header-menu li.is-active:hover,
  .header-menu li:hover {
    a {
      background: #272727;
      color: #dddedf;
      box-shadow: inset 0 0 4px rgba($color-black, .5);
      border-color: rgba($color-white, .1);
    }
  }

  &-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 48px;
  }
}

/* endregion #HEADER */