/* region #LAYOUT */
html,
body {
  height: 100%;
}

body {
  color: $color-black;
  overflow-x: hidden;

  @media (orientation: landscape) {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  padding-top: 53px;
  position: relative;
}

.main {
  background: #eef0f1;
  flex-grow: 1;

  &-wrap {
    display: flex;
    flex-flow: row nowrap;
  }
}

.content {
  padding: 44px 0 189px;
  position: relative;
  z-index: 20;
}

.container {
  width: auto;
  max-width: 1200px;
}

/* endregion #LAYOUT */