<template>
    <div class="fight-map fight-map-full">
        <div class="fight-map-board">
            <div class="fight-map-board-row">
                <div class="username-wrap" v-for="user in battleFullLogs.team.left">
                    <span class="username username-left">
                        {{ user.login }}[{{ user.level }}]
                        <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                            <span class="info">i</span>
                        </router-link>
                        <span class="username-hp">[ <strong>{{ user.hp_current }}</strong> / {{ user.hp_max }} ]</span>
                    </span>
                </div>
            </div>
            <div class="fight-map-board-row">против</div>
            <div class="fight-map-board-row">
                <div class="username-wrap" v-for="user in battleFullLogs.team.right">
                    <span class="username username-right">
                        {{ user.login }}[{{ user.level }}]
                        <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                            <span class="info">i</span>
                        </router-link>
                        <span class="username-hp">[ <strong>{{ user.hp_current }}</strong> / {{ user.hp_max }} ]</span>
                    </span>
                </div>
            </div>
        </div>
        <header class="fight-map-header">
            <div class="fight-map-header-box">
                <div class="fight-map-header-box-static">
                    <span><i class="icon icon-filter"></i><strong>Фильтры</strong> событий</span>
                </div>
            </div>
            <form action="" class="form">
                <div class="control checkbox">
                    <input id="death" type="checkbox" v-model="filter.DEAD">
                    <label for="death">Смерти</label>
                </div>
                <div class="control checkbox">
                    <input id="dodge" type="checkbox" v-model="filter.DODGE">
                    <label for="dodge">Увороты</label>
                </div>
                <div class="control checkbox">
                    <input id="critical" type="checkbox" v-model="filter.CRITICAL">
                    <label for="critical">Криты</label>
                </div>
                <div class="control checkbox">
                    <input id="break-through-block" type="checkbox" v-model="filter.BREAK_THROUGH_BLOCK">
                    <label for="break-through-block">Удары сквозь блок</label>
                </div>
                <div class="control">
                    <label for="login">Логин</label>
                    <input id="login" type="text" v-model.trim="filter.login" autocomplete="off">
                </div>
            </form>
        </header>
        <div class="fight-map-logs">
            <battle-logs
                    v-for="(roundLogs, index) in filteredBattleFullLogs"
                    :index="index"
                    :key="index"
                    :team="team"
                    :battle-logs="roundLogs"></battle-logs>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';
    import BattleLogs from './BattleLogs';
    import { BATTLE_FULL_LOGS } from './queries';

    export default {
        components: {
            BattleLogs,
        },
        data() {
            return {
                battleFullLogs: {
                    logs: [],
                    team: {
                        left: [],
                        right: [],
                    },
                },
                filter: {
                    BREAK_THROUGH_BLOCK: false,
                    DEAD: false,
                    CRITICAL: false,
                    DODGE: false,
                    login: '',
                },
            };
        },
        computed: {
            team() {
                return {
                    left: _.map(this.battleFullLogs.team.left, 'login'),
                    right: _.map(this.battleFullLogs.team.right, 'login'),
                };
            },
            filteredBattleFullLogs() {
                const filters = _.pickBy(_.omit(this.filter, ['login']));
                const filtersValues = _.keys(filters);
                const login = this.filter.login;

                return _.reject(
                    _.map(this.battleFullLogs.rounds, round =>
                         _.filter(round, log =>
                             (_.isEmpty(filtersValues) || _.includes(filtersValues, log.action)) &&
                             (
                                 _.includes(log.attacker, login) ||
                                 _.includes(log.defender, login) ||
                                 _.includes(log.login, login)
                             ),
                         ),
                    ),
                    _.isEmpty,
                );
            },
        },
        apollo: {
            battleFullLogs: {
                query: BATTLE_FULL_LOGS,
                fetchPolicy: 'network-only',
                variables() {
                    return {
                        fight_id: this.$route.params.id,
                    };
                },
                error({ graphQLErrors }) {
                    window.console.log(graphQLErrors);
                },
            },
        },
        name: 'battle-full-logs',
    };
</script>
