<template>
    <div v-if="isBattleExists">
        <div class="main-wrap">
            <character-status :action="battle_result.victory_status"
                              :login-left="battle.attack.user_left.login"
                              :login-right="enemy.login"
                              class="character-left"
                              v-if="isBattleEnds"></character-status>
            <character :user="battle.attack.user_left" class="character-left" :regen="false" v-else-if="isUserLeftExists"></character>

            <div class="fights" v-if="battle.attack">
                <div class="fight-map">
                    <header class="fight-map-header" v-if="!isBattleEnds">
                        <div class="fight-map-header-box">
                            <div class="username-wrap">
                                <span class="username username-left">
                                    <strong>{{ battle.attack.user_left.login }}</strong> [{{ battle.attack.user_left.level }}]
                                    <span class="info">i</span>
                                </span>
                            </div>
                        </div>
                        <div class="fight-map-header-box">
                            <div class="fight-map-header-box-static">
                                <span>Против</span>
                            </div>
                        </div>
                        <div class="fight-map-header-box" v-if="enemy">
                            <div class="username-wrap">
                                <span class="username username-right">
                                    <strong>{{ enemy.login }}</strong> [{{ enemy.level }}]
                                    <span class="info">i</span>
                                </span>
                            </div>
                        </div>
                    </header>
                    <div class="fight-map-subheader" v-if="!isBattleEnds">
                        <!--<h4>Использованные <strong>свитки</strong></h4>-->
                        <ul class="fight-map-rolls">
                            <li class="fight-map-roll">5</li>
                            <li class="fight-map-roll">10</li>
                            <li class="fight-map-roll">1</li>
                            <li class="fight-map-roll">5</li>
                            <li class="fight-map-roll">10</li>
                            <li class="fight-map-roll">1</li>
                            <li class="fight-map-roll">5</li>
                            <li class="fight-map-roll">10</li>
                        </ul>
                    </div>

                    <div class="fight-map-actions fight-map-actions-finished" v-if="isBattleEnds" :class="isWin ? 'is-win' : 'is-lose'">
                        <div v-if="isWin">
                            <h2>Поздравляем, <strong>{{ user.login }}</strong>!</h2>
                            <p>Бой окончен победой!</p>
                        </div>
                        <header class="fight-map-actions-finished-header" v-else>
                            <h2>
                                <strong v-if="isDraw">Бой закончен, ничьей!</strong>
                                <strong v-else>Поражение</strong>
                            </h2>
                            <div class="separator"></div>
                            <p v-if="!isDraw">Ваши противники были сильнее в этом бою...</p>
                        </header>

                        <div class="fight-map-actions-damage">
                            <span>+ {{ battle_result.exp }} XP</span>
                            <img v-if="isWin" src="~assets/img-shield-winner.png" alt="shield winner">
                            <img src="~assets/img-shield-looser.png" alt="shield loser" v-else>
                        </div>
                        <p>Вы нанесли: <strong class="warn">{{ battle_result.inflicted_damage }} HP</strong></p>
                        <p>Получили: <span class="warn">-{{ battle_result.taken_damage }} HP</span></p>
                        <div class="fight-map-board-row">
                            <button type="button" class="btn btn-large" @click="back">Выйти из боя</button>
                        </div>
                    </div>

                    <div class="fight-map-actions" v-else-if="isUserRightExists">
                        <div class="fight-map-actions-holder">
                            <div class="fight-map-actions-box fight-map-actions-attack">
                                <h3 class="fight-map-actions-box-title"><i class="icon icon-sword-shadow-light"></i> Атака</h3>
                                <div class="fight-map-actions-box-body">
                                    <div class="fight-map-action" v-for="(attackItem, part) in attackInfo">
                                        <div class="control radio" v-for="i in battle.attack_count_places">
                                            <input type="radio"
                                                   :name="'attack[' + (i - 1) + ']'"
                                                   :id="'hit-' + part + '-' + i"
                                                   :value="part"
                                                   v-model="attack[i - 1]">
                                            <label :for="'hit-' + part + '-' + i">
                                                <template v-if="i === battle.attack_count_places">
                                                    Удар в <strong>{{ attackItem.attack_title }}</strong>
                                                </template>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fight-map-actions-box fight-map-actions-protection">
                                <h3 class="fight-map-actions-box-title"><i class="icon icon-shield-shadow-light"></i> Защита</h3>
                                <div class="fight-map-actions-box-body">
                                    <div class="fight-map-action" v-for="(defendItem, part) in defendInfo">
                                        <div class="control radio">
                                            <input :id="'block-' + part" name="block" type="radio" :value="part" v-model="block">
                                            <label :for="'block-' + part" v-html="'Блок ' + defendItem.block_title"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fight-map-actions-row">
                            <button type="button" class="btn btn-large" @click="doAttack"><i class="icon icon-sword-shadow-light is-small"></i> Вперед!</button>
                        </div>
                        <div class="fight-map-actions-row">
                            <button type="button" class="btn" @click="doAutoAttack">Авто</button>
                        </div>
                        <!--<div class="fight-map-actions-row">-->
                            <!--<div class="control radio">-->
                                <!--<input id="block-auto-fight" name="auto-fight" type="checkbox" v-model="autoFight">-->
                                <!--<label for="block-auto-fight">Авто бой</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="fight-map-actions fight-map-actions-waiting" v-else-if="enemy">
                        <div class="fight-map-actions-row">
                            <i class="icon icon-hourglass"></i>
                            <p>Ожидаем ход от <strong>{{ enemy.login }}</strong></p>
                            <p>Дождитесь хода противника</p>
                        </div>
                    </div>

                    <div class="fight-map-board" v-if="!isBattleEnds">
                        <ul class="states-list">
                            <li class="states-list-item">
                                <i class="icon icon-state-sword"></i>
                                <span>{{ battle.attack.user_left.tactics.hitting }}</span>
                            </li>
                            <li class="states-list-item">
                                <i class="icon icon-state-drop-red"></i>
                                <span>{{ battle.attack.user_left.tactics.critical }}</span>
                            </li>
                            <li class="states-list-item">
                                <i class="icon icon-state-drop-grey"></i>
                                <span>{{ battle.attack.user_left.tactics.counterblow }}</span>
                            </li>
                            <li class="states-list-item">
                                <i class="icon icon-state-shield"></i>
                                <span>{{ battle.attack.user_left.tactics.block }}</span>
                            </li>
                            <li class="states-list-item">
                                <i class="icon icon-state-swords"></i>
                                <span>{{ battle.attack.user_left.tactics.parry }}</span>
                            </li>
                            <li class="states-list-item">
                                <i class="icon icon-state-heart-red"></i>
                                <span>{{ battle.attack.user_left.tactics.inflicted_damage }}</span>
                            </li>
                            <li class="states-list-item">
                                <i class="icon icon-state-drop-blue"></i>
                                <span>{{ battle.attack.user_left.tactics.spirituality_sincerity }}</span>
                            </li>
                        </ul>
                        <ul class="skills-list">
                            <li class="skills-list-item">
                                <img src="~assets/skills/img-skill-1.png" alt="skill">
                            </li>
                            <li class="skills-list-item">
                                <img src="~assets/skills/img-skill-2.png" alt="skill">
                            </li>
                            <li class="skills-list-item">
                                <img src="~assets/skills/img-skill-3.png" alt="skill">
                            </li>
                            <li class="skills-list-item">
                                <img src="~assets/skills/img-skill-empty.png" alt="skill empty">
                            </li>
                        </ul>
                        <fight-user-list
                                :login-left="loginLeft"
                                :login-right="loginRight"
                                :team="battle.attack.team"></fight-user-list>
                        <div class="fight-map-board-row">
                            <p class="fight-map-board-hp">
                                Вы нанесли <strong>{{ battle.inflicted_damage }} hp</strong>
                                и потеряли <strong>-{{ battle.taken_damage }} hp</strong> урона
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .fights -->

            <character-status v-if="isBattleEnds"
                              :action="rightAction"
                              :login-left="enemy.login"
                              class="character-right"
                              :login-right="battle.attack.user_left.login"></character-status>
            <character :user="battle.attack.user_right" :regen="false"
                       class="character-right"
                       v-else-if="isUserRightExists"></character>
            <character-status v-else-if="enemy"
                              class="character-right"
                              :login-right="enemy.login"></character-status>
        </div><!-- .main-wrap -->
        <div>
            <div v-for="round in battle.rounds" style="overflow: hidden">
                <div style="float: left">
                    <span>User: {{ round.login_left }}</span>
                    <span>уворот: <span v-if="round.is_left_user_dodge" class="success">Да</span><span class="warn" v-else>Нет</span></span>
                    <span>крит: <span v-if="round.is_left_user_critical" class="success">Да</span><span class="warn" v-else>Нет</span> </span>
                </div>
                <div style="float: left">
                    <span> | User: {{ round.login_right }}</span>
                    <span>уворот: <span v-if="round.is_right_user_dodge" class="success">Да</span><span class="warn" v-else>Нет</span></span>
                    <span>крит: <span v-if="round.is_right_user_critical" class="success">Да</span><span class="warn" v-else>Нет</span></span>
                </div>
            </div>
        </div>
        <div class="fight-map fight-map-full">
            <div class="fight-map-logs">
                <battle-logs
                        v-for="(roundLogs, index) in battleLogs"
                        :key="index"
                        :index="index"
                        :battle-logs="roundLogs"
                        :user="battle.attack.user_left"></battle-logs>
                <footer class="fight-map-logs-footer">
                    <p>
                        <router-link target="_blank" :to="{ name: 'battle-full-log', params: { id: $route.params.id } }">
                            Полная версия лога боя
                        </router-link>
                    </p>
                    <p>(Бой идет с учетом <span>таймаута {{ battle.timeout }} мин.</span>)</p>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';
    import { BATTLE, BATTLE_LOGS } from './queries';
    import { ATTACK } from './mutations';
    import { BLOWS_CHANGED, BATTLE_ENDED, BATTLE_LOG_ADDED } from './subscriptions';
    import BattleLogs from './BattleLogs';
    import CharacterStatus from './CharacterStatus';
    import FightUserList from './FightUserList';
    import Character from '../Character';

    export default {
        components: {
            FightUserList,
            BattleLogs,
            Character,
            CharacterStatus,
        },
        data() {
            return {
                battleLogs: [],
                battle: {},
                battle_result: { },
                attack: [],
                block: '',
                autoFight: false,
            };
        },
        mounted() {
            this.$apollo.queries.battle.subscribeToMore({
                document: BLOWS_CHANGED,
                variables: {
                    login: this.user.login,
                },
                updateQuery: (previousResult, { subscriptionData }) => ({
                    battle: subscriptionData.data.blowsChanged,
                }),
                skip() {
                    return this.isBattleEnds;
                },
//                result: () => {
//                    this.doAutoFight();
//                },
            });

            this.$apollo.queries.battleLogs.subscribeToMore({
                document: BATTLE_LOG_ADDED,
                variables: {
                    fight_id: this.$route.params.id,
                },
                updateQuery: (previousResult, { subscriptionData }) => ({
                    battleLogs: _.uniqWith(
                        subscriptionData.data.battleLogAdded.concat(previousResult.battleLogs),
                        _.isEqual,
                    )
                        .slice(0, 10),
                }),
                skip() {
                    return this.isBattleEnds;
                },
            });
        },
        computed: {
            isUserRightExists() {
                return _.get(this.battle, 'attack.user_right', null) !== null;
            },
            isUserLeftExists() {
                return _.get(this.battle, 'attack.user_left', null) !== null;
            },
            isBattleExists() {
                return !_.isEmpty(this.battle);
            },
            isBattleEnds() {
                return !_.isEmpty(this.battle_result);
            },
            loginLeft() {
                return _.get(this.battle, 'attack.user_left.login');
            },
            loginRight() {
                return _.get(this.battle, 'attack.user_right.login');
            },
            BODY_PART() {
                return {
                    HEAD: {
                        attack_title: 'голову',
                        block_title: 'головы',
                    },
                    CHEST: {
                        attack_title: 'грудь',
                        block_title: 'груди',
                    },
                    ABDOMEN: {
                        attack_title: 'живот',
                        block_title: 'живота',
                    },
                    GIRDLE: {
                        attack_title: 'пояс',
                        block_title: 'пояса',
                    },
                    LEGS: {
                        attack_title: 'ногам',
                        block_title: 'ног',
                    },
                };
            },
            attackInfo() {
                return this.BODY_PART;
            },
            defendInfo() {
                const bodyParts = _.keys(this.BODY_PART);
                const data = {};
                const bodyPartsDuplicate = bodyParts.concat(bodyParts);

                _.each(bodyParts, (bodyPart, i) => {
                    const keys = [];
                    const titles = [];
                    for (let j = i; j < i + (this.battle.defend_count_places || 1); j++) {
                        keys.push(bodyPartsDuplicate[j]);
                        titles.push(this.BODY_PART[bodyPartsDuplicate[j]].block_title);
                    }
                    const lastTitle = titles.splice(-1);
                    data[keys.join(',')] = {
                        block_title: `<strong>${titles.join('</strong>, <strong>')}</strong> и ` +
                        `<strong>${lastTitle}</strong>`,
                    };
                });

                return data;
            },
            enemy() {
                const teamRight = _.get(this.battle, 'attack.team.right', []);
                return _.get(this.battle, 'attack.user_right', null)
                    || teamRight.length === 1 ? _.first(teamRight) : null;
            },
            isWin() {
                return this.battle_result.victory_status === 'WIN';
            },
            isDraw() {
                return this.battle_result.victory_status === 'DRAW';
            },
            rightAction() {
                const status = this.battle_result.victory_status;
                if (this.isDraw) {
                    return status;
                }
                return this.isWin ? 'DEFEAT' : 'WIN';
            },
            user() {
                return this.$auth.user();
            },
        },
        watch: {
            autoFight(newValue) {
                if (newValue === true) {
                    this.doAutoFight();
                }
            },
        },
        methods: {
            back() {
                this.$auth.fetch();
                this.$router.replace({ name: 'inventory' });
            },
            doAutoFight() {
                if (this.autoFight && !this.isBattleEnds) {
                    this.doAutoAttack();
                }
            },
            doAutoAttack() {
                const values = _.keys(this.BODY_PART);
                const valuesDulplicate = values.concat(values);
                const attack = [];
                for (let i = 0; i < this.battle.attack_count_places; i++) {
                    attack.push(values[_.random(values.length - 1)]);
                }

                const idx = _.random(values.length - 1);
                const block = [values[idx]];
                for (let i = 1; i < this.battle.defend_count_places; i++) {
                    block.push(valuesDulplicate[idx + i]);
                }

                this.attack = attack;
                this.block = block.join(',');
                this.doAttack();
            },
            doAttack() {
                if (_.isEmpty(this.attack) || _.isEmpty(this.block)) {
                    return;
                }

                this.$apollo.mutate({
                    mutation: ATTACK,
                    variables: {
                        login: this.battle.attack.user_right.login,
                        attack: this.attack,
                        block: this.block.split(','),
                    },
                    updateQueries: {
                        battle: (previousResult, { mutationResult }) => ({
                            battle: mutationResult.data.attack,
                        }),
                    },
                })
                .then(() => {
                    this.attack = [];
                    this.block = '';
                })
                .catch(window.console.error);
            },
        },
        beforeDestroy() {
            this.$auth.fetch();
        },
        apollo: {
            $subscribe: {
                battleEnded: {
                    query: BATTLE_ENDED,
                    variables() {
                        return {
                            login: this.user.login,
                        };
                    },
                    result({ battleEnded }) {
                        this.battle_result = battleEnded;
                    },
                    skip() {
                        return this.isBattleEnds;
                    },
                },
            },
            battle: {
                query: BATTLE,
                fetchPolicy: 'network-only',
                variables() {
                    return {
                        fight_id: this.$route.params.id,
                    };
                },
                error({ graphQLErrors }) {
                    window.console.log(graphQLErrors);
                },
                skip() {
                    return this.isBattleEnds;
                },
            },
            battleLogs: {
                query: BATTLE_LOGS,
                fetchPolicy: 'network-only',
                variables() {
                    return {
                        fight_id: this.$route.params.id,
                    };
                },
                error({ graphQLErrors }) {
                    window.console.log(graphQLErrors);
                },
            },
        },
    };
</script>
