<template>
    <ul class="fight-map-logs-list">
        <li class="fight-map-logs-item" v-for="log in battleLogsOrdered" :class="schemaClass(log, index)" :key="log._id">
            <div class="fight-map-log">
                <time class="fight-map-log-time" :class="isOwnLog(log)" :datetime="log.created_at | date">
                    {{ log.created_at | date('HH:mm') }}
                </time>
                <div class="fight-map-log-description" v-html="formatLog(log)"></div>
                <div class="fight-map-log-grid" :class="{ 'is-empty': schemaClass(log, index) === 'is-red' }">
                    <span v-for="part in BODY_PART" :class="fightMapClass(log, part)"></span>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    import * as _ from 'lodash';

    export default {
        props: {
            battleLogs: {
                type: Array,
            },
            index: {
                type: Number,
            },
            user: {
                type: Object,
                default() {
                    return this.$auth.user();
                },
            },
            team: {
                type: Object,
                default() {
                    return {
                        left: [],
                        right: [],
                    };
                },
            },
        },
        methods: {
            schemaClass(log, index) {
                if (log.login) {
                    return 'is-red';
                }
                return index % 2 === 0 ? 'is-grey' : '';
            },
            isOwnLog(log) {
                return _.includes([log.login, log.defender, log.attacker], this.user.login) ? 'is-dark-red' : '';
            },
            fightMapClass(log, bodyPart) {
                const diffAttack = _.difference(log.body_part.attack, log.body_part.block);
                if (_.includes(diffAttack, bodyPart)) {
                    return 'is-light-dark';
                }
                const diffDefend = _.difference(log.body_part.block, log.body_part.attack);
                if (_.includes(diffDefend, bodyPart)) {
                    return 'is-dark-light';
                }
                const intersect = _.intersection(log.body_part.block, log.body_part.attack);
                if (_.includes(intersect, bodyPart)) {
                    return 'is-dark-dark';
                }
                return '';
            },
            renderUserTpl(login, className) {
                return `<div class="username-wrap">
                        <strong class="username ${className}">${login}</strong>
                    </div>`;
            },
            formatLog(log) {
                let [userClassAttacker, userClassDefender] = ['username-left', 'username-right'];
                if (this.user.login === log.defender ||
                    (!this.user.login && _.includes(this.team.left, log.defender)) ||
                    (log.login && (this.user.login !== log.login || _.includes(this.team.right, log.defender)))
                ) {
                    [userClassDefender, userClassAttacker] = [userClassAttacker, userClassDefender];
                }

                if (log.login) {
                    return log.log.replace('_LOGIN_', `${this.renderUserTpl(log.login, userClassAttacker)}`);
                }

                let message = log.log
                    .replace('_ATTACKER_', `${this.renderUserTpl(log.attacker, userClassAttacker)}`)
                    .replace('_DEFENDER_', `${this.renderUserTpl(log.defender, userClassDefender)}`);

                const isCritical = _.includes(['BREAK_THROUGH_BLOCK', 'CRITICAL'], log.action);

                if (_.includes(['DODGE'], log.action)) {
                    message = message.replace(
                        /(увернулся|уклонился|отскочил|отпрыгнул)/ig,
                        '<span class="avoid"><strong>$1</strong></span>',
                    );
                }
                if (isCritical) {
                    message = message.replace(/(пробив\s+блок)/ig, '<span class="block"><strong>$1</strong></span>');
                }
                if (_.isNumber(log.inflicted_damage)) {
                    message += ' <span class="fight-map-log-hp">' +
                                `<span class="${isCritical ? 'danger' : 'basic'}">-${log.inflicted_damage}</span>`;
                }

                if (!_.isEmpty(log.hp) &&
                    _.isNumber(log.hp.current) &&
                    _.isNumber(log.hp.max)
                ) {
                    message += ` [ <strong>${log.hp.current}</strong> / ${log.hp.max}]</span>`;
                }
                return message;
            },
        },
        computed: {
            BODY_PART() {
                return ['HEAD', 'CHEST', 'ABDOMEN', 'GIRDLE', 'LEGS'];
            },
            battleLogsOrdered() {
                return _.orderBy(this.battleLogs, ['created_at'], ['desc']);
            },
        },
        name: 'battle-logs',
    };
</script>
