<template>
    <div>Chaotic</div>
</template>

<script>
    import FightRequestItem from './FightRequestItem';

    export default {
        components: {
            FightRequestItem,
        },
        data() {
            return {
                fights: [],
            };
        },
    };
</script>
