<template>
    <div class="character character-action" v-if="action === 'DEFEAT'">
        <p>
            <strong>{{ loginLeft }}</strong>
            <span class="danger">повержен</span>
        </p>
        <p>
            <img src="~assets/img-shield-broken.png" alt="broken shield">
        </p>
        <p>Пал в бою с <strong>{{ loginRight }}</strong></p>
    </div>
    <div class="character character-action" v-else-if="action === 'WIN'">
        <p>
            <strong>{{ loginLeft }}</strong>
            <span class="success">Победил в бою!</span>
        </p>
        <p>
            <img src="~assets/img-shield.png" alt="shield">
        </p>
        <p>Победил противника <strong>{{ loginRight }}</strong></p>
    </div>
    <div class="character character-action" v-else-if="action === 'DRAW'">
        <p>
            <strong>{{ loginLeft }}</strong>
            <span class="danger">Ничья!</span>
        </p>
        <p>
            <img src="~assets/img-shield.png" alt="shield">
        </p>
    </div>
    <div class="character character-action" v-else>
        <p>
            <strong>{{ loginRight }}</strong>
            <span>совершает ход...</span>
        </p>
        <p>
            <img src="~assets/img-shield.png" alt="shield">
        </p>
        <p>Дождитесь хода противника</p>
    </div>
</template>

<script>
    export default {
        props: {
            action: {
                type: String,
            },
            loginLeft: {
                type: String,
            },
            loginRight: {
                type: String,
            },
        },
        name: 'character-status',
    };
</script>
