<template>
    <div>
        <div class="fight-map-board-row">
            <div class="username-wrap" v-for="user in team.left">
                <i class="icon is-small" :class="{ 'icon-sword-shadow-light': isUserEqual(user.login) }"></i>
                <span class="username username-left">
                    <strong>{{ user.login }}</strong> [{{ user.level }}]
                    <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                        <span class="info">i</span>
                    </router-link>
                    <span class="username-hp">[ <strong>{{ user.hp_current }}</strong> / {{ user.hp_max }} ]</span>
                </span>
            </div>
        </div>
        <div class="fight-map-board-row">против</div>
        <div class="fight-map-board-row">
            <div class="username-wrap" v-for="user in team.right">
                <i class="icon is-small" :class="{ 'icon-sword-shadow-light': isUserEqual(user.login) }"></i>
                <span class="username username-right">
                    <strong>{{ user.login }}</strong> [{{ user.level }}]
                    <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                        <span class="info">i</span>
                    </router-link>
                    <span class="username-hp">[ <strong>{{ user.hp_current }}</strong> / {{ user.hp_max }} ]</span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';

    export default {
        props: {
            team: {
                required: true,
                type: Object,
                default() {
                    return {
                        left: [],
                        right: [],
                    };
                },
            },
            loginLeft: {
                type: String,
            },
            loginRight: {
                type: String,
            },
        },
        methods: {
            isUserEqual(login) {
                return _.includes([this.loginLeft, this.loginRight], login);
            },
        },
        name: 'fight-user-list',
    };
</script>
