<template>
    <li class="fights-list-item">
        <div class="fight-info-wrap">
            <div class="fight-info">
                <time datetime="2004-07-24T8:02"><i class="fa fa-clock-o" aria-hidden="true"></i> 8:02</time>
                <span class="username">
                    <strong>Sem [8]</strong>
                    <span class="info">i</span>
                </span>
                <span class="fight-info-type">Тип боя: <strong>Физический</strong></span>
            </div>
        </div>
        <div class="fight-info-result">Бой окончился <strong>Победой</strong></div>
    </li>
</template>

<script>
    export default {
        name: 'fight-item',
        props: ['fightItem'],
    };
</script>
