<template>
    <div class="fight-info-wrap">
        <div class="fight-info" :class="{ 'is-over': isFightCompleted }">
            <time :datetime="fightDate | date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ fightDate | date('HH:mm') }}</time>

            <fight-team-info :team="fight.team.left"
                             :class="{ 'is-loose': isLeftTeamLose }"
                             :is-win="isLeftTeamWin"
                             :is-loose="isLeftTeamLose"></fight-team-info>

            <span class="fight-details">
                <span class="fight-info-type">
                    <i class="icon" :class="fightClass"></i><span>{{ fight.battle_type | battleType | capitalize}}</span>
                </span>
                <span class="fight-info-time" v-if="!isFightCompleted">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <strong>{{ fight.timeout }} мин.</strong>
                    <span>таймаут</span>
                </span>
            </span>

            <fight-team-info :team="fight.team.right"
                             :class="{ 'is-loose': isRightTeamLose }"
                             :is-loose="isRightTeamLose"
                             :is-win="isRightTeamWin"></fight-team-info>

            <slot name="after-user-list"></slot>
            <span class="fight-info-btn" v-if="isFightInProgress">
                <button class="btn" v-if="canDeclineFromFight" @click="refuseFight()">Отказаться</button>
                <button class="btn" v-else-if="canJoinToFight" @click="joinToFight()">Присоедениться к заявке</button>
                <button class="btn" v-else-if="canDeclineFight" @click="declineFight()">Отозвать заявку</button>
                <span v-else-if="this.isOwnFight">
                    <button class="btn" @click="respondFight(fightRequest.login, true)">Подтвердить</button>
                    <button class="btn" @click="respondFight(fightRequest.login, false)">Отказать</button>
                </span>
            </span>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';
    import { DECLINE_FIGHT, JOIN_FIGHT, REFUSE_FIGHT, FIGHT_RESPOND } from './mutations';
    import FightTeamInfo from './FightTeamInfo';

    const PARTICIPANT_TYPE = Object.freeze({
        ANY_LEVEL: 'ANY_LEVEL',
        MY_AND_LOWER_LEVEL: 'MY_AND_LOWER_LEVEL',
        LOWER_LEVEL: 'LOWER_LEVEL',
        MY_LEVEL: 'MY_LEVEL',
        MY_LEVEL_PLUS_ONE_MAX: 'MY_LEVEL_PLUS_ONE_MAX',
        MY_LEVEL_MINUS_ONE_MIN: 'MY_LEVEL_MINUS_ONE_MIN',
        MY_LEVEL_PLUS_MINUS_ONE: 'MY_LEVEL_PLUS_MINUS_ONE',
        CLAN_ONLY: 'CLAN_ONLY',
    });

    export default {
        components: {
            FightTeamInfo,
        },
        props: {
            fight: {
                required: true,
                type: Object,
            },
            ownFightId: {
                type: String,
            },
        },

        computed: {
            user() {
                return this.$auth.user();
            },
            fightDate() {
                if (this.isFightInProgress) {
                    return this.fight.created_at;
                } else if (this.isFightCompleted) {
                    return this.fight.finished_at;
                }

                return this.fight.begins_in;
            },
            isFightCompleted() {
                return this.fight.status === 'COMPLETED';
            },
            isFightInProgress() {
                return this.fight.status === 'IN_PROGRESS';
            },
            isLeftTeamLose() {
                return this.isFightCompleted && this.fight.team_winner === 'RIGHT';
            },
            isRightTeamLose() {
                return this.isFightCompleted && this.fight.team_winner === 'LEFT';
            },
            isLeftTeamWin() {
                return this.isFightCompleted && this.fight.team_winner === 'LEFT';
            },
            isRightTeamWin() {
                return this.isFightCompleted && this.fight.team_winner === 'RIGHT';
            },
            fightRequest() {
                return this.isOwnFight && _.filter(this.fight.team.right, { status: 'WAITING_FOR_APPROVE' })[0];
            },
            canDeclineFight() {
                return this.isOwnFight && !_.filter(this.fight.team.right, { status: 'WAITING_FOR_APPROVE' })[0];
            },
            canDeclineFromFight() {
                return !this.ownFightId && !this.isOwnFight && !!_.find(this.fight.team.right, {
                    status: 'WAITING_FOR_APPROVE',
                    login: this.user.login,
                });
            },
            canJoinToFight() {
                return !this.ownFightId &&
                    !this.isOwnFight &&
                    this.isLevelValid &&
                    this.user.abilities.hp_current >= (this.user.abilities.hp_max / 3) &&
                    !_.find(this.fight.team.right, { status: 'WAITING_FOR_APPROVE', login: this.user.login });
            },
            isOwnFight() {
                return this.fight.created_by.login === this.user.login;
            },
            isLevelValid() {
                const baseLevel = this.fight.created_by.level;
                const value = this.fight.right_type;
                const level = this.user.level;

                return (PARTICIPANT_TYPE.MY_LEVEL === value && baseLevel === level) ||
                    (PARTICIPANT_TYPE.ANY_LEVEL === value) ||
                    (PARTICIPANT_TYPE.MY_AND_LOWER_LEVEL === value && baseLevel >= level) ||
                    (PARTICIPANT_TYPE.LOWER_LEVEL === value && baseLevel > level) ||
                    (PARTICIPANT_TYPE.MY_LEVEL_PLUS_ONE_MAX === value && baseLevel + 1 >= level) ||
                    (PARTICIPANT_TYPE.MY_LEVEL_MINUS_ONE_MIN === value && baseLevel - 1 <= level) ||
                    (PARTICIPANT_TYPE.MY_LEVEL_PLUS_MINUS_ONE === value && Math.abs(baseLevel - level) <= 1);
            },
            fightClass() {
                if (this.fight.fight_type === 'PHYSICAL') {
                    return this.fight.battle_type === 'FISTFUL' ? 'icon-fist' : 'icon-fist-fight';
                }

                if (this.fight.fight_type === 'GROUP') {
                    return this.fight.battle_type === 'FISTFUL' ? 'icon-group' : 'icon-group-fight';
                }

                return this.fight.fight_type === 'CHAOTIC' ? 'icon-fight' : '';
            },
        },

        methods: {
            joinToFight() {
                this.$apollo.mutate({
                    mutation: JOIN_FIGHT,
                    variables: { fight_id: this.fight._id, team: 'RIGHT' },
                })
                .catch((error) => {
                    window.console.error('joinToFight', error.graphQLErrors);
                });
            },
            declineFight() {
                this.$apollo.mutate({
                    mutation: DECLINE_FIGHT,
                    variables: { fight_id: this.fight._id },
                })
                .catch((error) => {
                    window.console.error(error);
                });
            },
            refuseFight() {
                this.$apollo.mutate({
                    mutation: REFUSE_FIGHT,
                    variables: { fight_id: this.fight._id },
                })
                .catch((error) => {
                    window.console.error(error);
                });
            },
            respondFight(login, approve) {
                this.$apollo.mutate({
                    mutation: FIGHT_RESPOND,
                    variables: {
                        fight_id: this.fight._id,
                        login,
                        approve,
                    },
                })
                .catch((error) => {
                    window.console.error(error);
                });
            },
        },
        name: 'fight-request-item',
    };
</script>
