<template>
    <div class="main-wrap">
        <character :user="$auth.user()" class="character-left"></character>
        <div class="holder">
            <div class="holder-content">
                <div class="fights">
                    <header class="fights-header">
                        <span class="username"><strong>{{ $auth.user().login }}</strong> <span>[{{ $auth.user().level }}]</span></span>
                        <progress-bar>
                            XP {{ $auth.user().exp }}
                        </progress-bar>
                        <ul class="fights-nav">
                            <li>Бои:</li>
                            <router-link tag="li" :to="{ name: 'fight.physical' }">
                                <a>Физические<sup class="badge">{{ fightTypesListCount.PHYSICAL }}</sup></a>
                            </router-link>
                            <router-link tag="li" :to="{ name: 'fight.group' }">
                                <a>Групповые<sup class="badge">{{ fightTypesListCount.GROUP }}</sup></a>
                            </router-link>
                            <router-link tag="li" :to="{ name: 'fight.chaotic' }">
                                <a>Хаотичные<sup class="badge">{{ fightTypesListCount.CHAOTIC }}</sup></a>
                            </router-link>
                            <router-link tag="li" :to="{ name: 'fight.current' }">
                                <a>Текущие<sup class="badge">{{ fightTypesListCount.CURRENT }}</sup></a>
                            </router-link>
                            <router-link tag="li" :to="{ name: 'fight.finished' }">
                                <a>Завершенные<sup class="badge">{{ fightTypesListCount.FINISHED }}</sup></a>
                            </router-link>
                        </ul>
                    </header>
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ProgressBar from '@/components/Forms/ProgressBar';
    import Character from '@/components/Character';
    import { FIGHT_TYPE_LIST_COUNT } from './queries';

    export default {
        components: {
            Character,
            ProgressBar,
        },
        data() {
            return {
                user: {},
                fightTypesListCount: {
                    CHAOTIC: 0,
                    CURRENT: 0,
                    FINISHED: 0,
                    GROUP: 0,
                    PHYSICAL: 0,
                },
            };
        },
        apollo: {
            fightTypesListCount: {
                query: FIGHT_TYPE_LIST_COUNT,
                fetchPolicy: 'network-only',
            },
        },
        name: 'fight',
    };
</script>
