<template>
    <span class="username">
        <span class="username-row" v-for="(user, i) in team">
            <span v-if="isWin === true && isFirst(i)" class="flex-row">
                <i class="icon icon-flag"></i>
                <span class="username-row-inner">
                    <span class="username-row-label">
                        <span class="fight-info-result success">Победа</span>
                    </span>
                    <span class="username-box">
                        <strong :class="{ 'is-cursive': isWaitingForApprove(user.login) }">{{ user.login }} [{{user.level}}]</strong>
                        <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                            <span class="info">i</span>
                        </router-link>
                    </span>
                </span>
            </span>
            <span class="username-row-inner" v-else-if="isLoose === true && isFirst(i)">
                <span class="username-row-label">
                    <span class="fight-info-result">Поражение</span>
                </span>
                <span class="username-box">
                    <strong :class="{ 'is-cursive': isWaitingForApprove(user.login) }">{{ user.login }} [{{user.level}}]</strong>
                    <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                        <span class="info">i</span>
                    </router-link>
                </span>
            </span>
            <span v-else>
                <strong :class="{ 'is-cursive': isWaitingForApprove(user.login) }">{{ user.login }} [{{user.level}}]</strong>
                <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">
                    <span class="info">i</span>
                </router-link>
            </span>
        </span>
    </span>
</template>

<script>
    import * as _ from 'lodash';

    export default {
        props: {
            team: {
                type: Array,
                default: [],
            },
            isWin: {
                type: Boolean,
            },
            isLoose: {
                type: Boolean,
            },
        },
        methods: {
            isWaitingForApprove(login) {
                return !!_.find(this.team, { login, status: 'WAITING_FOR_APPROVE' });
            },
            isFirst(index) {
                return index === 0;
            },
        },
        name: 'fight-team-info',
    };
</script>
