<template>
    <div>
        <fight-request-item v-for="fight in orderedFights"
                            :fight="fight"
                            :key="fight.created_by.login">
            <span slot="after-user-list">
                <router-link target="_blank" :to="{ name: 'battle-full-log', params: { id: fight._id } }">
                    <i class="icon icon-arrow-right"></i>
                </router-link>
            </span>
        </fight-request-item>
    </div>
</template>

<script>
    import FIGHTS_MIXIN from './fights.mixins';
    import FightRequestItem from './FightRequestItem';

    export default {
        components: {
            FightRequestItem,
        },
        mixins: [FIGHTS_MIXIN],
    };
</script>
