<template>
    <div>
        <div class="fights-apply" v-if="canCreateFight">
            <h3><strong>Подать заявку</strong> на бой</h3>
            <form class="form form-apply" @submit.prevent="createFight">
                <div class="form-row">
                    <label for="fight-timeout">Таймаут</label>
                    <div class="select">
                        <select name="fight-timeout" id="fight-timeout" v-model="new_fight.timeout">
                            <option value="1">1 мин.</option>
                            <option value="2">2 мин.</option>
                            <option value="3">3 мин.</option>
                        </select>
                    </div>
                    <label for="battle-type">Тип боя</label>
                    <div class="select">
                        <select name="battle-type" id="battle-type" v-model="new_fight.battle_type">
                            <option value="FISTFUL">кулачный</option>
                            <option value="WEAPON">с оружием</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn box-pattern">Подать заявку</button>
                </div>
            </form>
        </div>
        <div class="fights-table">
            <fight-request-item v-for="fight in orderedFights"
                                :fight="fight"
                                :own-fight-id="getOwnFightId"
                                :key="fight.created_by.login"></fight-request-item>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';
    import { CREATE_FIGHT } from './mutations';
    import FIGHT_REJECTED_MIXIN from './mixins';
    import FIGHTS_MIXIN from './fights.mixins';
    import FightRequestItem from './FightRequestItem';

    export default {
        components: {
            FightRequestItem,
        },
        mixins: [FIGHT_REJECTED_MIXIN, FIGHTS_MIXIN],
        data() {
            return {
                fights: [],
                new_fight: {
                    timeout: '1',
                    battle_type: 'FISTFUL',
                },
            };
        },
        methods: {
            createFight() {
                this.$apollo.mutate({
                    mutation: CREATE_FIGHT,
                    variables: { ...this.new_fight, fight_type: this.$route.meta.fight_type },
                })
                .catch((error) => {
                    window.console.error(error);
                });
            },
        },
        computed: {
            getOwnFightId() {
                const ownFight = _.find(this.fights, fight => fight.created_by.login === this.$auth.user().login);
                return ownFight ? ownFight._id : null;
            },
        },
    };
</script>
