<template>
    <img v-if="item" :src="item.item.image" :title="item.item.title" :alt="item.item.title" @click.prevent="slotClick(item._id)">
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
            },
        },
        data() {
            return {};
        },
        methods: {
            slotClick(id) {
                this.$emit('character-slot-click', id);
            },
        },
        name: 'character-slot',
    };
</script>
