<template>
    <main class="main">
        <div class="content">
            <div class="bg-pattern"></div>
            <div class="container">
                <div class="main-wrap">
            <div class="character-wrap">
                <character v-if="user" :user="user"></character>
                <div class="character-bottom">
                    <div class="character-state">
                        <i class="icon icon-state" :class="user.is_online ? 'online' : 'offline'"></i>
                        <div class="character-state-info">
                            Персонаж сейчас находится
                            <span>в {{ user.location.label }}</span>
                        </div>
                    </div>
                    <ul class="character-main-info">
                        <li>
                            <span>Имя:</span> {{ user.name }}
                        </li>
                        <li>
                            <span>Город:</span> Одесса
                        </li>
                        <li>
                            <span>Пол:</span> Мужской
                        </li>
                        <li>
                            <span>Девиз:</span> Чужие глупости и собственные достижения всегда кажуться больше.
                        </li>
                        <li>
                            <span>Хобби:</span> Вело
                        </li>
                    </ul>
                </div>
            </div><!-- .character-wrap -->
            <div class="holder">
                <div class="holder-content">
                    <div class="flex-column">
                        <div class="flex-row">
                            <user-stats-column :user="user"></user-stats-column>
                            <div class="character-skills">
                                <header class="character-skills-header">
                                    <div class="character-skills-header-row">
                                        <figure class="clan-info">
                                            <span class="clan-info-img"><img src="~assets/img-clan.jpg" alt="img icon"></span>
                                            <figcaption class="clan-info-content">
                                                BoS - <strong>Глава клана</strong>
                                                <span>Сайт: <a href="#">fightclub.ru/bos</a></span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </header>
                                <div class="list-wrap">
                                    <header class="list-header">
                                        <h6>Информация об игроке</h6>
                                    </header>
                                    <ul class="list">
                                        <li class="list-item">
                                            Побед
                                            <span class="character-accordion-actions"><span class="character-accordion-action">{{ user.abilities.wins | numberThousand }}</span></span>
                                        </li>
                                        <li class="list-item">
                                            Поражений
                                            <span class="character-accordion-actions"><span class="character-accordion-action">{{ user.abilities.defeats | numberThousand }}</span></span>
                                        </li>
                                        <li class="list-item">
                                            Ничьих
                                            <span class="character-accordion-actions"><span class="character-accordion-action">{{ user.abilities.draws | numberThousand }}</span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .character-skills -->
                        </div>
                        <div class="flex-column">
                            <div class="character-rewards">
                                <div class="list-wrap">
                                    <header class="list-header">
                                        <h6>Достижения</h6>
                                    </header>
                                    <ul class="character-rewards-list">
                                        <li class="character-rewards-item">
                                            <img src="~assets/rewards/img-reward-dog.png" alt="reward">
                                            <h6 class="is-gold">Золото</h6>
                                            <p>Турнир славных</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/rewards/img-reward-horseshoe.png" alt="reward">
                                            <h6 class="is-bronze">Бронза</h6>
                                            <p>Турнир славных</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/rewards/img-reward-handwheel.png" alt="reward">
                                            <h6>Победа</h6>
                                            <p>Турнир славных</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/rewards/img-reward-dice.png" alt="reward">
                                            <h6>Победа</h6>
                                            <p>Турнир славных</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/rewards/img-reward-sword-wings.png" alt="reward">
                                            <h6>Победа</h6>
                                            <p>Турнир славных</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/rewards/img-reward-sword-bolt.png" alt="reward">
                                            <h6>Победа</h6>
                                            <p>Турнир славных</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="character-rewards character-medals">
                                <div class="list-wrap">
                                    <header class="list-header">
                                        <h6>Медали и знаки отличия</h6>
                                    </header>
                                    <ul class="character-rewards-list">
                                        <li class="character-rewards-item">
                                            <img src="~assets/medal/img-medal-bird.png" alt="medal">
                                            <h6 class="is-gold">Медаль</h6>
                                            <p>100 побед</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/medal/img-medal-wolf.png" alt="reward">
                                            <h6>Медаль</h6>
                                            <p>
                                                Драконий предел
                                            </p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/medal/img-medal-bird-bronze.png" alt="medal">
                                            <h6 class="is-bronze">Медаль</h6>
                                            <p>100 побед</p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                        <li class="character-rewards-item">
                                            <img src="~assets/medal/img-medal-wolf.png" alt="reward">
                                            <h6>Медаль</h6>
                                            <p>
                                                Драконий предел
                                            </p>
                                            <time datetime="2017-04-22">22.04.17</time>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="character-rewards character-gifts">
                                <div class="list-wrap">
                                    <header class="list-header">
                                        <h6>Подарки</h6>
                                    </header>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .holder-content -->
            </div><!-- .holder -->
        </div>
            </div>
        </div>
    </main>
</template>

<script>
    import * as _ from 'lodash';

    import UserStatsColumn from '@/components/Inventory/UserStatsColumn';

    import Character from './Character';

    export default {
        components: {
            Character,
            UserStatsColumn,
        },
        data() {
            return {
            };
        },
        mounted() {
            document.body.classList.add('page-character');
            const div1 = document.createElement('div');
            div1.className = 'bg-corner bg-corner-top';

            const div2 = document.createElement('div');
            div2.className = 'bg-corner bg-corner-bottom';

            const wrapper = document.getElementsByClassName('wrapper')[0];
            wrapper.appendChild(div1);
            wrapper.appendChild(div2);
        },
        computed: {
            user() {
                return this.$auth.user();
            },
            items() {
                return _.get(this.user, 'items.data', []);
            },
        },
    };
</script>
