<template>
    <div class="character" v-if="user">
        <div class="character-name">{{ user.login }}</div>
        <div class="character-hp">
            <span class="character-hp-progress"
                  :style="{ width: 'calc(' + hpBarWidth + '% - 4px)' }"
                  :class="hpBarColor"
            ></span>
            <span class="character-hp-value">{{ user.hp_current | numberThousand }} / {{ user.hp_max | numberThousand }}</span>
        </div>
        <div class="character-lvl">{{ user.level }}</div>
        <div class="character-info">
            <router-link target="_blank" :to="{ name: 'info', params: { login: user.login } }">i</router-link>
        </div>
        <div class="character-armor">
            <div class="character-armor-left">
                <div class="character-armor-item character-armor-head">
                    <character-slot @character-slot-click="itemClick" :item="headItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-arms">
                    <character-slot @character-slot-click="itemClick" :item="braceletItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-weapon">
                    <character-slot @character-slot-click="itemClick" :item="leftHandWeaponItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-body">
                    <character-slot @character-slot-click="itemClick" :item="armorItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-foots">
                    <character-slot @character-slot-click="itemClick" :item="beltItem"></character-slot>
                </div>
            </div>
            <div class="character-armor-right">
                <div class="character-armor-item character-armor-head">
                    <div class="character-armor-item character-armor-earrings">
                        <character-slot @character-slot-click="itemClick" :item="earningsItem"></character-slot>
                    </div>
                    <div class="character-armor-item character-armor-necklaces">
                        <character-slot @character-slot-click="itemClick" :item="amuletItem"></character-slot>
                    </div>
                    <div class="character-armor-item character-armor-rings">
                        <div class="character-armor-item character-armor-ring">
                            <character-slot @character-slot-click="itemClick" :item="ring1Item"></character-slot>
                        </div>
                        <div class="character-armor-item character-armor-ring">
                            <character-slot @character-slot-click="itemClick" :item="ring2Item"></character-slot>
                        </div>
                        <div class="character-armor-item character-armor-ring">
                            <character-slot @character-slot-click="itemClick" :item="ring3Item"></character-slot>
                        </div>
                    </div>
                </div>
                <div class="character-armor-item character-armor-arms">
                    <character-slot @character-slot-click="itemClick" :item="glovesItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-weapon">
                    <character-slot @character-slot-click="itemClick" :item="rightHandWeaponItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-body">
                    <character-slot @character-slot-click="itemClick" :item="leggingsItem"></character-slot>
                </div>
                <div class="character-armor-item character-armor-foots">
                    <character-slot @character-slot-click="itemClick" :item="footItem"></character-slot>
                </div>
            </div>
            <div class="character-armor-bottom">
                <div class="character-armor-item character-armor-runes"></div>
                <div class="character-armor-item character-armor-runes"></div>
                <div class="character-armor-item character-armor-runes"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as _ from 'lodash';

    import CharacterSlot from './CharacterSlot';

    export default {
        components: {
            CharacterSlot,
        },
        props: {
            user: {
                type: Object,
                required: true,
            },
            regen: {
                default: true,
                type: Boolean,
            },
        },
        data() {
            return {
                updateHpIdx: null,
            };
        },
        watch: {
            // eslint-disable-next-line
            'user.hp_current': function (newVal) {
                if (newVal >= this.user.hp_max && this.updateHpIdx) {
                    clearInterval(this.updateHpIdx);
                }
            },
        },
        mounted() {
            if (this.regen === true && this.user.hp_current < this.user.hp_max) {
                this.updateHpIdx = setInterval(() => {
                    this.$auth.fetch();
                }, 10000);
            }
        },
        beforeDestroy() {
            if (this.updateHpIdx) {
                clearInterval(this.updateHpIdx);
            }
        },
        methods: {
            item(type, index = 0) {
                const types = [].concat(type);
                for (let i = 0, l = types.length; i < l; i++) {
                    const items = _.filter(
                        this.items,
                        item => types[i] === item.item.item_type && item.is_dressed_on,
                    );

                    if (items[index]) {
                        return items[index];
                    }
                }

                return undefined;
            },
            itemClick(itemId) {
                this.$emit('item-click', itemId);
            },
        },
        computed: {
            headItem() {
                return this.item('HELMET');
            },
            footItem() {
                return this.item('BOOTS');
            },
            items() {
                return _.get(this.user, 'items.data', []);
            },
            glovesItem() {
                return this.item('GLOVES');
            },
            beltItem() {
                return this.item('BELT');
            },
            armorItem() {
                return this.item(['CLOAK', 'ARMOR', 'SHIRT']);
            },
            amuletItem() {
                return this.item('AMULET');
            },
            earningsItem() {
                return this.item('EARRINGS');
            },
            leggingsItem() {
                return this.item('LEGGINGS');
            },
            braceletItem() {
                return this.item('BRACELET');
            },
            rightHandWeaponItem() {
                return this.item(['SHIELD', 'KNIFE_LEFT']);
            },
            leftHandWeaponItem() {
                return this.item(['AXE', 'SWORD', 'MACE', 'KNIFE']);
            },
            ring1Item() {
                return this.item('RING');
            },
            ring2Item() {
                return this.item('RING', 1);
            },
            ring3Item() {
                return this.item('RING', 2);
            },
            hpBarWidth() {
                return (100 * this.user.hp_current) / this.user.hp_max;
            },
            hpBarColor() {
                const hpLength = this.hpBarWidth;
                let className = '';
                if (hpLength <= 33.33) {
                    className = 'is-red';
                } else if (hpLength <= 66.66) {
                    className = 'is-yellow';
                }
                return className;
            },
        },
        name: 'character',
    };
</script>
