<template>
    <div class="character-accordion-item" :class="{ 'is-opened': active }">
        <header class="character-accordion-header" :aria-expanded="active ? 'true' : 'false'"
                @click.prevent="toggle">
            <slot name="collapse-header"></slot>
            <span class="character-accordion-header-caret">caret</span>
        </header>
        <div class="character-accordion-body" v-if="active">
            <slot name="collapse-body"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'collapse',
        data() {
            return {
                active: false,
            };
        },
        props: {
            selected: {
                type: Boolean,
                default: false,
            },
        },
        mounted() {
            this.active = this.selected;
        },
        methods: {
            toggle() {
                this.active = !this.active;
            },
        },
    };
</script>
