<template>
    <navigation></navigation>
</template>

<script>
    import Navigation from './Navigation';

    export default {
        components: {
            Navigation,
        },
        name: 'location',
    };
</script>
