<template>
    <div class="location">
        <div class="location-holder">
            <img src="~assets/location/img-location.png" alt="Main square">
            <div class="location-building location-post">
                <img src="~assets/location/img-post.png" alt="Post">
            </div>
            <div class="location-building location-shop">
                <img src="~assets/location/img-shop.png" alt="Shop">
            </div>
            <div class="location-building location-shop-2">
                <img src="~assets/location/img-shop-2.png" alt="Shop 2">
            </div>
            <div class="location-building location-sphere">
                <img src="~assets/location/img-sphere.png" alt="Sphere">
            </div>
            <div class="location-building location-board">
                <img src="~assets/location/img-board.png" alt="Board">
            </div>
            <div class="location-building location-club">
                <img src="~assets/location/img-club.png" alt="Club">
            </div>
            <div class="location-building location-forge">
                <img src="~assets/location/img-forge.png" alt="Forge">
            </div>
        </div>
        <nav class="location-nav">
            <ul class="location-nav-list">
                <li class="location-nav-list-item"><a href="#">Турнирная улица</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Улица правосудия</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Парковая улица</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Страшилкина улица</a></li>
            </ul>
            <ul class="location-nav-list">
                <li class="location-nav-list-item"><a href="#">Магазин</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Комиссионка</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Почта</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Ремонтная мастерская</a></li>
                <li class="location-nav-list-item"><span class="divider"><span>divider</span></span></li>
                <li class="location-nav-list-item"><a href="#">Здание клуба</a></li>
            </ul>
            <div class="progress-bar">
                <div class="progress-bar-current" style="width: 75%;"></div>
            </div>
        </nav>
    </div>
    <!--<div class="navigation-container clearfix" :style="{ 'background-image': 'url(' + location.image + ')' }">
        <span v-for="(object, i) in location.objects" class="location-object"
              :title="object.label"
              :key="i"
              @click="objectClick" :style="objectStyle(object)">
            <img class="location-image" :src="object.image" :alt="object.label"/>
        </span>
        <span v-for="loc in location.can_move"
              @click="moveToLocation(loc)" :class="'location-route-' + loc.order" class="location-route"
              :placement="loc.order > 2 ? 'left' : 'right'"
              :title="loc.label">
            <template #locaTemplate><strong>{{loc.label }}</strong><div> Сейчас в комнате: {{loc.users_count}}</div></template>
        </span>
    </div>-->
</template>

<style lang="scss">
    .location-building {
        transition: filter .2s;
        &:hover {
            filter: drop-shadow(5px 5px 3px rgba(255, 255, 255, 0.5))
                    drop-shadow(-5px -5px 3px rgba(255, 255, 255, 0.5))
                    drop-shadow(-1px -1px rgba(255, 255, 255, 0.5));
        }
    }
</style>

<script>
    export default {
        computed: {
            location() {
                return this.$auth.user().location;
            },
        },
        mounted() {
            document.body.classList.add('page-location');
        },
        beforeDestroy() {
            document.body.classList.remove('page-location');
        },
        methods: {
            objectMouseOver($event) {
                const image = $event.currentTarget;
//                if ('getContext' in document.createElement('canvas')) {
                    this.canvasGlow(image);
                    this.canvasGlow(image);
                    this.canvasGlow(image);
//                } else {
//                    this.filters = image.filters;
//                    if (this.filters) {
//                        this.filters = this.filters.Glow;
//                        if (this.filters) {
//                            this.filters.Enabled = true;
//                        }
//                    } else {
//                        image.style.backgroundColor = 'rgba(255,0,0,.3)';
//                    }
//                }
//                const prop = document.getElementById(`b${image.id}`);
//                if (!this.from_map && image.id.match(/mo_(\d)/) && prop) {
//                    const runtime = prop.runtimeStyle;
//                    if (runtime) {
//                        runtime.color = '#666';
//                    }
//                }
            },

            canvasGlow(image) {
                const canvas = document.getElementById(`${image.id}-canvas`);
                if (canvas) {
                    const context = canvas.getContext('2d');
                    const pic = new Image();
                    pic.src = image.src;
                    // eslint-disable-next-line
                    pic.onload = function () {
                        context.drawImage(this, Math.floor(8) / 2, Math.floor(8) / 2);
                    };

                    context.shadowColor = '#fff' || '#cc0000';
                    context.shadowBlur = 8;
                    context.shadowOffsetX = 0;
                    context.shadowOffsetY = 0;

                    context.stroke();
                    context.fill();
                }
            },

            objectMouseOut($event) {
                const image = $event.currentTarget;
//                if (document.createElement('canvas').getContext) {
                    this.canvasClear(image);
//                } else {
//                    this.filters = image.filters;
//                    if (this.filters) {
//                        this.filters = this.filters.Glow;
//                        if (this.filters) {
//                            this.filters.Enabled = false;
//                        }
//                    } else {
//                        image.style.backgroundColor = '';
//                    }
//                }
//                const el = document.getElementById(`b${image.id}`);
//                if (!this.from_map && image.id.match(/mo_(\d)/) && el) {
//                    const runtime = el.runtimeStyle;
//                    if (runtime) {
//                        runtime.color = el.style.color;
//                    }
//                }
            },

            canvasClear(image) {
                const canvas = document.getElementById(`${image.id}-canvas`);
                if (canvas) {
                    const context = canvas.getContext('2d');
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    const w = canvas.width;
                    canvas.width = 1;
                    canvas.width = w;
                }
            },

            objectClick() {
                window.console.warn('Осторожно, ведутся работы!');
            },
        },
        name: 'navigation',
    };
</script>
