<template>
    <div>
        <navbar></navbar>
        <app-main></app-main>
    </div>
</template>

<script>
    import Navbar from '@/components/layout/Navbar';
    import AppMain from '@/components/layout/AppMain';

    export default {
        components: {
            Navbar,
            AppMain,
        },
        name: 'app',
    };
</script>
