<template>
    <div class="wrapper" id="app" v-if="$auth.ready()">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'app',
    };
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Kameron:700|Open+Sans:800|Slabo+27px');
    @import 'scss/all';
</style>
