/* region #COLORS */
$color-text: #515151;
$color-black: #000;
$color-white: #fff;
$color-dark: #181a1a;

$color-light: #dddedf;
$color-light-grey: #f6f6f6;
$color-middle-grey: #e5e7e8;
$color-grey: #727272;
$color-blue: #015aad;
$color-navy-blue: #406a99;
$color-dark-navy-blue: #375576;
$color-red: #de0604;
$color-dark-red: #a20000;
$color-burgundy: #7e0000;
$color-green: #4c6f26;
$color-light-green: #639022;
$color-gold: #a17f44;
$color-darken: #110905;

/* endregion #COLORS */