/* region #VARS */
// Fonts
$font-family-base: Tahoma, Verdana, Segoe, sans-serif;
$font-size-base: 11px;
$font-family-kameron: "Kameron", Georgia, Times, serif;
$font-family-os-extra-bold: "Open Sans", Tahoma, sans-serif;
$font-family-slabo-27px: "Slabo 27px", Georgia, serif;

// Path
$img-path: "assets";

// Breakpoints
$desktop-large: "(min-width: 1281px)";
$desktop: "(min-width: 1025px)";
$desktop-small: "(min-width: 1025px) and (max-width: 1280px)";
$tablet-to-desktop: "(min-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";

/* endregion #VARS */