<template>
    <div class="date-drop-down form-inline">
        <select v-model="day" ref="daySelect" class="form-control" @change="updateDate()">
            <option v-for="day in days" :value="day">{{ day }}</option>
        </select>
        <select v-model="month" ref="monthSelect" class="form-control" @change="updateDate()">
            <option v-for="(month, index) in months" :value="index">{{ month }}</option>
        </select>
        <select v-model="year" ref="yearSelect" class="form-control" @change="updateDate()">
            <option v-for="year in years" :value="year">{{ year }}</option>
        </select>
    </div>
</template>

<script>
    import _ from 'lodash';
    import moment from 'moment';

    export default {
        props: {
            value: String,
            startYear: {
                type: Number,
                default: 1900,
            },
            endYear: {
                type: Number,
                default() {
                    return moment().year();
                },
            },
        },
        data() {
            return {
                day: null,
                month: null,
                year: null,
                days: [],
                months: [],
                years: [],
            };
        },
        methods: {
            pad(number) {
                if (number < 10) {
                    return `0${number}`;
                }
                return number;
            },
            updateDate() {
                this.$emit('input', [
                    this.year,
                    this.pad(this.month + 1),
                    this.pad(this.day),
                ].join('-'));
            },
        },
        mounted() {
            this.days = _.range(1, 32);
            this.months = moment.months();
            this.years = _.range(this.endYear, this.startYear - 1, -1);
            let date = null;
            if (this.value.length > 0 && moment(this.value).isValid()) {
                date = new Date(Date.parse(this.value));
            }
            this.day = date ? date.getUTCDate() : 1;
            this.month = date ? date.getUTCMonth() : 0;
            this.year = date ? date.getUTCFullYear() : this.endYear;
            this.updateDate();
        },
        name: 'date-drop-down',
    };
</script>
