<template>
    <div class="cl-md-4 col-md-offset-4">
        <h1 class="is-title is-bold">Login</h1>

        <div class="box">
            <div v-show="error" style="color:red; word-wrap:break-word;">{{ error }}</div>
            <form v-on:submit.prevent="login">
                <label class="label">Email</label>
                <p class="control">
                    <input v-model="credentials.username" class="input" type="text"
                           placeholder="email@example.org">
                </p>
                <label class="label">Password</label>
                <p class="control">
                    <input v-model="credentials.password" class="input" type="password" placeholder="password">
                </p>
                <hr>
                <p class="control">
                    <button type="submit" class="button is-primary">Login</button>
                    <button class="button is-default">Cancel</button>
                </p>
            </form>
            <div class="row"><router-link :to="{ name: 'signup' }">Sign-Up</router-link></div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                credentials: {
                    username: null,
                    password: null,
                },
                error: null,
            };
        },
        methods: {
            login() {
                const redirect = this.$auth.redirect();
                this.$auth.login({
                    body: this.credentials,
                    redirect: { name: redirect ? redirect.from.name : 'inventory' },
                    error(err) {
                        if (err.response) {
                            // The request was made, but the server responded with a status code
                            // that falls out of the range of 2xx
                            // console.log(err.response.status)
                            // console.log(err.response.data)
                            // console.log(err.response.headers)
                            this.error = err.response.data.message;
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            window.console.log('Error', err.message);
                        }
                        window.console.log(err.config);
                    },
                });
            },
        },
    };
</script>
