<template>
    <div class="cl-md-4 col-md-offset-4">
        <h1 class="is-title is-bold">Sign Up</h1>
        <div class="row">
            <div v-show="error" class="alert alert-danger" role="alert">{{ error }}</div>
            <form v-on:submit.prevent="signup" class="form-horizontal" ref="signUpForm">
                <div :class="{'has-error': $v.user.email.$error, 'form-group': true}">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6"><input v-model="user.email" class="form-control" type="email"
                                                 placeholder="email@example.org" @blur="$v.user.email.$touch()">
                        <span v-show="$v.user.email.$error && !$v.user.email.required" class="help-block has-error">Email address is required</span>
                        <span v-show="!$v.user.email.email" class="help-block has-error">Invalid email address</span>
                    </div>
                </div>
                <div :class="{'has-error': $v.user.login.$error, 'form-group': true}"><label
                        class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-6"><input v-model="user.login" class="form-control"
                                                 placeholder="Your login" @blur="$v.user.login.$touch()">
                        <span v-show="$v.user.login.$error && !$v.user.login.required" class="help-block has-error">Login is required</span>
                        <span v-show="$v.user.login.$error && !$v.user.login.minLength" class="help-block has-error">Login is less than {{ $v.user.login.$params.minLength.min
                            }} characters long</span>
                    </div>
                </div>
                <div :class="{'has-error': $v.user.name.$error, 'form-group': true}"><label
                        class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6"><input v-model="user.name" class="form-control"
                                                 placeholder="Your name" @blur="$v.user.name.$touch()">
                        <span v-show="$v.user.name.$error && !$v.user.name.required" class="help-block has-error">User name is required</span>
                        <span v-show="$v.user.name.$error && !$v.user.name.minLength" class="help-block has-error">Login is less than {{ $v.user.name.$params.minLength.min
                            }} characters long</span>
                    </div>
                </div>
                <div :class="{'has-error': $v.user.birthday.$error, 'form-group': true}"><label
                        class="col-sm-2 control-label">Birthday</label>
                    <div class="col-sm-6">
                        <date-drop-down v-model="user.birthday" :startYear="1900" :endYear="2000" @change="$v.user.birthday.$touch()"></date-drop-down>
                        <span v-show="!$v.user.birthday.required" class="help-block has-error">Required field</span>
                        <span v-show="!$v.user.birthday.isValidDate" class="help-block has-error">Birthday date invalid</span>
                    </div>
                </div>
                <div :class="{'has-error': $v.user.sex.$error, 'form-group': true}"><label
                        class="col-sm-2 control-label">Sex</label>
                    <div class="col-sm-6">
                        <select v-model="user.sex" class="form-control" @blur="$v.user.email.$touch()">
                            <option disabled value="">Выберите один из вариантов</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                        <span v-show="$v.user.sex.$error" class="help-block has-error">Sex is required</span>
                    </div>
                </div>
                <div :class="{'has-error': $v.user.password.$error, 'form-group': true}"><label
                        class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6"><input v-model="user.password" class="form-control" type="password"
                                                 placeholder="password">
                        <span v-show="$v.user.password.$error" class="help-block has-error">Invalid password</span>
                        <span v-show="$v.user.password.$error && !$v.user.password.minLength"
                              class="help-block has-error">Login is less than {{ $v.user.password.$params.minLength.min
                            }} characters long</span>
                    </div>
                </div>
                <div :class="{'has-error': $v.user.repeatPassword.$error, 'form-group': true}"><label
                        class="col-sm-2 control-label">Repeat password</label>
                    <div class="col-sm-6"><input v-model="user.repeatPassword" class="form-control" type="password"
                                                 placeholder="password" @blur="$v.user.repeatPassword.$touch()">
                        <span v-show="$v.user.repeatPassword.$error" class="help-block has-error">Both passwords must be the same</span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-2">
                        <button class="btn btn-success">Signup</button>
                        <button class="btn btn-danger" @click.prevent="cancel">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-prototype-builtins */

    import * as _ from 'lodash';
    import moment from 'moment';
    import { validationMixin } from 'vuelidate';
    import { required, minLength, email, sameAs } from 'vuelidate/lib/validators';

    import DateDropDown from '@/components/utils/DateDropDown';

    import { REGISTER_USER } from './mutations';

    export default {
        components: {
            DateDropDown,
        },
        mixins: [validationMixin],
        data() {
            return {
                user: {
                    email: '',
                    login: '',
                    name: '',
                    sex: '',
                    birthday: '',
                    password: '',
                    repeatPassword: '',
                },
                error: '',
                skipFields: [
                    'repeatPassword',
                ],
            };
        },
        validations: {
            user: {
                email: {
                    required,
                    email,
                },
                login: {
                    required,
                    minLength: minLength(4),
                },
                name: {
                    required,
                    minLength: minLength(4),
                },
                sex: {
                    required,
                },
                birthday: {
                    required,
                    isValidDate(date) {
                        if (date === '') {
                            return true;
                        }
                        return moment(date).isValid();
                    },
                },
                password: {
                    required,
                    minLength: minLength(6),
                },
                repeatPassword: {
                    sameAsPassword: sameAs('password'),
                },
            },
        },
        methods: {
            signup() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.$apollo.mutate({
                        mutation: REGISTER_USER,
                        variables: {
                            signUpUser: _.pickBy(this.user, (value, key) => !_.includes(this.skipFields, key)),
                        },
                    }).then((response) => {
                        const user = _.get(response, 'data.registerUser');
                        if (!user || !user.hasOwnProperty('id')) {
                            throw new Error('User sign-up failed');
                        }
                        return user;
                    }).then(() => {
                        this.$router.push({ name: 'login' });
                    }).catch(window.console.error);
                }
            },
            cancel() {
                this.$refs.signUpForm.reset();
                this.$router.push({ name: 'login' });
            },
        },
    };
</script>

<style lang="scss">

</style>
