/* region #character */
.clan-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  height: 30px;
  width: 100%;

  &-img {
    display: block;
    background: url("#{$img-path}/bg/bg-clan-icon.jpg") no-repeat;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-right: 8px;
    overflow: hidden;
  }

  &-content {
    span {
      display: block;
      color: #858585;

      a {
        color: inherit;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.character-rewards {
  &-list {
    display: flex;
    flex-flow: row nowrap;
    margin: 24px -12px;
  }

  &-item {
    margin: 0 12px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    max-width: 61px;
    color: #7b7b7b;
    font: {
      size: 11px;
    }

    img {
      display: block;
      height: 61px;
      width: 60px;
      margin: 0 0 8px;
    }

    h6 {
      text-transform: uppercase;

      &.is-gold {
        color: #ba9b2e !important;
      }

      &.is-bronze {
        color: #947e66 !important;
      }
    }

    h6,
    time {
      color: #c7c7c7;
      font: {
        size: 10px;
      }
    }

    p,
    h6 {
      margin: 0;
    }
  }

  &:first-child {
    margin-top: 40px;
  }
}

.character-medals {
  img {
    width: 59px;
  }
}

.character-state {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 32px 0;

  &-info {
    color: #858585;
    text-align: left;
    margin-left: 10px;
    font: {
      size: 11px;
    }

    span {
      color: $color-dark;
      display: block;
      line-height: 1.25;
      font: {
        size: 13px;
      }
    }
  }
  .icon-state {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 5px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }

    &.online {
      &:after {
        background: linear-gradient(to bottom, #95c94a 0%, #1f984c 100%);
      }
    }

    &.offline {
      &:after {
        background: linear-gradient(to bottom, #d0afaf 0%, #c94a4a 100%);
      }
    }
  }
}

.character-main-info {
  padding-left: 32px;

  li {
    display: flex;
    flex-flow: row nowrap;
    color: $color-dark;
    font: {
      size: 12px;
    }
    line-height: 1.5;
    text-align: left;
    margin: 0 0 4px;

    span {
      color: #858585;
      min-width: 72px;
    }
  }
}

.character-side-img {
  width: 312px;
}

.circle-clack {
  height: 281px;
  width: 283px;
  margin: -41px auto 56px;
}

.circle-light {
  height: 312px;
  width: 312px;
}

/* endregion #character */