/* region #fights */
.fights {
  flex: 1;
  overflow: hidden;
  font: {
    size: 13px;
  }
  color: $color-text;
  line-height: 24px;
  position: relative;
  z-index: 1;

  &-header {
    margin: 0 0 48px;
  }

  &-table {
    &-btn {
      text-align: center;
      margin: 30px 0 15px;

      .btn {
        padding: 8px 30px;
      }
    }
  }

  .username {
    display: inline-block;
    vertical-align: middle;
    color: $color-black;

    span:not(.info) {
      color: $color-grey;
    }
  }

  &-actions {
    background: url("#{$img-path}/bg/bg-character-progress-empty.png") no-repeat;
    display: inline-block;
    margin-left: 6px;
    height: 30px;
    width: 179px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    &-value {
      line-height: 14px;
      font-size: 9px;
      font-weight: bold;
      color: $color-light-grey;
      text-shadow: 1px 1px 1px $color-grey;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  time {
    font-size: 11px;
    display: inline-block;
    color: $color-grey;
  }

  &-list {
    margin: 16px 16px 0;

    &-item {
      list-style: none;
      overflow: hidden;

      .fight-info-wrap {
        background: none;
        float: left;
        width: calc(100% - 200px);

        &:last-child {
          padding: 0 0 16px;
        }
      }
    }
  }

  &-buttons {
    margin: 32px 0;
    text-align: center;
  }
}

/* endregion #fights */