/* region #shop */
.shop {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  &-aside {
    padding-left: 16px;
    width: 230px;

    .btn-black {
      margin: 0 0 24px;
      width: 100%;
    }
  }

  &-content {
    flex: 1;

    &-header,
    &-subheader {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    &-subheader {
      background: $color-white;
      border-bottom: 2px solid #dadada;
      box-shadow: 0 2px 2px 0 rgba(#b6b8b9, .7);
      padding: 10px 19px;
      flex-flow: column nowrap;
      margin: 32px 0 0;
    }
  }

  h1 {
    flex: 1;
    text-align: center;
    font: {
      size: 20px;
      weight: normal;
    }
    text-transform: uppercase;
    margin: 0;
  }

  .inventory-list {
    flex-wrap: wrap;
    margin: 0;
  }

  .inventory-item {
    border-radius: 4px 0 0 4px;
    flex: 1 0 50%;
    height: auto;
    width: auto;
    padding: 0;
    margin: 6px 0 0;
    overflow: visible;
    border: 0;

    &.is-selected,
    &:hover {
      background: linear-gradient(to right,#e1e1e1 0, #eef0f1 100%);

      .inventory-item-box {
        box-shadow: inset 1px 0 1px 0 rgba($color-dark, .15);
      }
    }

    .separator {
      top: 0;
      margin: 2px 0 0;
      opacity: .5;
    }

    &-name {
      margin: 0;
    }

    &-box {
      border-radius: inherit;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &-img {
      width: 40px;
    }
  }
}

/* endregion #shop */