<template>
    <span class="bar" :class="'bar-' + type">
        <span class="bar-progress">
            <span class="bar-progress-line" style="width: 100%;"></span>
        </span>
        <span class="bar-value"><slot></slot></span>
    </span>
</template>

<script>
    import * as _ from 'lodash';

    export default {
        props: {
            type: {
                type: String,
                default: 'default',
                validator: value => _.includes(['default', 'yellow', 'green', 'red', 'blue'], value),
            },
        },
        name: 'progress-bar',
    };
</script>
